{% extends "../../base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../left-navbar.html" %}
<!-- 용접기 제품 - CO2 용접기 -->
<div class="welding-product">
    <tr>
        <td width="750">
            <img src="/static/imgs/product_info/welding_machine/CO2/miracle500A/sub2_navi.gif" width="745" height="35"
                alt="" style="padding-left: 20px;">
        </td>
    </tr>
    <div class="title"> 2D PLASMA</div>
    <td width="750">
        <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td>

                        <p><img src="{% static 'imgs/product_info/cutter/2d/2d.gif' %}" width="750" height="320"
                                border="0"></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><img src="{% static 'imgs/product_info/cutter/2d/sub2_03_1.gif' %}" width="750" height="45"
                                border="0"></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="margin-right:30px; margin-left:1rem;">고속 운동성과 고품질 절단으로 생산성을 향상시킨 플라즈마 전용 절단기로서, 토치부의 경량화에
                            의한 총 가공시간의 단축으로 생산성 향상을 실현하였고, Bevel 절단용 토치 각도 ±45도를 확보함으로써, 절단 생산비율 향상에 효과를 발휘하고 있습니다.</p>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <p><img src="{% static 'imgs/product_info/cutter/sub2_m_08.gif' %}" width="750" height="45"
                                alt=""></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" width="93%" style="margin-left: 22px; margin-right: 40px;">
                            <tbody>
                                <tr>
                                    <td width="375"
                                        style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;"
                                        bgcolor="#E6EDF1" colspan="2" height="27">
                                        <p align="center"><b>EFFECTIVE CUTTING LENGTH</b></p>
                                    </td>
                                    <td width="320"
                                        style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;"
                                        height="27">
                                        <p align="center">40,000~60,000mm(OPTION)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="375"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                        bgcolor="#E6EDF1" colspan="2" height="27">
                                        <p align="center"><b>CUTTING WITDH</b></p>
                                    </td>
                                    <td width="320"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                        height="27">
                                        <p align="center">5,500~11,000mm(OPTION)<br>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="177"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                        bgcolor="#E6EDF1" height="81" rowspan="3">

                                        <p align="center"><b>SPEED</b></p>
                                    </td>
                                    <td width="197" bgcolor="#E6EDF1"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                        height="27">
                                        <p align="center"><b>CUTTING
                                            </b></p>
                                    </td>
                                    <td width="320"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                        height="27">
                                        <p align="center">0~6,000mm/Min<br>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="197" height="27" bgcolor="#E6EDF1"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                        <p align="center"><b>RAPID
                                            </b></p>
                                    </td>
                                    <td width="320" height="27"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                        <p align="center">24,000mm/Min<br>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="197" height="27" bgcolor="#E6EDF1"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                        <p align="center"><b>LINE MARKING
                                            </b></p>
                                    </td>
                                    <td width="320" height="27"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                        <p align="center">24,000mm/Min<br>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="177" height="54" bgcolor="#E6EDF1"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                        rowspan="3">
                                        <p align="center"><b>DRIVE SYSTEM</b></p>
                                    </td>
                                    <td width="197" height="27" bgcolor="#E6EDF1"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                        <p align="center"><b>LONGITUDINAL</b></p>
                                    </td>
                                    <td width="320" height="27"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                        <p align="center">DUAL SIDE RACK &amp; PINION DRIVE<br>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="197" bgcolor="#E6EDF1"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                        height="27" rowspan="2">
                                        <p align="center"><b>TRANSVERSE</b></p>
                                    </td>
                                    <td width="320"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                        height="13">
                                        <p align="center">TORCH CARRIAGE MOVING</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="320" height="13"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                        <p align="center">RACK &amp; PINION DRIVE<br>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="375"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                        bgcolor="#E6EDF1" colspan="2" height="27">

                                        <p align="center"><b>CNC CONTROLLER

                                            </b></p>
                                    </td>
                                    <td width="320"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                        height="27">
                                        <p align="center">FANUC, UNICOM21<br>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="375" bgcolor="#E6EDF1"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                        colspan="2" height="27">
                                        <p align="center"><b>PLASMA POWER SOURCE</b></p>
                                    </td>
                                    <td width="320"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                        height="27">
                                        <p align="center">200 ~ 440A<br>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="375" bgcolor="#E6EDF1"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                        colspan="2" height="27">
                                        <p align="center"><b>FUME COLLECTOR

                                            </b></p>
                                    </td>
                                    <td width="320"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                        height="27">
                                        <p align="center">150㎥/Min<br>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="375"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                        bgcolor="#E6EDF1" colspan="2" height="27">
                                        <p align="center"><b>TORCH BEVELING ANGLE</b></p>
                                    </td>
                                    <td width="320"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                        height="27">
                                        <p align="center">±45도<br>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="375"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;"
                                        bgcolor="#E6EDF1" colspan="2" height="27" rowspan="2">
                                        <p align="center"><b>CUTTING SHAPE</b></p>
                                    </td>
                                    <td width="320"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                        height="13">
                                        <p align="center">I-Cutting<br>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="320" height="13"
                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                                        <p align="center">BEVEL-Cutting</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</div>
{% endblock %}