{% extends "../../base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../left-navbar.html" %}
<!-- 용접기 제품 - CO2 용접기 -->
<div class="welding-product">
    <tr>
        <td width="750">
            <img src="{% static 'imgs/page_intro/ko/3d_link.gif' %}" width="745" height="35"
                alt="" style="padding-left: 20px;">
        </td>
    </tr>
    <div class="title"> 3D LINK PLASMA</div>
    <tr>
        <td width="750">
            <table id="Table_01" width="755" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td colspan="3" width="755">

                            <p><img src="{% static 'imgs/product_info/cutter/3d/sub2_03_sub2_1.gif' %}" width="750"
                                    height="320" border="0"></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" width="755">
                            <p><img src="{% static 'imgs/product_info/cutter/3d/sub2_03_1.gif' %}" width="750"
                                    height="45" border="0"></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" width="755">
                            <ul>
                                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:20;">
                                    3D-LINK TYPE PLASMA BEVEL CUTTING SYSTEM 장착.<br></li>
                                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:20;">
                                    고품질, 고속 PLASMA [SUPER-400] / [SUPER-400 PLUS] 탑재.<br></li>
                                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:20;">
                                    고출력 장수명의 플라즈마 전극 사용/ 신형 PC-NC 제어 장치 [HYBRID-D80] 탑재.<br></li>
                                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:20;">동시
                                    6축 제어 기능 / 12mm의 두께를 최대로 4,000mm/분의 고속 절단.<br></li>
                                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:20;">유효
                                    절단 폭 : 3.1m, 3.6m 이상은 OPTION 사양 / 전극파괴 감지장치 (OPTION 사양).</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" width="755">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3" width="755">
                            <p><img src="{% static 'imgs/product_info/cutter/3d/sub2_m_08.gif' %}" width="750"
                                    height="45" alt=""></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" width="755">
                            <table cellpadding="0" cellspacing="0" width="93%"
                                style="margin-left: 22px; margin-right: 40px;">
                                <tbody>
                                    <tr>
                                        <td width="337"
                                            style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;"
                                            bgcolor="#E6EDF1" colspan="2" height="29">
                                            <p align="center"><b>용도</b></p>
                                        </td>
                                        <td width="357"
                                            style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;"
                                            height="29">

                                            <p align="center">GAS / PLASMA 절단</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="168"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                            bgcolor="#E6EDF1" height="58" rowspan="2">

                                            <p align="center"><b>구동방식</b></p>
                                        </td>
                                        <td width="168" bgcolor="#E6EDF1"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                            height="29">
                                            <p align="center"><b>X축
                                                </b></p>
                                        </td>
                                        <td width="357"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                            height="29">

                                            <p align="center">랙 &amp; 피니언<br>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="168" height="29" bgcolor="#E6EDF1"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                            <p align="center"><b>Y축</b></p>
                                        </td>
                                        <td width="357" height="29"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">랙 &amp; 피니언 양축</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="337" height="26" bgcolor="#E6EDF1"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                            colspan="2">
                                            <p align="center"><b>레일 폭(mm)</b></p>
                                        </td>
                                        <td width="357" height="26"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">3,100 ~ 10,500</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="168" height="57" bgcolor="#E6EDF1"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                            rowspan="2">
                                            <p align="center"><b>유효절단폭(mm)</b></p>
                                        </td>
                                        <td width="168" height="29" bgcolor="#E6EDF1"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                            <p align="center"><b>GAS</b></p>
                                        </td>
                                        <td width="357" height="29"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">레일폭 - 600</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="168" bgcolor="#E6EDF1"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                            height="28">
                                            <p align="center"><b>PLASMA</b></p>
                                        </td>
                                        <td width="357"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                            height="28">
                                            <p align="center">레일폭 - 1,500</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="337"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                            bgcolor="#E6EDF1" colspan="2" height="29">

                                            <p align="center"><b>절단 속도(mm/min)</b></p>
                                        </td>
                                        <td width="357"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                            height="29">
                                            <p align="center">100 ~ 6,000</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="337" bgcolor="#E6EDF1"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                            colspan="2" height="29">

                                            <p align="center"><b>이동 속도(mm/min)</b></p>
                                        </td>
                                        <td width="357"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                            height="29">
                                            <p align="center">18,000 ~ 27,000</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="337" bgcolor="#E6EDF1"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                            colspan="2" height="29" rowspan="2">
                                            <p align="center"><b>절단형상</b></p>
                                        </td>
                                        <td width="357"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                            height="14">
                                            <p align="center">수직 절단 (I-CUTTING)</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="357" height="14"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">개선 절단 (BEVEL-CUTTING)</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="337" height="29" colspan="2" bgcolor="#E6EDF1"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                            <p align="center"><b>CNC</b></p>
                                        </td>
                                        <td width="357" height="29"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">HYBRID - D80</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="337" height="29" colspan="2" bgcolor="#E6EDF1"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                            rowspan="2">
                                            <p align="center"><b>레일</b></p>
                                        </td>
                                        <td width="357" height="14"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">37Kg/m (3m단위)</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="357" height="14"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">기본 9m</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="337" height="29" colspan="2" bgcolor="#E6EDF1"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                            <p align="center"><b>유효 절단 길이(mm)</b></p>
                                        </td>
                                        <td width="357" height="29"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">레일 - 2,500</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="337" height="29" colspan="2" bgcolor="#E6EDF1"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                            <p align="center"><b>가스 토치</b></p>
                                        </td>
                                        <td width="357" height="29"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">기본 4EA / 최대 10EA</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="337"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                            bgcolor="#E6EDF1" colspan="2" height="29">
                                            <p align="center"><b>PLASMA</b></p>
                                        </td>
                                        <td width="357"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                            height="29">
                                            <p align="center">SUPER-400 / SUPER-400 PLUS</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="337"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;"
                                            bgcolor="#E6EDF1" colspan="2" height="58" rowspan="4">
                                            <p align="center"><b>선택사항</b></p>
                                        </td>
                                        <td width="357"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                            height="9">
                                            <p align="center">자동 점화</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="357" height="9"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">물 분사장치</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="357" height="9"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">마킹 토치</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="357" height="29"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">AUTO NESTING PROGRAM</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" width="755">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3" width="755">
                            <p><img src="{% static 'imgs/product_info/cutter/3d/sub2_03_sub2_2.gif' %}" width="750"
                                    height="45" border="0"></p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <table cellpadding="0" cellspacing="0" width="93%"
                                style="margin-left: 22px; margin-right: 40px;">
                                <tbody style="width:300px !important;">
                                    <tr>
                                        <td style="width:300px;border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;"
                                            height="29">
                                            <p align="center">10.4、VCA COLOR DSTN LCD DISPLAY<br>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="29"
                                            style="width:300px;border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">60GB HDD / 1.4MB FDD<br>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:300px;border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                            height="29">
                                            <p align="center">433MHz CELERON CPU<br>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:300px;border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                            height="9">
                                            <p align="center">256MB RAM<br>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="9"
                                            style="width:300px;border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">2 X R232C(RS-244) 통신포트<br>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="9"
                                            style="width:300px;border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">WINDOW98 또는 XP<br>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="29"
                                            style="width:300px;border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">USB 포트</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td width="210" valign="top">
                            <ul style="padding-inline-start:25px">
                                <li style="list-style-image:url('images/icon.gif');">5개의 도형패턴<br>
                                </li>
                                <li style="list-style-image:url('images/icon.gif');">반복절단/직선배열<br>
                                </li>
                                <li style="list-style-image:url('images/icon.gif');">피어싱 지점을 지정해 이동<br>
                                </li>
                                <li style="list-style-image:url('images/icon.gif');">소모품 사용시간 측정 기능<br>
                                </li>
                                <li style="list-style-image:url('images/icon.gif');">수동 네스팅<br>
                                </li>
                                <li style="list-style-image:url('images/icon.gif');">공구 교환 가능<br>
                                </li>
                                <li style="list-style-image:url('images/icon.gif');">인치/매트릭 프로그래밍<br>
                                </li>
                                <li style="list-style-image:url('images/icon.gif');">부재 회전/확대/축소<br>
                                </li>
                                <li style="list-style-image:url('images/icon.gif');">지그재그 배열/네스팅 배열<br>
                                </li>
                                <li style="list-style-image:url('images/icon.gif');">잔재 절단 기능<br>
                                </li>
                            </ul>
                        </td>
                        <td width="210" valign="top">
                            <ul style="padding-inline-start:15px">
                                <li style="list-style-image:url('images/icon.gif');">수동데이터 입력(MDI)<br>
                                </li>
                                <li style="list-style-image:url('images/icon.gif');">시물레이션 기능<br>
                                </li>
                                <li style="list-style-image:url('images/icon.gif');">ESSI/EIA 프로그램 사용<br>
                                </li>
                                <li style="list-style-image:url('images/icon.gif');">절대치/충분치 프로그래밍<br>
                                </li>
                                <li style="list-style-image:url('images/icon.gif');">부재 회전<br>
                                </li>
                                <li style="list-style-image:url('images/icon.gif');">자기 진단<br>
                                </li>
                                <li style="list-style-image:url('images/icon.gif');">강재 절단 기능<br>
                                </li>
                                <li style="list-style-image:url('images/icon.gif');">후진 운전<br>
                                </li>
                                <li style="list-style-image:url('images/icon.gif');">예열 시간 조정<br>
                                </li>
                                <li style="list-style-image:url('images/icon.gif');">대칭절단</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</div>
{% endblock %}