{% extends "../../base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../left-navbar.html" %}
<!-- 용접기 제품 - CO2 용접기 -->
<div class="welding-product">
    <tr>
        <td width="750">
            <img src="/static/imgs/product_info/welding_machine/CO2/miracle500A/sub2_navi.gif" width="745" height="35"
                alt="" style="padding-left: 20px;">
        </td>
    </tr>
    <div class="title"> CNC GAS CUTTING MACHINE</div>
    <td width="750" valign="top" height="571">

        <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="750">
                        <table id="Table_01" width="755" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="755">

                                        <p><img src="{% static 'imgs/product_info/cutter/cnc/sub2_03_sub3_1.gif' %}"
                                                width="750" height="320" border="0"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="755">
                                        <p><img src="{% static 'imgs/product_info/cutter/cnc/sub2_03_1.gif' %}"
                                                width="750" height="45" border="0"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="755"  style="padding-right: 27px;">
                                        <ul>
                                            <li
                                                style="list-style-image:url('images/icon.gif'); margin-right:25; margin-left:20;">
                                                <div align="justify">고압산소, 예열산소, 연료가스는 고급압력 조정기를 사용하여 가스 조작반 내에서 조정하며,
                                                    항상 일정한 압력을 유지합니다.
                                                </div>
                                            </li>
                                            <li
                                                style="list-style-image:url('images/icon.gif'); margin-right:25; margin-left:20;">
                                                <div align="justify">TORCH 이송용 GUIDE-RAIL은 FRAME과 일체형으로, 휨 현상이나 뒤틀림이 전혀
                                                    없으며, TORCH CARRIAGE는 대형 베어링을 부착하여 이송시 떨림이나 진동이 전혀 없습니다. </div>
                                            </li>
                                            <li
                                                style="list-style-image:url('images/icon.gif'); margin-right:25; margin-left:20;">
                                                <div align="justify">개별TORCH 상하 조절 및 전체TORCH 상하 조절이 가능 합니다. </div>
                                            </li>

                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="755">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="755">
                                        <p><img src="{% static 'imgs/product_info/cutter/cnc/sub2_m_08.gif' %}"
                                                width="750" height="45" alt=""></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="755">
                                        <table cellpadding="0" cellspacing="0" width="93%" style="margin-left: 22px; margin-right: 40px;">
                                            <tbody>
                                                <tr>
                                                    <td width="337"
                                                        style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1" colspan="2" height="29">
                                                        <p align="center"><b>용도</b></p>
                                                    </td>
                                                    <td width="357"
                                                        style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;"
                                                        height="29">

                                                        <p align="center">GAS / PLASMA 절단</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="168"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1" height="58" rowspan="2">

                                                        <p align="center"><b>구동방식</b></p>
                                                    </td>
                                                    <td width="168" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        height="29">
                                                        <p align="center"><b>X축
                                                            </b></p>
                                                    </td>
                                                    <td width="357"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                                        height="29">

                                                        <p align="center">랙 &amp; 피니언 / 스틸 벨트</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="168" height="29" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>Y축</b></p>
                                                    </td>
                                                    <td width="357" height="29"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">랙 &amp; 피니언 양축</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337" height="26" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        colspan="2">
                                                        <p align="center"><b>레일 폭(mm)</b></p>
                                                    </td>
                                                    <td width="357" height="26"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">3,100 ~ 10,500</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="168" height="57" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        rowspan="2">
                                                        <p align="center"><b>유효절단폭(mm)</b></p>
                                                    </td>
                                                    <td width="168" height="29" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>GAS</b></p>
                                                    </td>
                                                    <td width="357" height="29"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">레일폭 - 600</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="168" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        height="28">
                                                        <p align="center"><b>PLASMA</b></p>
                                                    </td>
                                                    <td width="357"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                                        height="28">
                                                        <p align="center">레일폭 - 1,500</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1" colspan="2" height="29">

                                                        <p align="center"><b>절단 속도(mm/min)</b></p>
                                                    </td>
                                                    <td width="357"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                                        height="29">
                                                        <p align="center">100 ~ 6,000</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        colspan="2" height="29">

                                                        <p align="center"><b>이동 속도(mm/min)</b></p>
                                                    </td>
                                                    <td width="357"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                                        height="29">
                                                        <p align="center">18,000</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337" height="29" colspan="2" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>마킹 속도(mm/min)</b></p>
                                                    </td>
                                                    <td width="357" height="14"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">18,000</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        colspan="2" height="29">
                                                        <p align="center"><b>절단형상</b></p>
                                                    </td>
                                                    <td width="357"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                                        height="14">
                                                        <p align="center">수직 절단 (I-CUTTING)</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337" height="29" colspan="2" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>축제어</b></p>
                                                    </td>
                                                    <td width="357" height="29"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">3~4축</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337" height="29" colspan="2" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>CNC</b></p>
                                                    </td>
                                                    <td width="357" height="29"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">D-500, HYBRID - D80</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337" height="29" colspan="2" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        rowspan="2">
                                                        <p align="center"><b>레일</b></p>
                                                    </td>
                                                    <td width="357" height="14"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">37Kg/m (3m단위)</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="357" height="14"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">기본 9m</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337" height="29" colspan="2" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>유효 절단 길이(mm)</b></p>
                                                    </td>
                                                    <td width="357" height="29"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">레일 - 2,500</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337" height="29" colspan="2" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>가스 토치</b></p>
                                                    </td>
                                                    <td width="357" height="29"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">기본 4EA / 최대 10EA</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337" height="29" colspan="2" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        rowspan="2">
                                                        <p align="center"><b>PLASMA</b></p>
                                                    </td>
                                                    <td width="357" height="14"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">SUPER-400 / SUPER-400 PLUS</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="357" height="14"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">기타 PLASMA</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1" colspan="2" height="29" rowspan="3">
                                                        <p align="center"><b>선택사항</b></p>
                                                    </td>
                                                    <td width="357"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                                        height="9">
                                                        <p align="center">자동 점화</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="357" height="9"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">물 분사장치</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="357" height="9"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">마킹 토치</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1" colspan="2" height="22">
                                                        <p align="center"><b>전 원</b></p>
                                                    </td>
                                                    <td width="357" height="22"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">220~440V</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="755">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="755">
                                        <p><img src="{% static 'imgs/product_info/cutter/cnc/sub2_03_sub3_2.gif' %}"
                                                width="750" height="45" border="0"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" width="755">
                                        <ul>
                                            <li style="list-style-image:url('images/icon.gif'); margin-left:20;" "="">15인치 TFT 컬러액정 디스플레이의 채용</li>
                                  <li style=" list-style-image:url('images/icon.gif'); margin-left:20;" "="">절단 패션에 화면상에서 수치를 입력 함으로써 간단히 프로그램 작성</li>
                                  <li style=" list-style-image:url('images/icon.gif'); margin-left:20;">부품의 “회전”기능으로
                                                복잡한 형상의 단품재료로의 절단도 가능</li>
                                            <li style="list-style-image:url('images/icon.gif'); margin-left:20;">부품의
                                                “반복기능”으로 복수의 절단이 가능</li>
                                            <li style="list-style-image:url('images/icon.gif'); margin-left:20;">NC데이터의
                                                전송으로서 RS-232C인터페이스나 플로피 디스켓 등으로 대응</li>
                                            <li style="list-style-image:url('images/icon.gif'); margin-left:20;">좌표 회전
                                                기능으로 절단 대상재료의 배치가 틀어짐도 절단기로 대응</li>
                                            <li style="list-style-image:url('images/icon.gif'); margin-left:20;">상위의
                                                CAD/CAM 시스템과의 네트워크 접속 가능</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="750" height="10">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </td>
</div>
{% endblock %}