{% extends "../../base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../left-navbar.html" %}
<!-- 용접기 제품 - CO2 용접기 -->
<div class="welding-product">
    <tr>
        <td width="750">
            <img src="{% static 'imgs/page_intro/ko/cold_rolling.gif' %}" width="745" height="35"
                alt="" style="padding-left: 20px;">
        </td>
    </tr>
    <div class="title"> COLD ROLLING BENDING MACHINE</div>
    <tr>
        <td width="750">
            <table id="Table_01" width="755" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td width="755">

                            <p><img src="{% static 'imgs/product_info/cutter/cold/sub2_03_sub4_1.gif' %}" width="750"
                                    height="320" border="0"></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="755">
                            <p><img src="{% static 'imgs/product_info/cutter/cold/sub2_03_1.gif' %}" width="750"
                                    height="45" border="0"></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="755" style="padding-right: 27px;">
                            <ul>
                                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:20;">
                                    <div align="justify">각종역사, 박물관, 운동경기장, 컨벤션센터, 교량 등에 이르는 대규모의 공사에서부터 학교 및 강당의 개, 증축에
                                        이르기까지 광범위한 분야의 철강 구조물 자재로 쓰이는 파이프의 원만한 RADIOUS 밴딩에 용이한 냉간 밴딩은 고주파에 비해 가격이 저렴하고
                                        단납기가 가능할 뿐 만아니라, 강재 고유질의 변화없이 양질의 제품을 얻을 수 있는 잇점을 가지고 있습니다. </div>
                                </li>

                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td width="755">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="755">
                            <p><img src="{% static 'imgs/product_info/cutter/cold/sub2_03_sub4_2.gif' %}" width="750"
                                    height="45" alt=""></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="755">
                            <p><img src="{% static 'imgs/product_info/cutter/cold/sub2_03_sub4_3.gif' %}" width="750"
                                    height="200" alt=""></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</div>
{% endblock %}