{% extends "../../base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../left-navbar.html" %}
<!-- 용접기 제품 - CO2 용접기 -->
<div class="welding-product">
    <tr>
        <td width="750">
            <img src="{% static 'imgs/page_intro/ko/elbow.gif' %}" width="745" height="35"
                alt="" style="padding-left: 20px;">
        </td>
    </tr>
    <div class="title"> ELBOW CUTTING MACHINE</div>
    <td width="750" valign="top" height="571">

        <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
            <tbody>

                <tr>
                    <td width="750">

                        <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td rowspan="3" valign="top" height="277">
                                        <img src="{% static 'imgs/product_info/cutter/elbow/sub2_03_sub5_1.gif' %}"
                                            width="284" height="281" alt=""></td>
                                    <td>
                                        <img src="{% static 'imgs/product_info/cutter/elbow/sub2_m_05.gif' %}"
                                            width="466" height="18" alt=""></td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="{% static 'imgs/product_info/cutter/elbow/sub2_03_sub5_2.gif' %}"
                                            width="466" height="45" alt=""></td>
                                </tr>
                                <tr>
                                    <td width="466" height="207" valign="top">


                                        <p align="justify" style="margin-right:30px; margin-left:1rem;">LW-ELBOW CUTTING
                                            M/C는 ELBOW 절단을 위한 전용 기계로서, 360도 회전이 자유롭고 PIPE 규격별 회전 속도 조정이 용이하며, CUTTING
                                            각도의 임의 조정이 가능하고, 임의 절단 각도를 반자동으로 손쉽게 할 수 있도록 구성하였으며, 생산성 향상 및 원가절감의 효과를 얻을 수
                                            있습니다.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <img src="{% static 'imgs/product_info/cutter/elbow/sub2_m_08.gif' %}"
                                            width="750" height="45" alt=""></td>
                                </tr>
                                <tr>
                                    <td colspan="2">


                                        <table cellpadding="0" cellspacing="0" width="93%" style="margin-left: 22px; margin-right: 40px;">
                                            <tbody>
                                                <tr>
                                                    <td width="347" bgcolor="#E6EDF1"
                                                        style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;"
                                                        colspan="2">
                                                        <p align="center"><b>MODEL</b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1">
                                                        <p align="center"><b>LW-EL-600A</b></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="347"
                                                        style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1" colspan="2">
                                                        <p align="center"><b>CUTTING CAPACITY
                                                            </b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">200 - 6,000A</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1" colspan="2">
                                                        <p align="center"><b>LOADING CAPACITY
                                                            </b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">600Kg
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1" colspan="2">
                                                        <p align="center"><b>CHUCK CLAMPING METHOD</b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">MANUAL BY HANDLE
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="173"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1" rowspan="4">

                                                        <p align="center"><b>CHUCK TILTING</b></p>
                                                    </td>
                                                    <td width="173" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>METHOD</b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">WORM REDUCER BY GEARED MOTOR
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="173" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>ANGLE</b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">0~90도

                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="173" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>SPEED</b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">1.5 ~ 5도/Sec</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="173" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>CONTROL</b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">MANUAL
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="173" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        rowspan="4">

                                                        <p align="center"><b>TABLE ROTATION<br>(CUTTING)</b></p>
                                                    </td>
                                                    <td width="173" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>METHOD</b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">WORM REDUCER BY GEARED MOTOR
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="173" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>ANGLE</b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">±360도

                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="173" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>SPEED</b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">Max 32mm/Sec</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="173" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>CONTROL</b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">MANUAL
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="173" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        rowspan="4">
                                                        <p align="center"><b>MACHINE</b></p>
                                                    </td>
                                                    <td width="173" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>LENGTH
                                                            </b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">2,305mm
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="173" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>HEIGHT
                                                            </b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">1,500mm
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="173" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>WIDTH
                                                            </b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">1,120mm
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="173" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>WEIGHT</b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">1,800Kg</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="750" height="10">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </td>
</div>
{% endblock %}