{% extends "../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../left-navbar.html" %}
  <!-- 용접기 제품 - CO2 용접기 -->
  <div class="welding-product">
    <div class="title"> FLAME PLANER</div>
    <td width="750">

      <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
              <td rowspan="3" valign="top" height="223">
<img src="{% static 'imgs/product_info/cutter/flame/sub2_03_sub6_1.gif' %}" width="284" height="225" alt=""></td>
              <td>
<img src="{% static 'imgs/product_info/cutter/flame/sub2_m_05.gif' %}" width="466" height="18" alt=""></td>
</tr>
          <tr>
              <td>
<img src="{% static 'imgs/product_info/cutter/flame/sub2_03_sub5_2.gif' %}" width="466" height="45" alt=""></td>
</tr>
          <tr>
              <td width="466" height="153" valign="top">


                  <p align="justify" style="margin-right:30; margin-left:20;">산소 및 LPG를 연소시키는 다수의 TORCH 화구가 장착되어 있으므로, 대량 생산을 필요로 하는 F/P형상의 철판을 폭에 관계없이 생산하는 전용 절단기입니다.</p>
</td>
</tr>
          <tr>
              <td colspan="2">
<img src="{% static 'imgs/product_info/cutter/flame/sub2_m_08.gif' %}" width="750" height="45" alt=""></td>
</tr>
          <tr>
              <td colspan="2">




                  <table cellpadding="0" cellspacing="0" width="100%" style="margin-left:23;">
                      <tbody><tr>
                          <td width="337" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2" height="29">

                              <p align="center"><b>MODEL</b></p>
</td>
                          <td width="357" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;" height="29">
                              <p align="center">FLAME PLANER</p>
</td>
</tr>
                      <tr>
                          <td width="168" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" height="58" rowspan="2">
                              <p align="center"><b>구동방식</b></p>
</td>
                          <td width="168" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" height="29">                                                            
                              <p align="center"><b>X축
</b></p>
</td>
                          <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">
                              <p align="center">랙 &amp; 피니언(주행)</p>
</td>
</tr>
                      <tr>
                          <td width="168" height="29" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">

                              <p align="center"><b>Y축</b></p>
</td>
                          <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">

                              <p align="center">UP/DOWN (BLOCK 개념)</p>
</td>
</tr>
                      <tr>
                          <td width="337" height="29" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2">

                              <p align="center"><b>레일 폭</b></p>
</td>
                          <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">

                              <p align="center">5,000 ~ 8,000mm</p>
</td>
</tr>
                      <tr>
                          <td width="337" height="29" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2">

                              <p align="center"><b>유효절단 폭</b></p>
</td>
                          <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">

                              <p align="center">레일폭 - 600mm</p>
</td>
</tr>
                      <tr>
                          <td width="337" height="29" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2">                                                            <p align="center"><b>유효절단 길이</b></p>
</td>
                          <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">

                              <p align="center">레일 - 2,000mm</p>
</td>
</tr>
                      <tr>
                          <td width="337" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2" height="29">
                              <p align="center"><b>절단 속도(mm/min)</b></p>
</td>
                          <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">

                              <p align="center">100 ~ 6,000</p>
</td>
</tr>
                      <tr>
                          <td width="337" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2" height="29">
                              <p align="center"><b>TORCH 이동 속도</b></p>
</td>
                          <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">

                              <p align="center">MANUAL</p>
</td>
</tr>
                      <tr>
                          <td width="337" height="29" colspan="2" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                                                                                        <p align="center"><b>TORCH 이동 방식</b></p>
</td>
                          <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                                                                                        <p align="center">MANUAL</p>
</td>
</tr>
                      <tr>
                          <td width="337" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2" height="29">                                                            

                              <p align="center"><b>절단형상</b></p>
</td>
                          <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">

                              <p align="center">FLAT BAR</p>
</td>
</tr>
                      <tr>
                          <td width="337" height="29" colspan="2" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">

                              <p align="center"><b>CNC</b></p>
</td>
                          <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">

                              <p align="center">Win Plus Control</p>
</td>
</tr>
                      <tr>
                          <td width="337" height="58" colspan="2" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" rowspan="2">

                              <p align="center"><b>레일</b></p>
</td>
                          <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">

                              <p align="center">37Kg/m (3m단위)</p>
</td>
</tr>
                      <tr>
                          <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">

                              <p align="center">기본 20m</p>
</td>
</tr>
                      <tr>
                          <td width="337" height="29" colspan="2" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">

                              <p align="center"><b>유효 절단 길이(mm)</b></p>
</td>
                          <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">

                              <p align="center">레일 - 2,500</p>
</td>
</tr>
                      <tr>
                          <td width="337" height="29" colspan="2" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">

                              <p align="center"><b>가스 토치</b></p>
</td>
                          <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">

                              <p align="center">12~30EA(Option)</p>
</td>
</tr>
                      <tr>
                          <td width="337" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2" height="87" rowspan="3">

                              <p align="center"><b>선택사항</b></p>
</td>
                          <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">

                              <p align="center">자동 점화</p>
</td>
</tr>
                      <tr>
                          <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                            
                              <p align="center">물 분사장치</p>
</td>
</tr>
                      <tr>
                          <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">

                              <p align="center">Auto Nesting Program</p>
</td>
</tr>
</tbody></table></td>
</tr>
</tbody></table></td>
</div>
{% endblock %}