{% extends "../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../left-navbar.html" %}
  <!-- 용접기 제품 - CO2 용접기 -->
  <div class="welding-product">
    <tr>
        <td width="750">
            <img src="{% static 'imgs/page_intro/ko/pipe_rotator.gif' %}" width="745" height="35"
                alt="" style="padding-left: 20px;">
        </td>
    </tr>
    <div class="title"> PIPE ROTATER</div>
    <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
      <tbody>
      <tr>
          <td width="750">
              <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
                  <tbody><tr>
                      <td rowspan="3" valign="top" height="272">
<img src="{% static 'imgs/product_info/cutter/rotator/sub2_03_sub10_1.gif' %}" width="284" height="357" alt=""></td>
                      <td>
<img src="{% static 'imgs/product_info/cutter/rotator/sub2_m_05.gif' %}" width="466" height="18" alt=""></td>
</tr>
                  <tr>
                      <td>
                                <p><img src="{% static 'imgs/product_info/cutter/rotator/sub2_03_sub5_2.gif' %}" width="466" height="45" alt=""></p>
</td>
</tr>
                  <tr>
                      <td width="466" height="202" valign="top" >


                        <p align="justify" style="margin-right:30px; margin-left:1rem;">LW 600A는 파이프와 같은 관체를 연결하거나 엘보우 등을 연결하고자 하는 경우에 사용하는 자동 용접기로서, 대구경의 금속 파이프를 회전시켜 용접하는 장치입니다.</p>
</td>
</tr>
                  <tr>
                      <td colspan="2">
<img src="{% static 'imgs/product_info/cutter/rotator/sub2_m_08.gif' %}" width="750" height="45" alt=""></td>
</tr>
                  <tr>
                      <td colspan="2">




                        <table cellpadding="0" cellspacing="0" width="93%" style="margin-left: 22px; margin-right: 40px;">
                              <tbody><tr>
                                  <td width="268" bgcolor="#E6EDF1" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;">

                                      <p align="center"><b>MODEL</b></p>
</td>
                                  <td width="213" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;" bgcolor="#E6EDF1">

                                      <p align="center"><b>LW-RO-600A</b></p>
</td>
                                  <td width="213" bgcolor="#E6EDF1" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">                                                            <p align="center"><b>LW-RO-1000A</b></p>
</td>
</tr>
                              <tr>
                                  <td width="268" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">

                                      <p align="center"><b>LOAD PIPE</b></p>
</td>
                                  <td width="213" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">
                                      <p align="center">50~60A (FLANGE기준)</p>
</td>
                                  <td width="213" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">
                                      <p align="center">200~1,000A (FLANGE기준)</p>
</td>
</tr>
                              <tr>
                                  <td width="268" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                      <p align="center"><b>C/P</b></p>
</td>
                                  <td width="213" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                      <p align="center">
1,500Kg</p>
</td>
                                  <td width="213" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                      <p align="center">3,000Kg</p>
</td>
</tr>
                              <tr>
                                  <td width="268" height="13" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                      <p align="center"><b>ROLL SIZE</b></p>
</td>
                                  <td width="213" height="26" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                      <p align="center">Ф150</p>
</td>
                                  <td width="213" height="26" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                      <p align="center">Ф220</p>
</td>
</tr>
                              <tr>
                                  <td width="268" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                      <p align="center"><b>TURNING SPEED
</b></p>
</td>
                                  <td width="427" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" colspan="2">
                                      <p align="center">0~600mm/Min
</p>
</td>
</tr>
                              <tr>
                                  <td width="268" height="13" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                      <p align="center"><b>TILTING ANGLE


</b></p>
</td>
                                  <td width="427" height="26" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" colspan="2">
                                      <p align="center">±45도
</p>
</td>
</tr>
                              <tr>
                                  <td width="268" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" rowspan="2">

                                      <p align="center"><b>CONTROL SYSTEM</b></p>
</td>
                                  <td width="427" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" colspan="2">
                                      <p align="center">MAIN P/L &amp; 비상 S/W
</p>
</td>
</tr>
                              <tr>
                                  <td width="427" height="13" colspan="2" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                            <p align="center">POOT S/W
</p>
</td>
</tr>
                              <tr>
                                  <td width="268" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                            
                                      <p align="center"><b>안전 장치
</b></p>
</td>
                                  <td width="427" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" colspan="2">
                                      <p align="center">TILTING 안전 SENSOR
</p>
</td>
</tr>
                              <tr>
                                  <td width="268" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                      <p align="center"><b>TILTING 감속기 보호
</b></p>

</td>
                                  <td width="427" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" colspan="2">
                                      <p align="center">FRAME 내부 감속기 취부
</p>
</td>
</tr>
                              <tr>
                                  <td width="268" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                      <p align="center"><b>TURNING ROLL B.R.G</b></p>
</td>
                                  <td width="427" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;" colspan="2">
                                      <p align="center">CHAIN 보호 COVER</p>
</td>
</tr>
</tbody></table></td>
</tr>
</tbody></table></td>
</tr>
      <tr>
          <td width="750" height="10">&nbsp;</td>
</tr>
</tbody></table>
</div>
{% endblock %}