{% extends "../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../left-navbar.html" %}
  <!-- 용접기 제품 - CO2 용접기 -->
  <div class="welding-product">
    <tr>
        <td width="750">
            <img src="{% static 'imgs/page_intro/ko/positioner.gif' %}" width="745" height="35"
                alt="" style="padding-left: 20px;">
        </td>
    </tr>
    <div class="title"> POSITIONER</div>
    <td width="750">
      <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
              <td rowspan="3" valign="top" height="272">
<img src="{% static 'imgs/product_info/cutter/positioner/sub2_03_sub11_1.gif' %}" width="284" height="248" alt=""></td>
              <td>
<img src="{% static 'imgs/product_info/cutter/positioner/sub2_m_05.gif' %}" width="466" height="18" alt=""></td>
</tr>
          <tr>
              <td>
                        <p><img src="{% static 'imgs/product_info/cutter/positioner/sub2_03_sub5_2.gif' %}" width="466" height="45" alt=""></p>
</td>
</tr>
          <tr>
              <td width="466" height="202" valign="top"  style="padding-right: 27px;">


                  <ul>
                      <li align="justify" style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:0;"><div align="justify">LW-POSITIONER는 용접물을 붙여서 용접자세를 자유롭게 바꿔가며 작업 할 수 있게 하는 작업대로서, 우수한 강성 및 품질을 갖고 있습니다. <br></div></li>
                      <li align="justify" style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:0;"><div align="justify">독특한 플랫(FLAT), 카본(CARBON), 어스(EARTH) 집전기 기계구로, 감속기에 무리가 없고 내구성이 뛰어납니다. <br></div></li>
                      <li align="justify" style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:0;"><div align="justify">규격화된 설계 구조에서 직류 서보모터(SERVOMOTOR)에 의한 회전이나 고속 회전용에 신속하게 대응 합니다. <br></div></li>
                      <li align="justify" style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:0;"><div align="justify">회전 구동부는 웜(WORM) 감속기 기구에 의하고 편심 하중이라도 원활하게 회전하며, 셀프(SELF) 폭(LOCK)으로 인해 안전한 작업이 가능 합니다. <br></div></li>
                      <li align="justify" style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:0;"><div align="justify">변속 조작은 다이얼(DIAL) 돌출(TONGUE)로 응답성이 뛰어납니다.</div></li>
                  </ul>
</td>
</tr>
          <tr>
              <td colspan="2">
<img src="{% static 'imgs/product_info/cutter/positioner/sub2_m_08.gif' %}" width="750" height="45" alt=""></td>
</tr>
          <tr>
              <td colspan="2">




                <table cellpadding="0" cellspacing="0" width="93%" style="margin-left: 22px; margin-right: 40px;">
                      <tbody><tr>
                          <td width="416" bgcolor="#E6EDF1" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;" colspan="3" height="13">

                              <p align="center"><b>MODEL</b></p>
</td>
                          <td width="138" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" height="13">

                              <p align="center"><b>LW-PO-300A</b></p>
</td>
                          <td width="138" bgcolor="#E6EDF1" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;" height="13">                                                                                                                        <p align="center"><b>LW-PO-600A</b></p>
</td>
</tr>
                      <tr>
                          <td width="416" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="3" height="23">

                              <p align="center"><b>WELDING CAPACITY</b></p>
</td>
                          <td width="138" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;" height="23">

                              <p align="center">50 ~ 300A</p>
</td>
                          <td width="138" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;" height="23">

                              <p align="center">125 ~ 600A</p>
</td>
</tr>
                      <tr>
                          <td width="138" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" rowspan="2" height="47">
                              <p align="center"><b>CAPACITY</b></p>
</td>
                          <td width="277" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2" height="17">
                              <p align="center"><b>HOLIZONTAL</b></p>
</td>
                          <td width="138" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" height="17">
                              <p align="center">350Kg</p>
</td>
                          <td width="138" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="17">
                              <p align="center">
600Kg</p>
</td>
</tr>
                      <tr>
                          <td width="277" height="21" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2">
                              <p align="center"><b>VERTICAL</b></p>
</td>
                          <td width="138" height="21" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                              <p align="center">250Kg</p>
</td>
                          <td width="138" height="21" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                              <p align="center">500Kg</p>
</td>
</tr>
                      <tr>
                          <td width="138" height="240" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" rowspan="10">

                              <p align="center"><b>CHUCK</b></p>
</td>
                          <td width="277" height="18" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2">                                                            <p align="center"><b>CLAMPING METHOD</b></p>
</td>
                          <td width="279" height="18" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" colspan="2">
<p align="center">MANUAL BY HANDLE</p>
</td>
</tr>
                      <tr>
                          <td width="138" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" rowspan="4" height="96">                                                            <p align="center"><b>TILTING</b></p>
</td>
                          <td width="138" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" height="17">
                              <p align="center"><b>METHOD</b></p>
</td>
                          <td width="277" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" colspan="2" height="17">

                              <p align="center">GEARED MOTOR &amp; WORM REDUCER</p>
</td>
</tr>
                      <tr>
                          <td width="138" height="21" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                              <p align="center"><b>ANGLE</b></p>
</td>
                          <td width="277" height="21" colspan="2" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                              <p align="center">Min 0도  ~ Max 135도</p>
</td>
</tr>
                      <tr>
                          <td width="138" height="12" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                              <p align="center"><b>SPEED</b></p>
</td>
                          <td width="277" height="12" colspan="2" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                              <p align="center">Max 5도/Sec</p>
</td>
</tr>
                      <tr>
                          <td width="138" height="18" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                              <p align="center"><b>CONTROL</b></p>
</td>
                          <td width="277" height="18" colspan="2" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                              <p align="center">MANUAL</p>
</td>
</tr>
                      <tr>
                          <td width="138" height="110" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" rowspan="5">
                              <p align="center"><b>ROTATION<br>(WELDING)</b></p>
</td>
                          <td width="138" height="7" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                              <p align="center"><b>METHOD</b></p>
</td>
                          <td width="277" height="7" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" colspan="2">
                              <p align="center">GEARED MOTOR &amp; WORM REDUCER</p>
</td>
</tr>
                      <tr>
                          <td width="138" height="9" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                              <p align="center"><b>ANGLE</b></p>
</td>
                          <td width="277" height="9" colspan="2" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                              <p align="center">±360도</p>
</td>
</tr>
                      <tr>
                          <td width="138" height="6" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                              <p align="center"><b>SPEED
</b></p>
</td>
                          <td width="138" height="6" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                              <p align="center">Max 4.1 RPM</p>
</td>
                          <td width="138" height="6" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                              <p align="center">Max 1.12&nbsp;RPM</p>
</td>
</tr>
                      <tr>
                          <td width="138" height="7" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                              <p align="center"><b>SPEED CONTROL
</b></p>
</td>
                          <td width="277" height="7" colspan="2" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                              <p align="center">MANUAL BY VOLUME
</p>
</td>
</tr>
                      <tr>
                          <td width="138" height="6" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                              <p align="center"><b>CONTROL</b></p>
</td>
                          <td width="277" height="6" colspan="2" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                              <p align="center">FOOT &amp; TOGGLE S/W</p>
</td>
</tr>
                      <tr>
                          <td width="277" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" rowspan="4" colspan="2" height="81">
                              <p align="center"><b>MACHINE</b></p>
</td>
                          <td width="138" height="11" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                              <p align="center"><b>LENGTH</b></p>
</td>
                          <td width="138" height="11" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                            
                              <p align="center">893mm</p>
</td>
                          <td width="138" height="11" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                              <p align="center">1,320mm</p>
</td>
</tr>
                      <tr>
                          <td width="138" height="7" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                              <p align="center"><b>HEIGHT</b></p>
</td>
                          <td width="138" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" height="7">

                              <p align="center">1,000mm</p>
</td>
                          <td width="138" height="7" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                              <p align="center">1,220mm</p>
</td>
</tr>
                      <tr>
                          <td width="138" height="18" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                              <p align="center"><b>WIDTH</b></p>
</td>
                          <td width="138" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" height="18">

                              <p align="center">650mm</p>
</td>
                          <td width="138" height="18" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                              <p align="center">922mm</p>
</td>
</tr>
                      <tr>
                          <td width="138" height="3" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                              <p align="center"><b>WHIGHT</b></p>
</td>
                          <td width="138" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;" height="3">

                              <p align="center">550kg</p>
</td>
                          <td width="138" height="3" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                              <p align="center">1,000kg</p>
</td>
</tr>
</tbody></table></td>
</tr>
</tbody></table></td>
</div>
{% endblock %}