{% extends "../../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../../left-navbar.html" %}
  <!-- 용접기 제품 - CO2 용접기 -->
  <div class="welding-product">
{% include "./shipboard.html" %}
<td width="750" valign="top" height="656">
						
    <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td width="750">
                <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
                    <tbody><tr>
                        <td valign="top" height="273" width="750">
<img src="{% static 'imgs/product_info/shipboard/sub2_sub7.gif' %}" width="750" height="283" border="0"></td>
</tr>
                    <tr>
                        <td>                                                <p><img src="{% static 'imgs/en/product/welding/shipboard/sub2_sub7_2.gif' %}" width="750" height="45" border="0"></p>
</td>
</tr>
<tr>
    <td>
        <ul>
            <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;"><div align="justify">
                    <p align="justify">This product is divided for the easy delivery, and then it is wrapped in a way to protect any damage for its function, and physical appearance, and it is delivered based on our company's standard and guideline. </p>
            </li>
            <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;"><div align="justify">
                <p align="justify">It is a principle that all manufactured products are supplied with the form of full assembly, and the large-scaled products which is unable to be fully assembled or the products which beyond transportation boundary are supplied with separated parts. </p>
            </li>
            <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;"><div align="justify">
                <p align="justify">The parts which are needed at site installation such as connecting conductor, wire, bolts, nuts and washer etc. are separately wrapped and then supplied. </p>
        </li>
        </ul>
</td>
</tr>
                    <tr>
                        <td>
<img src="{% static 'imgs/en/product/welding/shipboard/sub2_m_08.gif' %}" width="750" height="45" alt=""></td>
</tr>
                    <tr>
                        <td>
    
                            <table cellpadding="0" cellspacing="0" width="100%" style="margin-left:23;">
                                <tbody><tr>
                                    <td width="231" bgcolor="#E6EDF1" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;">
                                        <p align="center"><b><b>&nbsp;</b></b></p>
</td>
                                    <td width="231" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;" bgcolor="#E6EDF1">
                                        <p align="center"><b><b>WELDING</b></b></p>
</td>
                                    <td width="231" bgcolor="#E6EDF1" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">
                                        <p align="center"><b>LIGHTING</b></p>
</td>
</tr>
                                <tr>
                                    <td width="231" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                                        <p align="center"><b>Rated Voltage For Wiring Breaker<br>
</b></p>
</td>
                                    <td width="464" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;" colspan="2">

                                        <p align="center">600V</p>
</td>
</tr>
                                <tr>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                                        <p align="center"><b>Rated Voltage For Short-Circuit Breaker<br>
</b></p>
</td>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                        <p align="center">440V</p>
</td>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                        <p align="center">220V</p>
</td>
</tr>
                                <tr>
                                    <td width="231" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                                                                                                                                                    <p align="center"><b>Main Circuit<br>
</b></p>
</td>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                                                                                                                                                    
                                        <p align="center">AC 440V 3P 3W 60Hz</p>
</td>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                        <p align="center">AC 220V 3P 3W 60Hz</p>
</td>
</tr>
                                <tr>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                                        <p align="center"><b>Voltage<br>
</b></p>
</td>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                        <p align="center">AC 440V 1상 60Hz</p>
</td>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                        <p align="center">AC 220V 1상 60Hz</p>
</td>
</tr>
                                <tr>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                                        <p align="center"><b>Ground Connecting Type<br>
</b></p>
</td>
                                    <td width="464" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" colspan="2">

                                        <p align="center">Direct Connecting</p>
</td>
</tr>
                                <tr>
                                    <td width="231" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                                                                                        <p align="center"><b>Main Breaker<br>
</b></p>
</td>
                                    <td width="464" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" colspan="2">

                                        <p align="center">MMCB</p>
</td>
</tr>
                                <tr>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                                        <p align="center"><b>Material Quality Of Protection Net<br>
</b></p>
</td>
                                    <td width="464" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" colspan="2">

                                        <p align="center">ACRYL(51)</p>
</td>
</tr>
                                <tr>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                                        <p align="center"><b>Signal Lamp</b></p>
</td>
                                    <td width="464" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;" colspan="2">

                                        <p align="center">STEEL BLAKECT Processing</p>
</td>
</tr>
</tbody></table></td>
</tr>
                    <tr>
                        <td>                                                <p><img src="{% static 'imgs/en/product/welding/shipboard/sub2_sub7_1.gif' %}" width="750" height="600" alt=""></p>
</td>
</tr>
</tbody></table></td>
</tr>
        <tr>
            <td width="750">&nbsp;</td>
</tr>
</tbody></table></td>
</div>

{% endblock %}