{% extends '../base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/catalogue_contact.css' %}">
<div class="catalogue_cat_title">
  <div class="catalogue_title_comp">Company Introduction</div>
  <div class="catalogue_title_prod">Product Catalogue 1</div>
  <div class="catalogue_title_prod">Product Catalogue 2</div>
</div>
<div class="catalogue_catalogue">
  <div class="catalogue_comp">
    <a href="/static/pdf/comp.pdf" download="company_intro">
      <img class="catalogue_comp_img" src="/static/imgs/catalogue/comp.png">
    </a>
    <a class="catalogue_a" href="/static/pdf/comp.pdf">Download</a>
  </div>
  <div class="catalogue_prod">
    <a href="/static/pdf/prod1.pdf" download="cutting_machine_catalogue">
      <img class="catalogue_prod_img" src="/static/imgs/catalogue/cata1.png">
    </a>
    <a class="catalogue_a" href="/static/pdf/prod1.pdf">Download</a>
  </div>
  <div class="catalogue_prod">
    <a href="/static/pdf/prod2.pdf" download="welding_solution_catalogue">
      <img class="catalogue_prod_img" src="/static/imgs/catalogue/cata2.png">
    </a>
    <a class="catalogue_a" href="/static/pdf/prod2.pdf">Download</a>
  </div>
</div>
{% endblock %}