{% extends "../../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../../left-navbar.html" %}
  <!-- 용접기 제품 - CO2 용접기 -->
  <div class="welding-product">
{% include "./shipboard.html" %}
<td width="750" valign="top" height="656">
						
    <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td width="750">
                <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
                    <tbody><tr>
                        <td valign="top" height="273" width="750">
<img src="{% static 'imgs/product_info/shipboard/sub2_sub7.gif' %}" width="750" height="283" border="0"></td>
</tr>
                    <tr>
                        <td>                                                <p><img src="{% static 'imgs/product_info/shipboard/sub2_sub7_2.gif' %}" width="750" height="45" border="0"></p>
</td>
</tr>
                    <tr>
                        <td>
                            <ul>
                                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;"><div align="justify">
                                        <p align="justify">본 제품은 운반이 용이하도록 분리하여 당사 표준에 따라 기능 및 외관상 손상이 없도록 포장한 후 운반되어집니다.</p>
</div></li>
                                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;"><div align="justify">
                                        <p align="justify">모든 제작품은 완전 조립된 상태로 납품 함을 원칙으로 하며, 완전한 조립이 불가능한 대형물 또는 수송한계를 초과하는 제품은 별도로 분리하여 납품합니다.</p>
</div></li>
                                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;"><div align="justify">                                                            <p align="justify">현장 설치시 필요한 접속도체, 전선, 볼트, 너트 및 와셔 등은 별도로 포장하여 납품합니다.</p>
</div></li>
                            </ul>
</td>
</tr>
                    <tr>
                        <td>
<img src="{% static 'imgs/product_info/shipboard/sub2_m_08.gif' %}" width="750" height="45" alt=""></td>
</tr>
                    <tr>
                        <td>
    
                            <table cellpadding="0" cellspacing="0" width="100%" style="margin-left:23;">
                                <tbody><tr>
                                    <td width="231" bgcolor="#E6EDF1" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;">
                                        <p align="center"><b><b>&nbsp;</b></b></p>
</td>
                                    <td width="231" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;" bgcolor="#E6EDF1">
                                        <p align="center"><b><b>WELDING</b></b></p>
</td>
                                    <td width="231" bgcolor="#E6EDF1" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">
                                        <p align="center"><b>LIGHTING</b></p>
</td>
</tr>
                                <tr>
                                    <td width="231" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                                        <p align="center"><b>배선용 차단기 정격 전압</b></p>
</td>
                                    <td width="464" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;" colspan="2">

                                        <p align="center">600V</p>
</td>
</tr>
                                <tr>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                                        <p align="center"><b>누전 차단기 정격 전압</b></p>
</td>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                        <p align="center">440V</p>
</td>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                        <p align="center">220V</p>
</td>
</tr>
                                <tr>
                                    <td width="231" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                                                                                        <p align="center"><b>주 회로</b></p>
</td>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                                                                                                                                                    
                                        <p align="center">AC 440V 3P 3W 60Hz</p>
</td>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                        <p align="center">AC 220V 3P 3W 60Hz</p>
</td>
</tr>
                                <tr>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                                        <p align="center"><b>전압</b></p>
</td>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                        <p align="center">AC 440V 1상 60Hz</p>
</td>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                        <p align="center">AC 220V 1상 60Hz</p>
</td>
</tr>
                                <tr>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                                        <p align="center"><b>접지 방식</b></p>
</td>
                                    <td width="464" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" colspan="2">

                                        <p align="center">직접 접지</p>
</td>
</tr>
                                <tr>
                                    <td width="231" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                            <p align="center"><b>주 차단기</b></p>
</td>
                                    <td width="464" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" colspan="2">

                                        <p align="center">MMCB</p>
</td>
</tr>
                                <tr>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                                        <p align="center"><b>보호망 재질</b></p>
</td>
                                    <td width="464" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" colspan="2">

                                        <p align="center">ACRYL(51)</p>
</td>
</tr>
                                <tr>
                                    <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                                        <p align="center"><b>표시등</b></p>
</td>
                                    <td width="464" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;" colspan="2">

                                        <p align="center">STEEL BLAKECT 가공처리</p>
</td>
</tr>
</tbody></table></td>
</tr>
                    <tr>
                        <td>                                                <p><img src="{% static 'imgs/product_info/shipboard/sub2_sub7_1.gif' %}" width="750" height="600" alt=""></p>
</td>
</tr>
</tbody></table></td>
</tr>
        <tr>
            <td width="750">&nbsp;</td>
</tr>
</tbody></table></td>
</div>

{% endblock %}