{% extends "../../../base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../../left-navbar.html" %}
<!-- 용접기 제품 - CO2 용접기 -->
<div class="welding-product">
  <tr>
    <td width="750">
      <img src="/static/imgs/product_info/welding_machine/CO2/miracle500A/sub2_navi.gif" width="745" height="35" alt=""
        style="padding-left: 20px;">
    </td>
  </tr>
  {% include "./arch-welding.html" %}
  <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td rowspan="3" valign="top" height="304">
        <img style="margin-top: 1rem;" src="/static/imgs/product_info/welding_machine/arc/APOLLO200/sub2_sub6_2.gif"
          width="284" height="309" alt=""></td>
      <td>
        <img src="/static/imgs/product_info/welding_machine/arc/APOLLO200/sub2_m_05.gif" width="466" height="18" alt="">
      </td>
    </tr>
    <tr>
      <td>
        <img src="{% static '/imgs/en/product/welding/co2/sub2_m_06.gif' %}" width="466" height="45" alt=""></td>
    </tr>
    <tr>
      <td width="466" height="229" valign="top">

        <p align="justify" style="margin-right:30px; margin-left:1rem;">APOLLO 200 is an IGBT type DC Arc and TIG
          (scratch type) welder; it is small sized and light weighted for portable use in case of dispatched work and
          electric shock prevention function is provided for the safety of users.</p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <img src="{% static '/imgs/en/product/welding/co2/sub2_m_08.gif' %}" width="750" height="45" alt=""></td>
    </tr>
    <tr>
      <td colspan="2">

        <table cellpadding="0" cellspacing="0" width="93%" style="margin: 0 auto">
          <tbody>
            <tr>
              <td width="347"
                style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;"
                bgcolor="#E6EDF1">
                <p align="center"><b>Input Electricity<br>
                  </b></p>
              </td>
              <td width="347"
                style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">
                <p align="center">220V single phase 50/60Hz</p>
              </td>
            </tr>
            <tr>
              <td width="347"
                style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                bgcolor="#E6EDF1">
                <p align="center"><b>Output Current<br>
                  </b></p>
              </td>
              <td width="347"
                style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                <p align="center">10~18A</p>
              </td>
            </tr>
            <tr>
              <td width="347" bgcolor="#E6EDF1"
                style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                <p align="center"><b>Input Current<br>
                  </b></p>
              </td>
              <td width="347"
                style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                <p align="center">5KVA</p>
              </td>
            </tr>
            <tr>
              <td width="347"
                style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                bgcolor="#E6EDF1">
                <p align="center"><b>Rated Load Voltage<br>
                  </b></p>
              </td>
              <td width="347"
                style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                <p align="center">25V</p>
              </td>
            </tr>
            <tr>
              <td width="347"
                style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                bgcolor="#E6EDF1">
                <p align="center"><b>No-Load Voltage<br>
                  </b></p>
              </td>
              <td width="347"
                style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                <p align="center">70V</p>
              </td>
            </tr>
            <tr>
              <td width="347" bgcolor="#E6EDF1"
                style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                <p align="center"><b>Rate of Use<br>
                  </b></p>
              </td>
              <td width="347"
                style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">

                <p align="center">70%(25° outside)</p>
              </td>
            </tr>
            <tr>
              <td width="347"
                style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                bgcolor="#E6EDF1">
                <p align="center"><b>Dimensions<br>
                  </b></p>
              </td>
              <td width="347"
                style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                <p align="center">140 x 330 x 240mm</p>
              </td>
            </tr>
            <tr>
              <td width="347"
                style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;"
                bgcolor="#E6EDF1">
                <p align="center"><b>Weight (Net)
                  </b></p>
              </td>
              <td width="347"
                style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                <p align="center">Less than 10Kg</p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">
        <p><img src="{% static '/imgs/en/product/welding/co2/sub2_m_09.gif' %}" width="750" height="45" alt=""></p>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding-right: 27px;">
        <ul>
          <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;">
            <div align="justify">Convenient Carrying – Carrying is convenient for dispatched work because the size is
              very small and the weight is light.</div>
          </li>
          <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;">
            <div align="justify">Front/Back Plastic Cases are used for improvement of carrying and safety.</div>
          </li>
          <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;">
            <div align="justify">High Rate of Use – Rated rate of use is possible up to 60% at 200A compared with the
              size of the cases.</div>
          </li>
          <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;">
            <div align="justify">Circuit Protection with NFB – NFB is applied for input power and the circuit is
              automatically and rapidly broken in case of internal trouble or leakage.</div>
          </li>
          <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;">
            <div align="justify">Use of Various Rods – Various kinds of metals and coating flux may be used.</div>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>
</div>
{% endblock %}