html,body{
    margin: 0;
    padding: 0;
}

/* container setting */
.container{
    width: 80vw;
    height: 100vh;
}

/* header & navbar setting */
header{
    margin-top: 2rem;
    max-width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    max-width: 50%;
    max-height: 100%;
}
.left-menu {
    display: flex;
    
}
.left-menu, .right-menu{
    width: 50%;
    height: 100%;
}
.company-slogan{
    display: flex;
    flex-direction: column;
}
.empty, .slogan-text{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
}
.right-menu > li {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.right-menu > li > a{
    color: black;
}
.right-menu > li > a:hover{
    color: lightgrey;
}

/* Navbar */
nav{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    height: 6vh;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
    background-color: transparent;
    border-radius: 5px 5px 5px 5px;
    border:solid 0px transparent;
}
.right-border{
    border-right: 1px solid grey;
}

.nav_menu_bar{
    text-align: center;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
.nav_menu_bar > a{
    cursor: pointer;
    text-decoration: none;
    color: #444444;
}

.nav_menu_bar:hover{
    background-color: rgb(255, 248, 240);
    transition: all ease-in .5s;
}

/* body */
.body{
    width: 100%;
    height: 40vh;
    margin-top: 2rem;
}

.products, .certificate {
    width: 28%;
}
.welding, .export {
    width: 20%;
}
.cutter, .partnership{
    width: 48%;
}
.products, .welding, .cutter{
    background-color:#e3f3fd;
}
.certificate, .export, .partnership{
    background-color:#e3f3fd;
}

/* border box 상단 CSS 작업 */
.upper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.title{
    margin-top: 0.2rem;
    text-align: center;
    font-weight: bold;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.content > a{
    margin-top: 0.7rem;
    color: black;
    text-decoration: none;
}
.content > a:hover{
    color: #666666;
    transition: all ease-in .5s;
}
.content-container{
    display: flex;
    justify-content: center;
}
.products, .welding, .certificate, .export, .cutter, .partnership{
    border-radius: 20px 0 20px 0;
}
.products{
    display: flex;
    flex-direction: column;
    
}

/* border box 하단 작업 (buttom) */

.bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
}
.certificate-imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img1{
    display: flex;
    justify-content: space-around;
}
.img1 > img{
    width: 40%;
    height: 50%;
}