@font-face {
  font-family: "raleway";
  src: url("../fonts/Raleway-SemiBold.ttf");
}

.main_content {
  width: 1024px;
  margin: 60px auto 50px;
  padding: 5px;
}
/* header & navbar setting */
header {
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px auto 40px;
  width: 1024px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 220px;
  height: 100%;
}
.left-menu {
  display: flex;
  height: 100%;
}
.right-menu {
  height: 100%;
}
.company-slogan {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.slogan-text {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-end;
}
.right-menu > li {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.right-menu > li > button {
  background: none;
  border: none;
}
.right-menu > li > a {
  color: black;
}
.right-menu > li > a:hover {
  color: lightgrey;
}

/* Navbar */
nav {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  width: 1024px;
  height: 30px;
  margin: 0 auto;
  align-items: center;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
  background-color: transparent;
  border-radius: 5px 5px 5px 5px;
  border: solid 0px transparent;
}
.right-border {
  border-right: 1px solid grey;
}
.nav_menu_bar_title {
  font-size: 16px;
  font-weight: 700;
}
.nav_menu_bar {
  text-align: center;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.nav_menu_bar > a {
  cursor: pointer;
  text-decoration: none;
  color: #444444;
  display: block;
  width: 100%;
}

.nav_menu_bar:hover {
  background-color: rgb(255, 248, 240);
  transition: all ease-in 0.5s;
}

.dropdown-toggle {
  text-align: end;
  width: 140px;
  padding-right: 20px;
}

.dropdown-menu {
  width: 140px;
  text-align: center;
}

/* body */
.product {
  width: 28%;
}
.title {
  color: #06265b;
}
.black-title {
  color: #333333;
}
.certificate {
  width: 28%;
  height: 300px;
}
.welding-box,
.export {
  width: 20%;
}
.cutter-box {
  width: 48%;
}
.partnership {
  width: 48%;
  height: 300px;
}
.products {
  margin-top: 10px;
  width: 100%;
  padding: 20px;
  height: 270px;
  font-size: 14px;
}
.welding {
  margin-top: 10px;
  width: 100%;
  height: 270px;
  padding: 20px;
  font-size: 14px;
}
.cutter {
  margin-top: 10px;
  width: 100%;
  height: 270px;
  padding: 20px;
  font-size: 13px;
}
.products,
.welding,
.cutter {
  background-color: #e3f3fd;
}
.certificate {
  background-color: #efefef;
  border: solid 2px #efefef;
}
.export,
.partnership {
  background-color: white;
  border: solid 2px #efefef;
}
/* border box 상단 CSS 작업 */
.upper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90%;
}
.title {
  margin-top: 0.2rem;
  text-align: center;
  font-weight: bold;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content > a {
  height: 35px;
  color: black;
  text-decoration: none;
}
.content > a:hover {
  color: #666666;
  transition: all ease-in 0.5s;
}
.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.products,
.welding,
.cutter {
  border-radius: 20px 0 20px 0;
}
.export,
.certificate,
.partnership {
  border-radius: 5px;
  height: 200px;
}
.products {
  display: flex;
  flex-direction: column;
}

/* border box 하단 작업 (buttom) */

.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  margin-top: 2rem;
}
/* 하단 이미지들 크기 조절하기 */
.certificate,
.export,
.partnership {
  height: 270px;
}
.certificate-imgs,
.export-imgs {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.partner-company {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
}

.company-img {
  padding: 5px;
  height: 38px !important;
}
.company-img-big {
  padding: 5px;
  height: 34px !important;
}
.company-img-sm {
  padding: 5px;
  height: 47px !important;
}
.img1,
.flag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}
.img1 > img {
  width: 30%;
  max-height: 60%;
}
.company-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30%;
}
.company-img > img {
  width: 30%;
  max-height: 80%;
}
.company-img-big {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30%;
}
.company-img-big > img {
  width: 30%;
  max-height: 80%;
}
.company-img-sm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30%;
}
.company-img-sm > img {
  width: 30%;
  max-height: 80%;
}

/* carousel */
#carouselExampleControls {
  margin-top: 2rem;
}

/* footer */

.footer_box {
  margin: 40px auto 50px;
  width: 1024px;
}
.footer_info {
  padding-left: 30px;
}
.site-link {
  font-weight: bold;
  display: flex;
  justify-content: start;
}
.site-link > a {
  text-decoration: none;
  color: black;
}
.site-link > a:hover {
  color: #666666;
  transition: all ease-in 0.5s;
}
.contact-info {
  margin-top: 8px;
  font-size: 13px;
  line-height: 20px;
}
.footer_left {
  margin-right: 30px;
}
body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
}

.banner-title {
  font-family: "Amaranth", sans-serif;
  font-size: 60px;
  text-shadow: 2px 2px 2px gray;
  padding-bottom: 160px;
}

.banner-subtitle {
  font-family: "Amaranth", sans-serif;
  font-size: 60px;
  text-shadow: 2px 2px 2px gray;
  padding-bottom: 20px;
}

.car-img {
  opacity: 0.8;
}

.carousel-item-banner {
  height: 600px !important;
}

@media (max-width: 800px) {
  .main-carousel {
    width: 1024px;
  }

  .carousel-item-banner {
    height: 400px !important;
  }

  .banner-title {
    font-family: "Amaranth", sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 2px gray;
    padding-bottom: 80px;
  }

  .banner-subtitle {
    font-family: "Amaranth", sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 2px gray;
    padding-bottom: 10px;
  }

  .company-img {
    padding: 2px;
    height: 30px !important;
  }
  .company-img-big {
    padding: 2px;
    height: 27px !important;
  }
  .company-img-sm {
    padding: 2px;
    height: 38px !important;
  }
  .sm {
    font-size: 11px !important;
    display: flex;
  }
}
.content.content-container {
  display: flex;
  height: 100%;
  justify-content: start;
}
.content-cutter {
  justify-content: start;
  width: 100%;
}
.block {
  margin-top: 1.5rem;
}
