.block{
    width: 100%;
    display: flex;
}

.menu{
    width: 25%;
}
.company_img{
    width: 30%;
}

.company_info{
    width: 45%;
}
.menu_title{
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    color: #06265b;
}
.menu_list_button {
    text-align: right;
}
.menu_list_button > a{
    font-size: 1.2rem;
    color: #444444;
    text-decoration: none;

}
.menu_list_button{
    border-bottom: 1px solid  #666666;
    margin-right: 2.5rem;
}
.menu_list_button > a:hover{
    color: #666666;
    transition: all ease-in .5s;
}

/* compyear_top */
.compyear_top{
    font-size: 1.5rem;
    font-weight: bold;
}

/* content - image */
.content{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* global css */
.menu_select{
    border: 6px solid rgb(255, 84, 84);
}