.block {
  width: 100%;
  display: flex;
}

.menu {
  width: 25%;
}
.company_img {
  width: 30%;
}

.company_info {
  width: 45%;
}
.menu_title {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  color: #06265b;
}
.menu_list_button {
  text-align: right;
}
.menu_list_button > a {
  display: block;
  font-size: 1.1rem;
  color: #444444;
  text-decoration: none;
}
.menu_list_button {
  border-bottom: 1px solid #666666;
  margin-right: 2.5rem;
}
.menu_list_button > a:hover {
  color: #666666;
  transition: all ease-in 0.5s;
}
/* global css */
.menu_select {
  border: 6px solid #64b5f6;
}

.address-text,
.compyear_top {
  font-size: 1.3rem;
  font-weight: bold;
}

.address-text {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 600;
}
