.block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: left;
}
td > p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.main_content {
  display: flex;
  justify-content: space-between;
}
.welding-product {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.co2-welding {
  width: 700px;
  margin: 0 auto;
  display: flex;
  color: black;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.co2-welding > a {
  text-align: center;
}
.main_content > .nav-link {
  padding: 0;
}
.nav-link,
.btn > a {
  color: black;
}
.main_content > .btn > a {
  text-decoration: none;
}
.main_content > .nav {
  width: 25%;
  align-items: flex-start;
  background-color: none;
  border: none;
}
.turnOn {
  color: #007bff;
}
.main_content > .dropdown-toggle {
  text-align: end;
  padding-right: 5px;
  width: 140px !important;
}
.btn.dropdown-toggle {
  text-align: end;
  padding-right: 5px;
  width: 130px !important;
}

@media (max-width: 400px) {
  .btn.dropdown-toggle {
    text-align: end;
    padding-right: 5px;
    width: 135px !important;
  }
}
.nav.flex-column {
  width: 130px !important;
}
div.dropdown-menu.productmenu {
  font-size: 11px;
  min-width: 110px !important;
  max-width: 110px !important;
}
.product-a.dropdown-item {
  width: 110px !important;
  padding: 4px;
  font-size: 11px !important;
}
.btn-group > button {
  font-weight: bold;
}
