{% extends "../../../base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../../left-navbar.html" %}
<!-- 용접기 제품 - CO2 용접기 -->
<div class="welding-product">
  <tr>
    <td width="750">
      <img src="/static/imgs/product_info/welding_machine/CO2/miracle500A/sub2_navi.gif" width="745" height="35" alt=""
        style="padding-left: 20px;">
    </td>
  </tr>
  {% include "./dc-tig-welding.html" %}
  <tr>
    <td width="750">
      <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td rowspan="3" valign="top" height="304">
              <img style="margin-top: 1rem;"
                src="/static/imgs/product_info/welding_machine/DC_tig/TIG500/sub2_sub5_2.gif" width="284" height="309"
                alt=""></td>
            <td>
              <img src="/static/imgs/product_info/welding_machine/DC_tig/TIG500/sub2_m_05.gif" width="466" height="18"
                alt=""></td>
          </tr>
          <tr>
            <td>
              <img src="{% static  '/imgs/en/product/welding/co2/sub2_m_06.gif' %}" width="466" height="45" alt=""></td>
          </tr>
          <tr>
            <td width="466" height="229" valign="top">

              <p align="justify" style="margin-right:30px; margin-left:1rem;">TIG 500EP is a DC TIG welder by digital
                control method for various pulse function and manual welding is possible; P.W.M current control inverter
                method is used with IGBT element and it has the advantages of small size, light weight, and power
                saving.</p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <img src="{% static  '/imgs/en/product/welding/co2/sub2_m_08.gif' %}" width="750" height="45" alt=""></td>
          </tr>
          <tr>
            <td colspan="2">

              <table cellpadding="0" cellspacing="0" width="93%" style="margin-left: 22px; margin-right: 40px;">

                <tbody>
                  <tr>
                    <td width="347"
                      style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>Input Electricity<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">
                      <p align="center">Both 220V/380V, 50/60Hz</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>Output Current<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">TIG 10~500A, MMA20~400A</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347" bgcolor="#E6EDF1"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>Output Load Voltage<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">TIG 20~230V, MMA25~40V</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>No-Load Voltage<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">68V
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>Slope Time<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">Moving up for 0~10sec and moving down for 0~15sec
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347" bgcolor="#E6EDF1"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>Gas Flow Time<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">Start 0sec and later 0~15sec</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347" bgcolor="#E6EDF1"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>Pulse Frequency<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">0.5~200Hz</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347" bgcolor="#E6EDF1"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>Pulse Bandwidth<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">5~85%</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347" bgcolor="#E6EDF1"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>Rate of Use<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">300A 50% (25° outside)</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>Dimensions<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">320 x 600 x 560</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>Weight (Net)
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">(NET)47kg</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">
              <p><img src="{% static  '/imgs/en/product/welding/co2/sub2_m_09.gif' %}" width="750" height="45" alt="">
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="padding-right: 27px;">
              <ul>
                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;">
                  <div align="justify">Digital Control and Automatic Setting Function – As the set data may be
                    automatically saved with application of Digital Control, the operation is simple.</div>
                </li>
                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;">
                  <div align="justify">As Start Current Control Function for Sustainable Arc Start is provided, perfect
                    arc start is possible and the welder shows excellent efficiency in case of continuous tag welding.
                  </div>
                </li>
                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;">
                  <div align="justify">Various Welding Functions – One welder has three functions: common DC TIG welding
                    (2T), DC TIG welding (4T) using holding function, and manual welding (DC Arc, MMA).</div>
                </li>
                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;">
                  <div align="justify">Hot Start Current Control – This function supports smooth arc start.</div>
                </li>
                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;">
                  <div align="justify">Start Current Control Function – The arc strength at the start of welding is
                    controlled to meet the requirement related with thin plate crack and high-speed start for rapid tack
                    welding.</div>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</div>
{% endblock %}