{% extends "../../../base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../../left-navbar.html" %}
<!-- 용접기 제품 - CO2 용접기 -->
<div class="welding-product">
{% include "./imgs.html" %}
  {% include "./dc-tig-welding.html" %}
  <tr>
    <td width="750">
      <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td rowspan="3" valign="top" height="304">
              <img style="margin-top: 1rem;"
                src="/static/imgs/product_info/welding_machine/DC_tig/TIG300/sub2_sub5_1.gif" width="284" height="309"
                alt=""></td>
            <td>
              <img src="/static/imgs/product_info/welding_machine/DC_tig/TIG300/sub2_m_05.gif" width="466" height="18"
                alt=""></td>
          </tr>
          <tr>
            <td>
              <img src="{% static  '/imgs/en/product/welding/co2/sub2_m_06.gif' %}" width="466" height="45" alt=""></td>
          </tr>
          <tr>
            <td width="466" height="229" valign="top">

              <p align="justify" style="margin-right:30px; margin-left:1rem;">
                TIG 300EP is an direct current pulse TIG
                welder equipped with a microprocessor for auto preset (preset, automatic display of set values) and
                manual welding is also possible; the safety of workers is improved with use of plastic cases and its
                small size and light weight is useful for carrying.</p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <img src="{% static  '/imgs/en/product/welding/co2/sub2_m_08.gif' %}" width="750" height="45" alt=""></td>
          </tr>
          <tr>
            <td colspan="2">
              <table cellpadding="0" cellspacing="0" width="93%" style="margin-left: 22px; margin-right: 40px;">

                <tbody>
                  <tr>
                    <td width="347"
                      style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1" height="15">
                      <p align="center"><b>Input Electricity<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;"
                      height="15">
                      <p align="center">220V single/triple phase 50/60Hz</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>Output Current<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">TIG 10~300A, MMA10~130A</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347" bgcolor="#E6EDF1"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>Output Load Voltage<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">TIG 20~25V, MMA25~35V</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>No-Load Voltage<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">68V
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>Slope Time<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">Moving up for 0sec (fixation) and moving down for 0~15sec
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347" bgcolor="#E6EDF1"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>Gas Flow Time<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">Start 0sec (fixation) and later 0~15sec</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347" bgcolor="#E6EDF1"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>Pulse Frequency<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">0.5~200Hz</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347" bgcolor="#E6EDF1"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>Pulse Bandwidth<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">5~85%</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347" bgcolor="#E6EDF1"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>Rate of Use<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">300A 60% (25° outside)</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>Dimensions<br>
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">210 x 420 x 340</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>Weight (Net)
                        </b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">(NET)18kg</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">
              <p><img src="{% static  '/imgs/en/product/welding/co2/sub2_m_09.gif' %}" width="750" height="45" alt="">
              </p>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="padding-right: 27px;">
              <ul>
                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;">
                  <div align="justify">Digital Control and Automatic Setting Function – As the set data may be
                    automatically saved with application of Digital Control, the operation is simple.</div>
                </li>
                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;">
                  <div align="justify">As Start Current Control Function for Sustainable Arc Start is provided, perfect
                    arc start is possible and the welder shows excellent efficiency in case of continuous tag welding.
                  </div>
                </li>
                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;">
                  <div align="justify">Various Welding Functions – One welder has three functions: common DC TIG welding
                    (2T), DC TIG welding (4T) using holding function, and manual welding (DC Arc, MMA).</div>
                </li>
                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;">
                  <div align="justify">Hot Start Current Control – This function supports smooth arc start.</div>
                </li>
                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;">
                  <div align="justify">Start Current Control Function – The arc strength at the start of welding is
                    controlled to meet the requirement related with thin plate crack and high-speed start for rapid tack
                    welding.</div>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</div>

{% endblock %}