{% extends "../../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../../left-navbar.html" %}
  <!-- 용접기 제품 - CO2 용접기 -->
  <div class="welding-product">
    {% include "./co2-welding.html" %}
  <tr>
    <td width="750">
      <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td rowspan="3">
              <img src="/static/imgs/product_info/welding_machine/CO2/miracle500A/sub2_500.gif" width="284" height="388"
                alt=""></td>
            <td>
              <img src="/static/imgs/product_info/welding_machine/CO2/miracle500A/sub2_m_05.gif" width="466" height="18"
                alt=""></td>
          </tr>
          <tr>
            <td>
              <img src="{% static  '/imgs/en/product/welding/co2/sub2_m_06.gif' %}" width="466" height="45"
                alt=""></td>
          </tr>
          <tr>
            <td width="466" height="325" valign="top">

              <p align="justify" style="margin-left:1rem;">MIRACLE 500A/600A and Shipboard Welding Machine series are adopting simulator control method, so these machines are outstanding in all consecutive welding current range from minimum current to maximum current and thus it can be possible to make the characteristics of stable arc and rated voltage. 
                <br>In addition, in case of controlled welding power supplying equipment which blocks output-shaft power, it has an automatically operated power-reducing circuit in the period of having no arc, while it is controlled by torch switch working as no-load power is consumed at the 1st shaft, therefore it also can reduce no-load power which is not necessary at no-arc originated period.
                </p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <img src="{% static  '/imgs/en/product/welding/co2/sub2_m_08.gif' %}" width="750" height="45"
                alt=""></td>
          </tr>
          <tr>
            <td colspan="2">

              <table cellpadding="0" cellspacing="0" width="100%" style="margin-left:23;">
                <tbody><tr>
                  <td width="347" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">

                      <p align="center"><b>Rated Input<br>
</b></p>
</td>
                  <td width="347" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">

                      <p align="center">30KVA 25.5KW</p>
</td>
</tr>
              <tr>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                      <p align="center"><b>Rated Input Voltage</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">220V/ 380V/ 440V 3Ф ±10%</p>
</td>
</tr>
              <tr>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                      <p align="center"><b>Rated Frequency</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">60Hz</p>
</td>
</tr>
              <tr>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                      <p align="center"><b>Rated Output Current</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">500A</p>
</td>
</tr>
              <tr>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                      <p align="center"><b>COUGING Function</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">Have/Have-Not  → Optional (Capacitive Current Method)
</p>
</td>
</tr>
              <tr>
                  <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                            <p align="center"><b>Rated Load Voltage</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                                                                                        <p align="center">42V</p>
</td>
</tr>
              <tr>
                  <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                            <p align="center"><b>Output Current Range<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                                                                                        <p align="center">50A~500A</p>
</td>
</tr>
              <tr>
                  <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                            <p align="center"><b>Output Voltage Range<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                                                                                        <p align="center">50V</p>
</td>
</tr>
              <tr>
                  <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                            <p align="center"><b>Max. No-Load Voltage<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                                                                                        <p align="center">62V</p>
</td>
</tr>
              <tr>
                  <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                            <p align="center"><b>Usage Ratio<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                                                                                        <p align="center">60% / 100%</p>
</td>
</tr>
              <tr>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                      <p align="center"><b>External Size<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">460X680X850mm</p>
</td>
</tr>
              <tr>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                      <p align="center"><b>Weight</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">195kg</p>
</td>
</tr>
</tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">
              <p><img src="{% static  '/imgs/en/product/welding/co2/sub2_m_09.gif' %}" width="750"
                  height="45" alt=""></p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <ul>
                  <li style="list-style-image:url('images/icon.gif'); margin-left:30;">If overcurrent occurs, it automatically reversed after it trips for 10 seconds because it has built-in overcurrent blocking circuit.<br>
</li>
                  <li style="list-style-image:url('images/icon.gif'); margin-left:30;">  It is operated at 40 degree, also stopped at 30 degree, and welding operation is automatically stopped at 75 degree because it 
has built-in dual cooling fan.<br>
</li>
                  <li style="list-style-image:url('images/icon.gif'); margin-left:30;">  There is no wasting of S/W using FUSE, thus there is no troublesome in replacing it.
</li>
                  <li style="list-style-image:url('images/icon.gif'); margin-left:30;">  In case of having short circuit or shot in PCB protecting built-in circuit, PCB FUSE of control circuit is automatically shorted.<br>
</li>
                  <li style="list-style-image:url('images/icon.gif'); margin-left:30;">  It has a built-in WIRE FEEDER operating stop circuit, thus it controls gas supply, WIRE FEEDER sending and feeding motor. <br>
</li>
                  <li style="list-style-image:url('images/icon.gif'); margin-left:30;">  In case of torch-on, it has a built-in control function circuit for GAS TIME, WIRE sending and feeding START TIME.<br>
Wiring is simple so that machines are neat and tidy due to the use of 1 BOARD PCB.
</li>
              </ul>
</td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</div>
{% endblock %}