{% extends "../../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../../left-navbar.html" %}
<!-- 용접기 제품 - CO2 용접기 -->
<div class="welding-product">
  {% include "./co2-welding.html" %}
  <tr>
    <td width="750">
      <table id="Table_01" width="750">
        <tbody>
          <tr>
            <td>
              <img src="/static/imgs/product_info/welding_machine/CO2/sunsang/sub2_3.gif" width="750" height="443"
                alt=""></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</div>
{% endblock %}