{% extends '../base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/company.css' %}">
<div class="block">
  {% include "./company.html" %}
  <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td>
<img src="{% static 'imgs/page_intro/en/ceo_greeting_en.gif' %}" width="750" height="35" alt=""></td>
</tr>
<tr>
  <td>
    <div class="compyear_top">CEO'S GREETINGS</div>
    <hr style="margin-right: 1.2rem;">
  </td>
</tr>
    <tr>
        <td width="750">

            <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
                <tbody><tr>
                    <td rowspan="2">
<img src="{% static 'imgs/en/company/sub_m_04_01.gif' %}" width="263" height="635" alt=""></td>
                    <td>
<img src="{% static 'imgs/en/company/sub_m_04_02.gif' %}" width="487" height="105" alt=""></td>
</tr>
                <tr>
                    <td height="530" valign="top">

                        <p align="justify" style="margin-right:1.5rem; margin-left:1rem;">LIGHTWEL Co., Ltd., which has differentiated and right welding technology to the characteristics of the shipbuilding industry, is the specialized manufacturing company in making welding and CNC Plasma &amp; Gas cutting machine which has strong durability being close to zero ratio of disorder as well as has enough usage ratio. <br><br>Particularly, LIGHTWEL Co., Ltd. has been doing its business with a view to supply the decreased power cost and safe welding machine with the heart of future preparation since it is mandatory in welding, the so-called core of shipbuilding that many experience, business achievements, safe and elaborate generating power of welding condition should be required.
<br><br>Our company had pushed on the goal of creating market and future going through with the limited technology because specialized technology and leading market can only make company to last long, so that we have been achieving good business goal in selling about 3,000 various kinds of welding equipments by pushing into foreign market such as Gaya Shipbuilding Co., Ltd. Weihai Sintaewon Shipbuilding Inc., since it was started by making business relationship with Samsung Heavy Industry Youngsung Co., Ltd. in 2000 based on Youngsung city in China, and on the other hand, we have been making our best efforts to lead the market of welding machine by developing more upgraded ONE-BOARD PCB with new welding technology which is the concentration of the whole existing technologies in domestic.
<br><br>It goes without saying that it was possible for us to do it because there were customer companies' leading, concern, and care, and the whole personnel of LIGHTWEL Co., Ltd. pledge to be the company meeting customers' expectations all the more.  <br><br>We also please ask you to give us continuous support and leadership for our efforts forever.
<br></p>
</td>
</tr>
                <tr>
                    <td height="2" colspan="2">&nbsp;</td>
</tr>
</tbody></table></td>
</tr>
</tbody></table>
  <!-- <div class="company_img"><img src="{% static 'imgs/en/company/sub_m_04_01.gif' %}" /></div>
  <div class="company_info">
    <img src="{% static 'imgs/en/company/sub_m_04_02.gif' %}" class="company_info_img" width="487" height="105" />
    <div class="company_info_word">
      <p align="justify" style="margin-right:25; margin-left:10;">LIGHTWEL Co., Ltd., which has differentiated and right welding technology to the characteristics of the shipbuilding industry, is the specialized manufacturing company in making welding and CNC Plasma &amp; Gas cutting machine which has strong durability being close to zero ratio of disorder as well as has enough usage ratio. <br><br>Particularly, LIGHTWEL Co., Ltd. has been doing its business with a view to supply the decreased power cost and safe welding machine with the heart of future preparation since it is mandatory in welding, the so-called core of shipbuilding that many experience, business achievements, safe and elaborate generating power of welding condition should be required.
        <br><br>Our company had pushed on the goal of creating market and future going through with the limited technology because specialized technology and leading market can only make company to last long, so that we have been achieving good business goal in selling about 3,000 various kinds of welding equipments by pushing into foreign market such as Gaya Shipbuilding Co., Ltd. Weihai Sintaewon Shipbuilding Inc., since it was started by making business relationship with Samsung Heavy Industry Youngsung Co., Ltd. in 2000 based on Youngsung city in China, and on the other hand, we have been making our best efforts to lead the market of welding machine by developing more upgraded ONE-BOARD PCB with new welding technology which is the concentration of the whole existing technologies in domestic.
        <br><br>It goes without saying that it was possible for us to do it because there were customer companies' leading, concern, and care, and the whole personnel of LIGHTWEL Co., Ltd. pledge to be the company meeting customers' expectations all the more.  <br><br>We also please ask you to give us continuous support and leadership for our efforts forever.
        <br></p>
    </div>
  </div>
</div>
</div> -->
</div>
{% endblock %}