{% extends '../base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/company_field.css' %}">
<div class="block" >
  {% include "./company.html" %}
  <div class="content">
    <!-- <div class="compyear_top">BUSINESS AREAS</div>
    <img src="{% static 'imgs/en/company/sub_m3_04.gif' %}" width="750" height="555" border="0"> -->

    <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
      <tbody><tr>
          <td>
<img src="{% static 'imgs/page_intro/en/business_en.gif' %}" width="750" height="35" alt=""></td>
</tr>
<tr>
  <td>
    <div class="compyear_top">BUSINESS AREAS</div>
    <hr style="margin-right: 1.2rem;">
  </td>
</tr>
      <tr>
          <td width="750"><img src="{% static 'imgs/en/company/sub_m3_04.gif' %}" width="750" height="555" border="0"></td>
</tr>
</tbody></table>
  </div>
</div>
{% endblock %}