{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회사연혁</title>
    <link rel="stylesheet" href="{% static 'css/company_year.css' %}">
</head>
<body>
    <div class="body_content">
        <div class="left_menu">
            <div class="company_intro">회사소개</div>
            <div class="company_menu">
                <div class="menu1">대표자 인사말</div>
                <div class="menu1">회사연혁</div>
                <div class="menu1">사업분야</div>
                <div class="menu1">찾아오시는 길</div>
            </div>
        </div>

        <div class="comp_year">
            <div class="compyear_top">회 / 사 / 연 / 혁</div>
            <div class="year_content">
                <div class="year">2004</div>
                <div class="year_border"></div>
                <div class="year_box">
                    <div class="year_con1">2004.02. 창업(경남 통영시 광도면 황리 아넝 국가산업 단지 1-2BLOCK 부지 매입으로 사업 개시.</div>
                    <div class="year_con1">2004.07. 한국 고오베스틸 용접재료 대리점 판매 개시</div>
                    <div class="year_con1">2004.07. 욱일기업, 대기공업, 녹색지대(거제지역) 라이트웰 브랜드 CO2 용접기 제작/판매.</div>
                    <div class="year_con1">2004.12. 공장 건축 준공.</div>
                    <div class="year_con1">2004.12. KOIKE KOREA ENGINNERING(주) 대리점 등록/ AUTO BEVEL, PLASMA절단기 설치, A/S업무 개시.</div>
                </div>
            </div>
            <div class="year_content">
                <div class="year">2005</div>
                <div class="year_border"></div>
                <div class="year_box">
                    <div class="year_con1">2005.05. 녹색지대 PLASMA절단기 정반,기초 설치/시운전.</div>
                    <div class="year_con1">2005.06. 삼성 중공업 등록(OTC TIG 용접기 납품.)</div>
                    <div class="year_con1">2005.10. 가야 중공업 CO2용접기 제작/납품.</div>
                    <div class="year_con1">2005.12. SPP조선해양 주식회사 선상가설팀 업체등록.</div>
                    <div class="year_con1">         (선상내의 U/T, 조명등, 도장장비 설치 지원.)</div>
                </div>
            </div>
            <div class="year_content">
                <div class="year">2006</div>
                <div class="year_border"></div>
                <div class="year_box">
                    <div class="year_con1">2006.10. 삼성 중공업 영성유한공사(중국) 용접기 910대 수출업체로 계약, 수출 개시.</div>
                </div>
            </div>
            <div class="year_content">
                <div class="year">2007</div>
                <div class="year_border"></div>
                <div class="year_box">
                    <div class="year_con1">2007.04. 가야선업(중국) 용접기 400대 수출업체로 계약, 수출 개시.</div>
                    <div class="year_con1">2007.05. KOIKE KOREA ENGINNERING CNC GAS CUTTING M/C OEM 절단기 제작</div>
                    <div class="year_con1">2007.10. SPP조선해양 주식회사 용접기, 조명등 분전반 및 CARRY AUTO 이동대차 제작/납품.</div>
                </div>
            </div>
            <div class="year_content">
                <div class="year">2008</div>
                <div class="year_border"></div>
                <div class="year_box">
                    <div class="year_con1">2008.01. 위해 신태원 선업책임공사(중국) 용접기 300대 수출업체로 계약, 수출 개시.</div>
                    <div class="year_con1">2008.02. 삼성 중공업 영성유한공사(중국) 용접기 510대 수출업체로 계약, 수출 개시.</div>
                    <div class="year_con1">2008.05. 2D CNC PLASMA CUTTING M/C 국산화 성공.</div>
                    <div class="year_con1">2008.08. ONE-BOARD CO2용접기 개발 완료.</div>
                    <div class="year_con1">         (과전류, FAN절전, SOFT ARC, GAS PRE-FLOW, PCB보호 기능.)</div>
                    <div class="year_con1">2008.10. 삼성 중공업 영성유한공사(중국) 용접기 400대 수출업체로 계약, 수출 개시.</div>
                </div>
            </div>
            <div class="year_content">
                <div class="year">2009</div>
                <div class="year_border"></div>
                <div class="year_box">
                    <div class="year_con1">2009.03. 사세보 조선소(일본) 선상용접기 50set 수출</div>
                    <div class="year_con1">2009.06. 한진 중공업 납품(필리핀 수빅) – CNC PIPE COASTER 600A(1EA), PIPE GAS CUTTING M/C</div>
                    <div class="year_con1">         600A(1EA), PIPE ROTATOR 600A(15EA)/1000A(1EA).</div>
                    <div class="year_con1">2009.09. 한진중공업 AUTO CARRIAGE 납품 - 자석 캐리지 90EA/단속 캐리지 10EA/버티컬 캐리지 20EA</div>
                    <div class="year_con1">2009.11.	KS Q ISO9001:2009 / ISO9001:2008 인증서 획득</div>
                </div>
            </div>
            <div class="year_content">
                <div class="year">2010</div>
                <div class="year_border"></div>
                <div class="year_box">
                    <div class="year_con1">2010.01. 구만중공업 장비이설 및 설치 시운전 완료 - PLASMA CUTTING MACHINE 2EA/ NC GAS CUTTING MACHINE 1EA</div>
                    <div class="year_con1">2010.03.	사세보 조선소(일본) 선상용접기 34set 수출</div>
                    <div class="year_con1">2010.04.	기업부설연구소 설립</div>
                    <div class="year_con1">2010.04.	에스에이치조선 (주) SPONGE-JET B-VAC PR03 BLASTING M/C 1대 제작/설치</div>
                    <div class="year_con1">2010.05.	금강조선(주) SPONGE-JET B-VAC PRO3 BLASTING M/C 1대 제작/ 설치</div>
                    <div class="year_con1">2010.08.	중국 위해 삼진선업 CO2 600A 용접기 90SETS 수출</div>
                    <div class="year_con1">2010.10. 삼성중공업주식회사 풍력사업부 TWIN B-VAC PRO3 SPONGE-JET 1SET 계약, 설치, 시운전 완료</div>
                </div>
            </div>
            <div class="year_content">
                <div class="year">2011</div>
                <div class="year_border"></div>
                <div class="year_box">
                    <div class="year_con1">2011.03. 두성코텍 함안 2공장 CO2 600A 50SET, GOUGING, AUTO CARRIAGE, 분전반(15면), 조명등 납품/ 설치</div>
                    <div class="year_con1">2011.06.	에스에이치중공업(주) CO2 600A 40SETS, 2POLE CARRIAGE 납품/ 설치</div>
                    <div class="year_con1">2011.06.	(주)레트로 고성공장 선상용접기 600A 50SETS 납품/ 설치</div>
                    <div class="year_con1">         EK중공업(주) CO2 600A 10SETS 납품, 설치</div>
                    <div class="year_con1">2011.07.	EK중공업(주) AC SUMBERGED 1500A 1SET 납품/ 설치</div>
                    <div class="year_con1">2011.08.	사세보 조선소 (일본) 선상용접기 500A(TWIN -TANDEM CO2 WELDING M/C) 120SETS 수출</div>
                    <div class="year_con1">2011.10.	EK중공업(주) 고성공장 선상용접기 50SETS, GOUGING, 2POLE CARRIAGE AC-DC 1500A   FULL SETS, 분전반(15면) 납품설치</div>
                </div>
            </div>
            <div class="year_content">
                <div class="year">2012</div>
                <div class="year_border"></div>
                <div class="year_box">
                    <div class="year_con1">2012.01. 성동조선해양(주) 용접장비 관련 납품개시</div>
                    <div class="year_con1">2012.11.	KS Q ISO9001:2009 / ISO9001:2008 인증 갱신등록</div>
                </div>
            </div>
            <div class="year_content">
                <div class="year">2013</div>
                <div class="year_border"></div>
                <div class="year_box">
                    <div class="year_con1">2013.07. CE 유럽안전인증 획득 (CO2 용접기 500A, 600A - TUV NORD)</div>
                    <div class="year_con1">2013.09. 브라질 BIERGES 회사 CO2 용접기 제작과정 본사 연수</div>
                </div>
            </div>
            <div class="year_content">
                <div class="year">2014</div>
                <div class="year_border"></div>
                <div class="year_box">
                    <div class="year_con1">2014.07. 건조기 디자인특허 2건 출원 등록</div>
                    <div class="year_con1">2014.08. 삼성 중공업 영성유한공사(중국) 건조기 수출</div>
                </div>
            </div>
            <div class="year_content">
                <div class="year">2015</div>
                <div class="year_border"></div>
                <div class="year_box">
                    <div class="year_con1">2015.01. 성동조선해양(주) 생산지원부 업체등록</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>