{% extends '../base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/company_history.css' %}">
<div class="block" >

  {% include "./company.html" %}
  <div class="content">
    <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
      <tbody>
      <tr>
          <td width="750">&nbsp;</td>
</tr>
      <tr>
          <td width="750">


              <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
                  <tbody><tr>
                    <div class="compyear_top">HISTORY</div>
                    <hr>
                      <td height="115" valign="top" width="125">

                          <p><img src="{% static 'imgs/company_info/comp_history/2004.gif' %}" width="128" height="63" alt=""></p>
</td>
                      <td width="587" valign="top" height="115">

                          <table cellpadding="0" cellspacing="0" width="100%">
                              <tbody><tr>
                                  <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">

                                    <p align="center"><strong><font color="#31B4C1">2004.02</font><strong></b></p>
</td>
                                  <td width="509">

                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;Purchased 1-2 Block of Anjeong National Industrial Complex in Hwang-ri, 
Gwangdo-myeon, Tongyeong-si, Gyeongsangnam-do and started business with 
establishment of the company. </p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">

                                    <p align="center"><strong><font color="#31B4C1">2004.07</font><strong></b></p>
</td>
                                  <td width="509">

                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;Started the sales as an agent of Korea Go-Oh Besteel </p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                                    <p align="center"><strong><font color="#31B4C1">2004.07</font><strong></b></p>
</td>
                                  <td width="509">

                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;Manufactured and sold CO2 welders to Wugil Industry, Daegi Industry, and 
Noksaekjidae (Geoje Area) in the Lightwel brand. </p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" height="16" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">                                                            <p align="center"><strong><font color="#31B4C1">2004.12</font><strong></b></p>
</td>
                                  <td width="509" height="16">                                                            <p style="margin-right:20; margin-left:10;">&nbsp;Finished the construction of its factory. </p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" height="16" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">                                                            <p align="center"><strong><font color="#31B4C1">2004.12</font><strong></b></p>
</td>
                                  <td width="509" height="16">                                                            <p style="margin-right:20; margin-left:10;">&nbsp;Being registered as an agent of Koike Korea Engineering Co., Ltd and 
installed an auto bevel plasma cutter.
Started A/S work. 
</p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" valign="top" height="16">

                                      <p align="center">&nbsp;</p>
</td>
                                  <td width="509" height="16">

                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>
</td>
                              </tr>
                          </tbody></table>
</td>
</tr>
</tbody></table></td>
</tr>
      <tr>
          <td width="750">
              <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
                  <tbody><tr>
                      <td height="115" valign="top" width="125">
                          <p><img src="{% static 'imgs/company_info/comp_history/2005.gif' %}" width="128" height="63" alt=""></p>
</td>
                      <td width="587" valign="top" height="115">
                          <table cellpadding="0" cellspacing="0" width="100%">
                              <tbody><tr>
                                  <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                                    <p align="center"><strong><font color="#31B4C1">2005.05</font><strong></b></p>
</td>
                                  <td width="509">
                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;Installed a plasma cutter as well as the minute plate and foundation of it for 
Noksaekjidae and performed the test operation of it. </p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                                    <p align="center"><strong><font color="#31B4C1">2005.06</font><strong></b></p>
</td>
                                  <td width="509">
                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;Being registered in Samsung Heavy Industries (and delivered OTC TIG welder). </p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">

                                    <p align="center"><strong><font color="#31B4C1">2005.10</font><strong></b></p>
</td>
                                  <td width="509">
                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;Manufactured and delivered a CO2 welder to Gaya Heavy Industries. </p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" height="16" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">                                                            
                                    <p align="center"><strong><font color="#31B4C1">2005.12</font><strong></b></p>
</td>
                                  <td width="509" height="16">                                                            
                                      <p style="margin-right:20; margin-left:10;">&nbsp;Being registered as an on-board construction team member in SPP Plant &amp; Shipbuilding.
(Supported the installation of U/T, lighting lamps, and painting equipment on the board)  
</p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" valign="top" height="16">
                                      <p align="center">&nbsp;</p>
</td>
                                  <td width="509" height="16">
                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>
</td>
                              </tr>
                          </tbody></table>
</td>
</tr>
</tbody></table></td>
</tr>
      <tr>
          <td width="750">
              <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
                  <tbody><tr>
                      <td height="115" valign="top" width="125">

                          <p><img src="{% static 'imgs/company_info/comp_history/2006.gif' %}" width="128" height="63" alt=""></p>
</td>
                      <td width="587" valign="top" height="115">

                          <table cellpadding="0" cellspacing="0" width="100%">
                              <tbody><tr>
                                  <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">

                                    <p align="center"><strong><font color="#31B4C1">2006.10</font><strong></b></p>
</td>
                                  <td width="509">

                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;Made an agreement to export 910 sets of welders to Samsung Heavy Industries and 
Yingsheng Youxiangongshi (China) and started export.  
</p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" valign="top" height="16">

                                      <p align="center">&nbsp;</p>
</td>
                                  <td width="509" height="16">

                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>
</td>
                              </tr>
                          </tbody></table>
</td>
</tr>
</tbody></table></td>
</tr>
      <tr>
          <td width="750">
              <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
                  <tbody><tr>
                      <td height="115" valign="top" width="125">

                          <p><img src="{% static 'imgs/company_info/comp_history/2007.gif' %}" width="128" height="63" alt=""></p>
</td>
                      <td width="587" valign="top" height="115">

                          <table cellpadding="0" cellspacing="0" width="100%">
                              <tbody><tr>
                                  <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">

                                    <p align="center"><strong><font color="#31B4C1">2007.04</font><strong></b></p>
</td>
                                  <td width="509">

                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;Made an agreement to export 400 sets of welders to Gaya Chuanye (China) and started export. </p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">

                                    <p align="center"><strong><font color="#31B4C1">2007.05</font><strong></b></p>
</td>
                                  <td width="509">

                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;Manufactured a CNC cutting machine for Koike Korea Engineering in OEM condition.</p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                                    <p align="center"><strong><font color="#31B4C1">2007.10</font><strong></b></p>
</td>
                                  <td width="509">

                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;Manufactured and delivered welders, lighting lamps, distribution panel, and 
carry auto vehicle for SPP Plant &amp; Shipbuilding. </p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" valign="top" height="16">

                                      <p align="center">&nbsp;</p>
</td>
                                  <td width="509" height="16">

                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>
</td>
                              </tr>
                          </tbody></table>
</td>
</tr>
</tbody></table></td>
</tr>
      <tr>
          <td width="750">
              <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
                  <tbody><tr>
                      <td height="115" valign="top" width="125">
                          <p><img src="{% static 'imgs/company_info/comp_history/2008.gif' %}" width="128" height="63" alt=""></p>
</td>
                      <td width="587" valign="top" height="115">
                          <table cellpadding="0" cellspacing="0" width="100%">
                              <tbody><tr>
                                  <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                                    <p align="center"><strong><font color="#31B4C1">2008.01</font><strong></b></p>
</td>
                                  <td width="509">
                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;Made an agreement to export 300 sets of welders to 
Weihei Xintaiyuan Chuanye Youxiangongshi (China) and started export. 

</p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                                    <p align="center"><strong><font color="#31B4C1">2008.02</font><strong></b></p>
</td>
                                  <td width="509">
                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;Made an agreement to export 510 sets of welders to Samsung Heavy Industries and 
Yingsheng Youxiangongshi (China) and started export. 
</p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">

                                    <p align="center"><strong><font color="#31B4C1">2008.02</font><strong></b></p>
</td>
                                  <td width="509">
                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;Succeeded in localization of 2D CNC plasma cutting machine. 
</p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" height="16" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">                                                           <p align="center"><strong><font color="#31B4C1">2008.08</font><strong></b></p>
</td>
                                  <td width="509" height="16">                                                            <p style="margin-right:20; margin-left:10;">&nbsp;Developed one-board CO2 welder.
(Protection function against over voltage, power saving of fans, soft arc, gas pre-flow, and PCB) 
</p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" height="16" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">                                                            <p align="center"><strong><font color="#31B4C1">2008.10</font><strong></b></p>
</td>
                                  <td width="509" height="16">                                                            <p style="margin-right:20; margin-left:10;">&nbsp;Made an agreement to export 400 sets of welders to Samsung Heavy Industries and 
Yingsheng Youxiangongshi (China) and started export. 
</p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" valign="top" height="16">
                                      <p align="center">&nbsp;</p>
</td>
                                  <td width="509" height="16">
                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>
</td>
                              </tr>
                          </tbody></table>
</td>
</tr>
</tbody></table></td>
</tr>
      <tr>
          <td width="750">
              <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
                  <tbody><tr>
                      <td height="116" valign="top" width="125">

                          <p><img src="{% static 'imgs/company_info/comp_history/2009.gif' %}" width="128" height="63" alt=""></p>
</td>
                      <td width="587" valign="top" height="116">

                          <table cellpadding="0" cellspacing="0" width="100%">
                              <tbody><tr>
                                  <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">

                                    <p align="center"><strong><font color="#31B4C1">2009.03</font><strong></b></p>
</td>
                                  <td width="509">

                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;Exported 50 sets of on-board welders to Japan.</p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" height="16" valign="top"  style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">                                                            <p align="center"><strong><font color="#31B4C1">2009.06</font><strong></b></p>
</td>
                                  <td width="509" height="16">                                                            <p style="margin-right:20; margin-left:10;">&nbsp;Delivered products to Hanjin Heavy Industries &amp; Construction (Subic, Philippine). – CNC PIPE COASTER 600A(1EA), PIPE GAS CUTTING M/C 600A(1EA), PIPE ROTATOR 600A(15EA)/1000A(1EA).</p>
</td>
                              </tr>
                              <tr>
                                  <td width="75" valign="top" height="16">

                                      <p align="center">&nbsp;</p>
</td>
                                  <td width="509" height="16">

                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>
</td>
                              </tr>
                          </tbody></table>
</td>
</tr>
<tr>
                      <td height="116" valign="top" width="125">

                          <p><img src="{% static 'imgs/company_info/comp_history/2010.gif' %}" width="128" height="63" alt=""></p>
</td>
                      <td width="587" valign="top" height="116">

                          <table cellpadding="0" cellspacing="0" width="100%">
                              <tbody><tr>
                    <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">

                                      <p align="center"><strong><font color="#31B4C1">2010.04</font></strong></p></td>
                                  <td width="508">

                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;Manufactured and  installed 1 unit of SPONGE-JET B-VAC PRO3 BLASTING M/C for SH Shipbuilding Co.,  Ltd.</p></td>
                              </tr>
                              <tr>
                                <td width="75" height="16" valign="top"  style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">                                                            <p align="center"><strong><font color="#31B4C1">2010.05</font></strong></p></td>
                                  <td width="508" height="16">                                                            <p> &nbsp;Manufactured  and installed 1 unit of SPONGE-JET B-VAC PRO3 BLASTING M/C for Geum Gang  Shipbuilding Co. Ltd</p>                                                      </td>
                              </tr>
                              <tr>
                                <td width="75" height="16" valign="top"  style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;"><p align="center"><strong><font color="#31B4C1">2010.08</font></strong></p></td>
                                <td height="16"><p> &nbsp;Exported  90 sets of CO2 600A WELDING M/C to Samjin Shipbuilding Industries Co.,Ltd. in  Wei-hai, China</p></td>
                              </tr>
                              <tr>
                                <td width="75" height="16" valign="top"  style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;"><p align="center"><strong><font color="#31B4C1">2010.10</font></strong></p></td>
                                <td height="16"><p> &nbsp;Installed  1 set of TWIN B-VAC PRO3 SPONGE-JET and completed trial run of it for the Wind Power  Department of 
                                Samsung Heavy Industries Co.,Ltd.</p></td>
                              </tr>
                              <tr>
                                  <td width="75" valign="top" height="16">

                                      <p align="center">&nbsp;</p></td>
                                  <td width="508" height="16">

                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p></td>
                              </tr>
                          </tbody></table>
</td>
</tr>
<tr>
                      <td height="116" valign="top" width="125">

                          <p><img src="{% static 'imgs/company_info/comp_history/2011.jpg' %}" width="128" height="63" alt=""></p>
</td>
                      <td width="587" valign="top" height="116">

                          <table cellpadding="0" cellspacing="0" width="100%">
                              <tbody><tr>
                                  <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">

                                    <p align="center"><strong><font color="#31B4C1">2011.03</font><strong></b></p></td>
                                  <td width="508">

                                      <p>&nbsp;Installed 50 sets of  CO2 600A, GOUGING, AUTO CARRIAGE, CABINET PANEL (15 units), and LIGHTING  EQUIPMENT<
                                        for Haman  2nd factory of Doosung Cotec. Co.,Ltd</p>
                                      </td>
                              </tr>
                              <tr>
                                  <td width="75" height="16" valign="top"  style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">                                                            <p align="center"><strong><font color="#31B4C1">2011.06</font><strong></b></p></td>
                                  <td width="508" height="16">                                                            <p style="margin-right:20; margin-left:10;">&nbsp;Installed 40 sets of CO2  600A and 2POLE CARRIAGE for SH Heavy Industries Co.,Ltd</p></td>
                              </tr>
                              <tr>
                                <td valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;"><p align="center"><strong><font color="#31B4C1">2011.06</font><strong></b></p></td>
                                <td><p>&nbsp;Installed  50 sets of WELDING M/C on Board for Gosung factory of Retro Co.,Ltd
                                Installed 10 sets of CO2 600A for EK Heavy  Industries Co.,Ltd</p>                                                        
                                </td>
                              </tr>
                              <tr>
                                <td valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;"><p align="center"><strong><font color="#31B4C1">2011.07</font><strong></b></p></td>
                                <td><p>&nbsp;Installed  1 set of AC SUMBERGED 1500A for EK Heavy Industries Co.Ltd.</p>                                                        </td>
                              </tr>
                              <tr>
                                <td valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;"><p align="center"><strong><font color="#31B4C1">2011.08</font><strong></b></p></td>
                                <td><p>&nbsp;Exported  120 sets of WELDING M/C on Board 500A (TWIN -TANDEM CO2 WELDING M/C) to Sasebo  Shipbuilding Co.,Ltd.
                                in Japan.</p>                                                        </td>
                              </tr>
                              <tr>
                                <td valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;"><p align="center"><strong><font color="#31B4C1">2011.10</font><strong></b></p></td>
                                <td><p>&nbsp;Installed  50 sets of WELDING M/C on Board, GOUGING, full sets of 2POLE CARRIAGE AC-DC  1500A, and CABINET PANEL(15 units)<br>
                                for Gosung factory of EK Heavy  Industries Co.,Ltd.</p>                                                      </td>
                              </tr>
                              <tr>
                                  <td width="75" valign="top" height="16">

                                      <p align="center">&nbsp;</p></td>
                                  <td width="508" height="16">

                                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p></td>
                              </tr>
                          </tbody></table>
</td>
</tr>

</tbody></table></td>
</tr>
<!----->
<tr>
          <td width="750">
              <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
                  <tbody><tr>
                      <td height="62" valign="top" width="125">
                          <p><img src="{% static 'imgs/company_info/comp_history/2012.jpg' %}" width="128" height="63"></p>
 </td>
   <td width="587" valign="top" height="62">
                          <table cellpadding="0" cellspacing="0" width="100%">
                              <tbody><tr>
                                  <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                                    <p align="center"><strong><font color="#31B4C1">2012.01</font><strong></b></p>                                                        </td>
                                  <td width="508"><p align="left">&nbsp;Sung Dong Shipbuilding &amp; Marine Engineering Co., Ltd. welding equipment deliveries start</p>                                                            </td>
                            </tr>
                              <tr>
                                <td align="center" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;"><p align="center"><strong><font color="#31B4C1">2012.11</font><strong></b></p></td>
                                <td width="508"><p align="left">&nbsp;KS Q ISO9001: 2009 / ISO9001: 2008 certification renewal registration</p></td>
                            </tr>                                                  
                              <tr>
                                  <td width="75" valign="top" height="16">
                                      <p align="center">&nbsp;</p>                                                        </td>
                                  <td width="508" height="16">
                                <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>                                                        </td>
                            </tr>
                          </tbody></table>
                    </td>
                  </tr>
              </tbody></table>
          </td>
      </tr>
<!------>
<!----->
<tr>
          <td width="750">
              <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
                  <tbody><tr>
                      <td height="62" valign="top" width="125">
                          <p><img src="{% static 'imgs/company_info/comp_history/2013.jpg' %}" width="128" height="63"></p>
 </td>
   <td width="587" valign="top" height="62">
                          <table cellpadding="0" cellspacing="0" width="100%">
                              <tbody><tr>
                                  <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                                    <p align="center"><strong><font color="#31B4C1">2013.07</font><strong></b></p>                                                        </td>
                                  <td width="508"><p align="left">&nbsp;CE European safety certification (CO2 welder 500A, 600A - TUV NORD)
</p>                                                            </td>
                            </tr>
                              <tr>
                                <td align="center" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;"><p align="center"><strong><font color="#31B4C1">2013.09</font><strong></b></p></td>
                                <td width="508"><p align="left">&nbsp;Brazil BIERGES company headquarters CO2 welding machine production process, training</p></td>
                            </tr>                                                  
                              <tr>
                                  <td width="75" valign="top" height="16">
                                      <p align="center">&nbsp;</p>                                                        </td>
                                  <td width="508" height="16">
                                <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>                                                        </td>
                            </tr>
                          </tbody></table>
                    </td>
                  </tr>
              </tbody></table>
          </td>
      </tr>
<!------>
<!----->
<tr>
          <td width="750">
              <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
                  <tbody><tr>
                      <td height="62" valign="top" width="125">
                          <p><img src="{% static 'imgs/company_info/comp_history/2014.jpg' %}" width="128" height="63"></p>
 </td>
   <td width="587" valign="top" height="62">
                          <table cellpadding="0" cellspacing="0" width="100%">
                              <tbody><tr>
                                  <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                                    <p align="center"><strong><font color="#31B4C1">2014.07</font><strong></b></p>                                                       </td>
                                  <td width="508"><p align="left">&nbsp;Dryer design two patents pending registration
</p>                                                            </td>
                            </tr>
                              <tr>
                                <td align="center" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;"><p align="center"><strong><font color="#31B4C1">2014.08</font><strong></b></p></td>
                                <td width="508"><p align="left">&nbsp;Samsung Heavy Industries Rongcheng Co., Ltd. (China) Export dryer</p></td>
                            </tr>                                                  
                              <tr>
                                  <td width="75" valign="top" height="16">
                                      <p align="center">&nbsp;</p>                                                        </td>
                                  <td width="508" height="16">
                                <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>                                                        </td>
                            </tr>
                          </tbody></table>
                    </td>
                  </tr>
              </tbody></table>
          </td>
      </tr>
<!------>
<!----->
<tr>
          <td width="750">
              <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
                  <tbody><tr>
                      <td height="62" valign="top" width="125">
                          <p><img src="{% static 'imgs/company_info/comp_history/2015.jpg' %}" width="128" height="63"></p>
 </td>
   <td width="587" valign="top" height="62">
                          <table cellpadding="0" cellspacing="0" width="100%">
                              <tbody><tr>
                                  <td width="75" valign="top" style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                                    <p align="center"><strong><font color="#31B4C1">2015.01</font><strong></b></p>                                                       </td>
                                  <td width="508"><p align="left">&nbsp;Sung Dong Shipbuilding &amp; Marine Engineering Co., Ltd. production supporting team Partnership</p>                                                            </td>
                            </tr>                                                                                        
                              <tr>
                                  <td width="75" valign="top" height="16">
                                      <p align="center">&nbsp;</p>                                                        </td>
                                  <td width="508" height="16">
                                <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>                                                        </td>
                            </tr>
                          </tbody></table>
                    </td>
                  </tr>
              </tbody></table>
          </td>
      </tr>
<!------>
</tbody></table>
  
  </div>
</div>
{% endblock %}