{% load static %}
<div class="menu">
    <div class="menu_list">
      <img src="{% static 'imgs/company_info/business_field/sub_menu_01_en.gif' %}" width="220" height="97" style="margin-bottom: 1rem;" alt="">
      <div class="menu_list_button"><a href="/en/company" >CEO'S GREETINGS</a></div>
      <div class="menu_list_button"><a href="/en/company/history">HISTORY</a> </div>
      <div class="menu_list_button"><a href="/en/company/field">BUSINESS AREAS</a></div>
      <div class="menu_list_button"><a href="/en/company/certificate">CERTIFICATION</a></div>
      <div class="menu_list_button"><a href="/en/company/access">MAP</a></div>
    </div>
  </div>

<script>
const activeBar = document.querySelectorAll('.menu_list_button > a')

activeBar.forEach(item =>{
    if (item.pathname === window.location.pathname){
    item.classList.add('menu_select')
    }else{
    item.classList.remove('menu_select')
    }
})
</script>