{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사업분야</title>
    <link rel="stylesheet" href="{% static 'css/company_map.css' %}">
</head>
<body>
    <div class="body_content">
        <div class="left_menu">
            <div class="company_intro">회사소개</div>
            <div class="company_menu">
                <div class="menu1">대표자 인사말</div>
                <div class="menu1">회사연혁</div>
                <div class="menu1">사업분야</div>
                <div class="menu1">찾아오시는 길</div>
            </div>
        </div>
        <div class="comp_year">
            <div class="compyear_top">찾아오시는 길</div>
    </div>
</body>
</html>