{% extends "../../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../../left-navbar.html" %}
  <!-- 용접기 제품 - CO2 용접기 -->
  <div class="welding-product">
{% include "./submerge.html" %}
  <tr>
    <td width="750">
      <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td rowspan="3" valign="top" height="304">
              <img style="margin-top: 1rem;" src="{% static 'imgs/product_info/welding_machine/submerged/LWSUB_DC_1500A/sub2_sub2_5.gif' %}" width="284" height="388" alt=""></td>
            <td>
              <img src="{% static 'imgs/product_info/welding_machine/submerged/LWSUB_DC_1500A/sub2_m_05.gif' %}" width="466" height="18" alt=""></td>
          </tr>
          <tr>
            <td>
              <img src="{% static  '/imgs/en/product/welding/co2/sub2_m_06.gif' %}" width="466" height="45" alt=""></td>
          </tr>
          <tr>
            <td width="466" height="229" valign="top">

              <p align="justify" style="margin-right:30; margin-left:1rem;">Welding penetration is deep inside due to the use of metal inert gas and insulation of melting slag, thus not only the material cost of welding is low because it is possible to make welding groove too narrow but also it is appropriate to make mass production because deformation is happened little after welding.</p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <img src="{% static  '/imgs/en/product/welding/co2/sub2_m_08.gif' %}" width="750" height="45" alt=""></td>
          </tr>
          <tr>
            <td colspan="2">

              <table cellpadding="0" cellspacing="0" width="100%" style="margin-left:23;">
                <tbody><tr>
                  <td width="347" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" height="27">
                      <p align="center"><b>Rated Input<br>
</b></p>
</td>
                  <td width="347" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;" height="27">
                      <p align="center">120KVA</p>
</td>
</tr>
              <tr>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                      <p align="center"><b>Rated Input Voltage<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">
220V/ 380V/ 440V 3Ф ±10%

</p>
</td>
</tr>
              <tr>
                  <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                                                                                                                                                    <p align="center"><b>Frequency<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                                                                                        <p align="center">50/60Hz</p>
</td>
</tr>
              <tr>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                      <p align="center"><b>Welding Current<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">150~1500A


</p>
</td>
</tr>
              <tr>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                      <p align="center"><b>No-Load Voltage<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">20~50V</p>
</td>
</tr>
              <tr>
                  <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                                                                                                                                                                                                                <p align="center"><b>Welding Rated Voltage<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                                                                                        <p align="center">85V</p>
</td>
</tr>
              <tr>
                  <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>Rated Usage Ratio<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">100%
</p>
</td>
</tr>
              <tr>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                      <p align="center"><b>External Size<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">800X1160X1390mm
</p>
</td>
</tr>
              <tr>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                      <p align="center"><b>Weight</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">780kg</p>
</td>
</tr>
</tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">
              <p><img src="{% static  '/imgs/en/product/welding/co2/sub2_m_09.gif' %}" width="750" height="45" alt=""></p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <ul>
                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;"><div align="justify">Free change in input voltage 
It is possible to change voltage into 200V/380V/440V with simple manipulation<br>
</div></li>
                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;"><div align="justify">Selecting various welding mode<br>
</div></li>
                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;"><div align="justify">Rated current and voltage are specialized into 2 MODE.<br>
</div></li>
                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;"><div align="justify">It is appropriate for automatic welding on thick board due to excellent welding efficiency.</div></li>
            </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</div>

{% endblock %}