{% extends "../../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../../left-navbar.html" %}
  <!-- 용접기 제품 - CO2 용접기 -->
  <div class="welding-product">
{% include "./submerge.html" %}
  <tr>
    <td width="750">
      <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
        <tbody>

          <td rowspan="3" valign="top" height="304">
            <img style="margin-top: 1rem;" src="{% static 'imgs/product_info/welding_machine/submerged/SW41/sub2_sub2_6.gif' %}" width="284" height="305"
              alt=""></td>
          <td>
            <img src="{% static 'imgs/product_info/welding_machine/submerged/SW41/sub2_m_05.gif' %}" width="466" height="18"
              alt=""></td>
  </tr>
  <tr>
    <td>
      <img src="{% static  '/imgs/en/product/welding/co2/sub2_m_06.gif' %}" width="466" height="45" alt="">
    </td>
  </tr>
  <tr>
    <td width="466" height="229" valign="top">

      <p align="justify" style="margin-right:30; margin-left:1rem;">Welding penetration is deep inside due to the use of metal inert gas and insulation of melting slag, thus not only the material cost of welding is low because it is possible to make welding groove too narrow but also it is appropriate to make mass production because deformation is happened little after welding.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <img src="{% static  '/imgs/en/product/welding/co2/sub2_m_08.gif' %}" width="750" height="45" alt="">
    </td>
  </tr>
  <tr>
    <td colspan="2">

      <table cellpadding="0" cellspacing="0" width="100%" style="margin-left:23;">
        <tbody><tr>
          <td width="347" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
              <p align="center"><b>Rated Input<br>
</b></p>
</td>
          <td width="347" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">
              <p align="center">100KVA, 90KW</p>
</td>
</tr>
      <tr>
          <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
              <p align="center"><b>Welding Current Range<br>
</b></p>
</td>
          <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
              <p align="center">300A~1500A
</p>
</td>
</tr>
      <tr>
          <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                                                                                                                                                    <p align="center"><b>Applied WIRE<br>
</b></p>
</td>
          <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                                                                                                                                                    <p align="center">(3.2mm), (4.0mm), (6.4mm)
</p>
</td>
</tr>
      <tr>
          <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
              <p align="center"><b>WIRE Sending &amp; Feeding Speed -Single Gear<br>
</b></p>
</td>
          <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
              <p align="center">2.1 m/min----STANDARD
</p>
</td>
</tr>
      <tr>
          <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
              <p align="center"><b>WIRE Sending &amp; Feeding Speed -Double Gear<br>
</b></p>
</td>
          <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
              <p align="center">4.2 m/min----OPTION
</p>
</td>
</tr>
      <tr>
          <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                                                                                                                                                                                                                                                                            <p align="center"><b>WIRE Sending &amp; Feeding Motor<br>
</b></p>
</td>
          <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                                                                                                                                                    <p align="center">80W, DC MOTOR
</p>
</td>
</tr>
      <tr>
          <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
              <p align="center"><b>Adjustment Motor<br>
</b></p>
</td>
          <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
              <p align="center">Arc Voltage Control By Thyristor
</p>
</td>
</tr>
      <tr>
          <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                                                                                        <p align="center"><b>Nozzle Adjustment Range<br>
</b></p>
</td>
          <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
              <p align="center">Vertical 50mm, Horizental 50mm
</p>
</td>
</tr>
      <tr>
          <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                                                                                        <p align="center"><b>Traveling Speed Range<br>
</b></p>
</td>
          <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
              <p align="center">0cm ~ 1300cm/min
</p>
</td>
</tr>
      <tr>
          <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
              <p align="center"><b>Hopper Capacity<br>
</b></p>
</td>
          <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
              <p align="center">6 Liter
</p>
</td>
</tr>
      <tr>
          <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
              <p align="center"><b>Weight</b></p>
</td>
          <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
              <p align="center">48kg</p>
</td>
</tr>
</tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p><img src="{% static  '/imgs/en/product/welding/co2/sub2_m_09.gif' %}" width="750" height="45"
          alt=""></p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <ul>
        <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;"><div align="justify">Stable welding is performed by adapting IC + THYRISTOR control method.<br>
</div></li>
        <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;"><div align="justify">CARRIAGE is manufactured with A/C or D/C type according to welding power source.<br>
</div></li>
        <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;"><div align="justify">WIRE sending and feeding is smooth by adopting powerful WIRE FEEDING MOTOR.<br>
</div></li>
        <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;"><div align="justify">It can be used to weld to inclined plane and curved surface by adopting 4-wheel moving carrier method.</div></li>
    </ul>
    </td>
  </tr>
  </tbody>
  </table>
  </td>
  </tr>
</div>

{% endblock %}