{% extends "../../../base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../../left-navbar.html" %}
<!-- 용접기 제품 - CO2 용접기 -->
<div class="welding-product">
  <tr>
    <td width="750">
      <img src="/static/imgs/product_info/welding_machine/CO2/miracle500A/sub2_navi.gif" width="745" height="35" alt=""
        style="padding-left: 20px;">
    </td>
  </tr>
  {% include "./dc-tig-welding.html" %}
  <tr>
    <td width="750">
      <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td rowspan="3" valign="top" height="304">
              <img style="margin-top: 1rem;"
                src="/static/imgs/product_info/welding_machine/DC_tig/TIGER201/sub2_sub5_3.gif" width="284" height="309"
                alt=""></td>
            <td>
              <img src="/static/imgs/product_info/welding_machine/DC_tig/TIGER201/sub2_m_05.gif" width="466" height="18"
                alt=""></td>
          </tr>
          <tr>
            <td>
              <img src="/static/imgs/product_info/welding_machine/DC_tig/TIGER201/sub2_m_06.gif" width="466" height="45"
                alt=""></td>
          </tr>
          <tr>
            <td width="466" height="229" valign="top">

              <p align="justify" style="margin-right:30px; margin-left:1rem;">TIGER 201은 디지털 제어 방식의 PULSE TIG와 MMA(수용접) 겸용
                용접기로서, "메모리 기능"을 채택하여 다양한 PULSE를 구현할 수 있도록 하였으며, 초경량 소형이므로 휴대용에 적합합니다.</p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <img src="/static/imgs/product_info/welding_machine/DC_tig/TIGER201/sub2_m_08.gif" width="750" height="45"
                alt=""></td>
          </tr>
          <tr>
            <td colspan="2">

              <table cellpadding="0" cellspacing="0" width="93%" style="margin-left: 22px; margin-right: 40px;">
                <tbody>
                  <tr>
                    <td width="347"
                      style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>입력전기</b></p>
                    </td>
                    <td width="347"
                      style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">
                      <p align="center">220V 단상&nbsp;50/60Hz</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>출력전류</b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">TIG 10~200A, MMA10~150A</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347" bgcolor="#E6EDF1"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>출력부하 전압</b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">TIG 20~25V, MMA25~35V</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>무부하 전압</b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">68V
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>슬로프 시간</b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">상승 0초(고정) 하강 0~15초
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347" bgcolor="#E6EDF1"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>가스흐름 시간</b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">초기 0~5초, 후기 0~20초</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347" bgcolor="#E6EDF1"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>펄스 주파수</b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">50% 고정</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347" bgcolor="#E6EDF1"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>펄스 폭</b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">5~85%</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347" bgcolor="#E6EDF1"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>사용률</b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">200A 30%, 120A 100%</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>크기</b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">320 x 600 x 560mm</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>무게(NET)</b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">(NET)47kg</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">
              <p><img src="/static/imgs/product_info/welding_machine/DC_tig/TIGER201/sub2_m_09.gif" width="750"
                  height="45" alt=""></p>
            </td>
          </tr>
          <tr>
            <td colspan="2"  style="padding-right: 27px;">
              <ul>
                <li
                  style="list-style-image:url('/static/imgs/product_info/welding_machine/DC_tig/TIGER201/icon.gif'); margin-right:30; margin-left:30;">
                  <div align="justify">
                    <font color="#2688A8"><b>디지털 컨트롤과 자동설정 기능</b></font>- 디지털 컨트롤을 적용하여 설정된 데이터를 자동 저장하게 하여 보다 쉬운 조작이
                    가능합니다.
                  </div>
                </li>
                <li
                  style="list-style-image:url('/static/imgs/product_info/welding_machine/DC_tig/TIGER201/icon.gif'); margin-right:30; margin-left:30;">
                  <div align="justify"><b>
                      <font color="#2688A8">아크 스타트(ARC START) 안정성 스타트 전류조절 기능</font>
                    </b>이 있어 100% 아크 스타트(ARC START)가 가능하며 연속 태그(TAG)용접에 탁월한 효과가 있습니다.</div>
                </li>
                <li
                  style="list-style-image:url('/static/imgs/product_info/welding_machine/DC_tig/TIGER201/icon.gif'); margin-right:30; margin-left:30;">
                  <div align="justify">
                    <font color="#2688A8"><b>용접 기능성 다양 </b></font>- 일반 DC TIG용접(2T), HOLD기능을 활용하는 DC TIG용접(4T), 수용접(DC
                    ARC, MMA)등의 3가지 기능을 1대의 용접기로 해결합니다.
                  </div>
                </li>
                <li
                  style="list-style-image:url('/static/imgs/product_info/welding_machine/DC_tig/TIGER201/icon.gif'); margin-right:30; margin-left:30;">
                  <div align="justify"><b>
                      <font color="#2688A8">핫 스타트 전류 조절 </font>
                    </b> - 아크 스타트를 보다 원활하게 할 수 있도록 돕는 기능입니다.</div>
                </li>
                <li
                  style="list-style-image:url('/static/imgs/product_info/welding_machine/DC_tig/TIGER201/icon.gif'); margin-right:30; margin-left:30;">
                  <div align="justify"><b>
                      <font color="#2688A8">초기 전류(START CURRENT)조절 기능</font>
                    </b> - 용접 개시점의 아크 강도를 조절하여 박판의 CRACK이나 급속 가접시의 고속 START를 가능케 합니다.</div>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</div>
{% endblock %}