{% extends "../../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../../left-navbar.html" %}
  <!-- 용접기 제품 - CO2 용접기 -->
  <div class="welding-product">
    <tr>
      <td width="750">
          <img src="/static/imgs/product_info/welding_machine/CO2/miracle500A/sub2_navi.gif" width="745" height="35"
              alt="" style="padding-left: 20px;">
      </td>
  </tr>
{% include "./autocarriage.html" %}
  <tr>
    <td width="750">
      <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td rowspan="3" valign="top" height="304">
              <img src="/static/imgs/product_info/welding_machine/autocarriage/mini_carriage/sub2_sub3_4.gif"
                width="284" style="margin-top: 1rem;" height="293" alt=""></td>
            <td>
              <img src="/static/imgs/product_info/welding_machine/autocarriage/mini_carriage/sub2_m_05.gif" width="466"
                height="18" alt=""></td>
          </tr>
          <tr>
            <td>
              <img src="/static/imgs/product_info/welding_machine/autocarriage/mini_carriage/sub2_m_06.gif" width="466"
                height="45" alt=""></td>
          </tr>
          <tr>
            <td width="466" height="229" valign="top">

              <p align="justify" style="margin-right:30px; margin-left:1rem;">본 제품은 종래의 문제점을 해결하기 위한 것으로서, 자동 용접 캐리지에 대한
                기술력을 바탕으로 축소, 경량화를 실현한 제품입니다.</p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <img src="/static/imgs/product_info/welding_machine/autocarriage/mini_carriage/sub2_m_08.gif" width="750"
                height="45" alt=""></td>
          </tr>
          <tr>
            <td colspan="2">

              <table cellpadding="0" cellspacing="0" width="93%" style="margin-left: 22px; margin-right: 40px;">
                <tbody>
                  <tr>
                    <td width="347"
                      style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>입력전원</b></p>
                    </td>
                    <td width="347"
                      style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">
                      <p align="center">AC 220V 50/60Hz</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>주행방식</b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">4륜</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347" bgcolor="#E6EDF1"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>이동속도</b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">0~1200mm/min</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>토치 미세 조정</b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">Right/left : 32mm Up/Down : 39mm</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>토치 각도&nbsp;조정</b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">±45도 (at straight torch)</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347" bgcolor="#E6EDF1"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>자동 멈춤 기능</b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">양방향 멈춤 센서</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347" bgcolor="#E6EDF1"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>크기</b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">210(W) x 232(L) x 245(H)</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347" bgcolor="#E6EDF1"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>무게</b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">5.2kg</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>



                          구동 모터</b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">DC 90VA 3000RPM</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;"
                      bgcolor="#E6EDF1">
                      <p align="center"><b>감속비</b></p>
                    </td>
                    <td width="347"
                      style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">250 : 1</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">
              <p><img src="/static/imgs/product_info/welding_machine/autocarriage/mini_carriage/sub2_m_09.gif"
                  width="750" height="45" alt=""></p>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="padding-right: 34px;">
              <ul>
                <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:30;">
                  <div align="justify">용접토치의 상/하 회전각 조절이 쉽고 효율적이며, 용접 토치의 길이 조절도 용이하므로, 용접선을 따라 용접작업을 진행하는 도중에 발생하는 각종
                    작업환경의 변화에 능동적으로 대처할 수 있게 되므로, <b>
                      <font color="#2688A8">용접 중에 용접장치를 멈추고 재 조정해야 하는 불편이 없어 작업시간이 단축됩니다.</font>
                    </b></div>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</div>
{% endblock %}