{% extends '../base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/company_field.css' %}">
<div class="block">
  <div class="menu">
    <div class="menu_title">
      <!-- <img src="/static/imgs/company_info/ceo_intro/sub_menu_01.gif" /> -->
      회사소개
    </div>
    <div class="menu_list">
      <div class="menu_list_button"><a href="/company" >대표자 인사말</a></div>
      <div class="menu_list_button"><a href="/company/history">회사연혁</a> </div>
      <div class="menu_list_button menu_select"><a href="/company/field">사업분야</a></div>
      <div class="menu_list_button"><a href="/company/access">찾아오시는 길</a></div>
    </div>
  </div>
  <div class="content">
    <div class="compyear_top">사 / 업 / 분 / 야</div>
    <img src="/static/imgs/company_info/business_field/sub_m3_04.gif" width="750" height="555" border="0">
  </div>
</div>
{% endblock %}