{% extends '../base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/company_field.css' %}">
<div class="block">
  {% include "./company.html" %}
  <div class="content">
    <img src="{% static 'imgs/page_intro/ko/certificate.gif' %}" width="750" height="35" alt="">

    <table id="Table_01" class="catalogue_table">
      <tr>
        <td>
          <div class="compyear_top">인 / 증 / 서</div>
          <hr style="margin-right: 1.2rem;">
        </td>
      </tr>
      <tr>
        <td width="750">
          <img src="/static/imgs/tech_sit/sub3_m_01.gif">
        </td>
      </tr>
      <tr>
        <td width="750">
          <img src="/static/imgs/tech_sit/sub3_m_05.gif">
        </td>
      </tr>
      <tr>
        <td width="750">
          <p><img src="/static/imgs/tech_sit/sub3_m_02.gif"></p>
        </td>
      </tr>
      <tr>
        <td width="750">
          <p><img src="/static/imgs/tech_sit/sub3_m_03.gif"></p>
        </td>
      </tr>
      <tr>
        <td width="750">
          <p>
            <img src="/static/imgs/tech_sit/sub3_m_04.gif">
            <img src="/static/imgs/tech_sit/sub3_m_06.gif">
          </p>
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}