{% extends '../base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/company_history.css' %}">
<div class="block">
  <div class="menu">
    <div class="menu_title">
      <!-- <img src="/static/imgs/company_info/ceo_intro/sub_menu_01.gif" /> -->
      회사소개
    </div>
    <div class="menu_list">
      <div class="menu_list_button"><a href="/company" >대표자 인사말</a></div>
      <div class="menu_list_button menu_select"><a href="/company/history">회사연혁</a> </div>
      <div class="menu_list_button"><a href="/company/field">사업분야</a></div>
      <div class="menu_list_button "><a href="/company/access">찾아오시는 길</a></div>
    </div>
  </div>
  <div class="content">
    <table>
      <tr>
        <td>
          <table width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
            <div class="compyear_top">회 / 사 / 연 / 혁</div>
            <hr>
            <tr>
              <td height="115" valign="top" width="125">
                <p><img src="/static/imgs/company_info/comp_history/2004.gif" style="width:128px; height: 63px;" alt="">
                </p>
              </td>
              <td width="587" valign="top" height="115">

                <table cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">

                      <p align="center"><b>
                          <font color="#31B4C1">2004.02.</font>
                        </b></p>
                    </td>
                    <td width="509">

                      <p align="justify" style="margin-right:20; margin-left:10;">창업(경남 통영시 광도면 황리 안정 국가산업
                        단지 1-2BLOCK 부지 매입으로 사업 개시.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">

                      <p align="center"><b>
                          <font color="#31B4C1">2004.07.</font>
                        </b></p>
                    </td>
                    <td width="509">

                      <p align="justify" style="margin-right:20; margin-left:10;">한국 고오베스틸 용접재료 대리점 판매 개시.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <p align="center"><b>
                          <font color="#31B4C1">2004.07.</font>
                        </b></p>
                    </td>
                    <td width="509">

                      <p align="justify" style="margin-right:20; margin-left:10;">욱일기업, 대기공업, 녹색지대(거제지역)
                        라이트웰 브랜드 CO2용접기 제작/판매.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" height="16" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <p align="center"><b>
                          <font color="#31B4C1">2004.12.</font>
                        </b></p>
                    </td>
                    <td width="509" height="16">
                      <p style="margin-right:20; margin-left:10;">공장 건축 준공. </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" height="16" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <p align="center"><b>
                          <font color="#31B4C1">2004.12.</font>
                        </b></p>
                    </td>
                    <td width="509" height="16">
                      <p style="margin-right:20; margin-left:10;">KOIKE KOREA ENGINNERING(주) 대리점 등록/ AUTO
                        BEVEL, PLASMA절단기 설치, A/S업무 개시. </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" valign="top" height="16">

                      <p align="center">&nbsp;</p>
                    </td>
                    <td width="509" height="16">

                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td width="750">
          <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td height="115" valign="top" width="125">
                <p><img src="/static/imgs/company_info/comp_history/2005.gif" style="width:128px; height: 63px;" alt="">
                </p>
              </td>
              <td width="587" valign="top" height="115">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <p align="center"><b>
                          <font color="#31B4C1">2005.05.</font>
                        </b></p>
                    </td>
                    <td width="509">
                      <p align="justify" style="margin-right:20; margin-left:10;">녹색지대 PLASMA절단기 정반,기초
                        설치/시운전.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <p align="center"><b>
                          <font color="#31B4C1">2005.06.</font>
                        </b></p>
                    </td>
                    <td width="509">
                      <p align="justify" style="margin-right:20; margin-left:10;">삼성 중공업 등록(OTC TIG 용접기 납품.)
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">

                      <p align="center"><b>
                          <font color="#31B4C1">2005.10.</font>
                        </b></p>
                    </td>
                    <td width="509">
                      <p align="justify" style="margin-right:20; margin-left:10;">가야 중공업 CO2용접기 제작/납품.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" height="16" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <p align="center"><b>
                          <font color="#31B4C1">2005.12.</font>
                        </b></p>
                    </td>
                    <td width="509" height="16">
                      <p style="margin-right:20; margin-left:10;">SPP조선해양 주식회사 선상가설팀 업체등록<br>(선상내의 U/T, 조명등,
                        도장장비 설치 지원.) </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" valign="top" height="16">
                      <p align="center">&nbsp;</p>
                    </td>
                    <td width="509" height="16">
                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td width="750">
          <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td height="71" valign="top" width="125">

                <p><img src="/static/imgs/company_info/comp_history/2006.gif" style="width:128px; height: 63px;" alt="">
                </p>
              </td>
              <td width="587" valign="top" height="71">

                <table cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">

                      <p align="center"><b>
                          <font color="#31B4C1">2006.10.</font>
                        </b></p>
                    </td>
                    <td width="509">

                      <p align="justify" style="margin-right:20; margin-left:10;">삼성 중공업 영성유한공사(중국) 용접기 910대
                        수출업체로 계약, 수출 개시.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" valign="top" height="16">

                      <p align="center">&nbsp;</p>
                    </td>
                    <td width="509" height="16">

                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td width="750">
          <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td height="115" valign="top" width="125">

                <p><img src="/static/imgs/company_info/comp_history/2007.gif" style="width:128px; height: 63px;" alt="">
                </p>
              </td>
              <td width="587" valign="top" height="115">

                <table cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">

                      <p align="center"><b>
                          <font color="#31B4C1">2007.04.</font>
                        </b></p>
                    </td>
                    <td width="509">

                      <p align="justify" style="margin-right:20; margin-left:10;">가야선업(중국) 용접기 400대 수출업체로
                        계약, 수출 개시.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">

                      <p align="center"><b>
                          <font color="#31B4C1">2007.05.</font>
                        </b></p>
                    </td>
                    <td width="509">

                      <p align="justify" style="margin-right:20; margin-left:10;">KOIKE KOREA ENGINNERING
                        CNC GAS CUTTING M/C OEM 절단기 제작</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <p align="center"><b>
                          <font color="#31B4C1">2007.10.</font>
                        </b></p>
                    </td>
                    <td width="509">

                      <p align="justify" style="margin-right:20; margin-left:10;">SPP조선해양 주식회사 용접기, 조명등 분전반
                        및 CARRY AUTO 이동대차 제작/납품.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" valign="top" height="16">

                      <p align="center">&nbsp;</p>
                    </td>
                    <td width="509" height="16">

                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td width="750">
          <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td height="115" valign="top" width="125">
                <p><img src="/static/imgs/company_info/comp_history/2008.gif" style="width:128px; height: 63px;" alt="">
                </p>
              </td>
              <td width="587" valign="top" height="115">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <p align="center"><b>
                          <font color="#31B4C1">2008.01.</font>
                        </b></p>
                    </td>
                    <td width="509">
                      <p align="justify" style="margin-right:20; margin-left:10;">위해 신태원 선업책임공사(중국) 용접기 300대
                        수출업체로 계약, 수출 개시.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <p align="center"><b>
                          <font color="#31B4C1">2008.02.</font>
                        </b></p>
                    </td>
                    <td width="509">
                      <p align="justify" style="margin-right:20; margin-left:10;">삼성 중공업 영성유한공사(중국) 용접기 510대
                        수출업체로 계약, 수출 개시. </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">

                      <p align="center"><b>
                          <font color="#31B4C1">2008.05.</font>
                        </b></p>
                    </td>
                    <td width="509">
                      <p align="justify" style="margin-right:20; margin-left:10;">2D CNC PLASMA CUTTING M/C
                        국산화 성공.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" height="16" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <p align="center"><b>
                          <font color="#31B4C1">2008.08.</font>
                        </b></p>
                    </td>
                    <td width="509" height="16">
                      <p style="margin-right:20; margin-left:10;">ONE-BOARD CO2용접기 개발 완료.<br>(과전류, FAN절전,
                        SOFT ARC, GAS PRE-FLOW, PCB보호 기능.) </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" height="16" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <p align="center"><b>
                          <font color="#31B4C1">2008.10.</font>
                        </b></p>
                    </td>
                    <td width="509" height="16">
                      <p style="margin-right:20; margin-left:10;">삼성 중공업 영성유한공사(중국) 용접기 400대 수출업체로 계약, 수출
                        개시. </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" valign="top" height="16">
                      <p align="center">&nbsp;</p>
                    </td>
                    <td width="509" height="16">
                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td width="750">
          <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td height="116" valign="top" width="125">

                <p><img src="/static/imgs/company_info/comp_history/2009.gif" style="width:128px; height: 63px;" alt="">
                </p>
              </td>
              <td width="587" valign="top" height="116">

                <table cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">

                      <p align="center"><b>
                          <font color="#31B4C1">2009.03.</font>
                        </b></p>
                    </td>
                    <td width="509">

                      <p align="justify" style="margin-right:20; margin-left:10;">사세보 조선소(일본) 선상용접기 50set 수출
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" height="16" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <p align="center"><b>
                          <font color="#31B4C1">2009.06.</font>
                        </b></p>
                    </td>
                    <td width="509" height="16">
                      <p style="margin-right:20; margin-left:10;">한진 중공업 납품(필리핀 수빅) &ndash; CNC PIPE COASTER
                        600A(1EA), PIPE GAS CUTTING M/C 600A(1EA), PIPE ROTATOR 600A(15EA)/1000A(1EA).</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" height="8" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <p align="center"><b>
                          <font color="#31B4C1">2009.09.</font>
                        </b></p>
                    </td>
                    <td width="509" height="8">
                      <p style="margin-right:20; margin-left:10;"> 한진중공업 AUTO CARRIAGE 납품 - <br>자석 캐리지
                        90EA/단속 캐리지 10EA/버티컬 캐리지 20EA</p>
                    </td>
                  </tr>
                  <tr>
                    <td height="8" align="center" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <b>
                        <font color="#31B4C1">2009.11.</font>
                      </b></td>
                    <td width="509" height="8">&nbsp;&nbsp;KS Q ISO9001:2009 / ISO9001:2008 인증서 획득</td>
                  </tr>
                  <tr>
                    <td width="75" valign="top" height="16">

                      <p align="center">&nbsp;</p>
                    </td>
                    <td width="509" height="16">

                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td width="750">
          <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td height="62" valign="top" width="125">
                <p><img src="/static/imgs/company_info/comp_history/2010.gif" style="width:128px; height: 63px;" alt="">
                </p>
              </td>
              <td width="587" valign="top" height="62">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <p align="center"><b>
                          <font color="#31B4C1">2010.01.</font>
                        </b></p>
                    </td>
                    <td width="508">
                      <p align="justify" style="margin-right:20; margin-left:10;">구만중공업 장비이설 및 설치 시운전 완료 -
                        <br>PLASMA CUTTING MACHINE 2EA/ NC GAS CUTTING MACHINE 1EA</p>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <b>
                        <font color="#31B4C1">2010.03.</font>
                      </b></td>
                    <td width="508">&nbsp;&nbsp;사세보 조선소(일본) 선상용접기 34set 수출</td>
                  </tr>
                  <tr>
                    <td align="center" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <b>
                        <font color="#31B4C1">2010.04.</font>
                      </b></td>
                    <td width="508"> &nbsp;&nbsp;기업부설연구소 설립</td>
                  </tr>
                  <tr>
                    <td align="center" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <b>
                        <font color="#31B4C1">2010.04.</font>
                      </b></td>
                    <td width="508"> &nbsp;&nbsp;에스에이치조선 (주) SPONGE-JET B-VAC PR03 BLASTING M/C 1대 제작/설치
                    </td>
                  </tr>
                  <tr>
                    <td align="center" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <b>
                        <font color="#31B4C1">2010.05.</font>
                      </b></td>
                    <td height="16"><span style="margin-right:20; margin-left:10;">금강조선(주) SPONGE-JET B-VAC
                        PRO3 BLASTING M/C 1대 제작/ 설치</span></td>
                  </tr>
                  <tr>
                    <td align="center" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <b>
                        <font color="#31B4C1">2010.08.</font>
                      </b></td>
                    <td height="16">&nbsp;&nbsp;중국 위해 삼진선업 CO2 600A 용접기 90SETS 수출</td>
                  </tr>
                  <tr>
                    <td valign="top" height="16">
                      <p align="center"><b>
                          <font color="#31B4C1">2010.10.</font>
                        </b></p>
                    </td>
                    <td height="16">
                      <p align="justify" style="margin-right:20; margin-left:10;">삼성중공업주식회사 풍력사업부 TWIN B-VAC
                        PRO3 SPONGE-JET 1SET 계약, 설치, 시운전 완료</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" valign="top" height="16">
                      <p align="center">&nbsp;</p>
                    </td>
                    <td width="508" height="16">
                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td width="750">
          <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td height="62" valign="top" width="125">
                <p><img src="/static/imgs/company_info/comp_history/2011.jpg" style="width:128px; height: 63px;">
                </p>
              </td>
              <td width="587" valign="top" height="62">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <p align="center"><b>
                          <font color="#31B4C1">2011.03.</font>
                        </b></p>
                    </td>
                    <td width="508">
                      <p align="left">&nbsp;&nbsp;두성코텍 함안 2공장 CO2 600A 50SET, GOUGING, AUTO CARRIAGE,
                        분전반(15면), 조명등&nbsp;납품/ 설치</p>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <b>
                        <font color="#31B4C1">2011.06.</font>
                      </b></td>
                    <td width="508">
                      <p align="left">&nbsp;&nbsp;에스에이치중공업(주) CO2 600A 40SETS, 2POLE CARRIAGE 납품/ 설치 </p>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <b>
                        <font color="#31B4C1">2011.06.</font>
                      </b></td>
                    <td width="508">
                      <p align="left">&nbsp;&nbsp;(주)레트로 고성공장 선상용접기 600A 50SETS 납품/ 설치 <br>
                        &nbsp;&nbsp;EK중공업(주) CO2 600A 10SETS 납품, 설치 </p>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <b>
                        <font color="#31B4C1">2011.07.</font>
                      </b></td>
                    <td width="508">&nbsp;&nbsp;EK중공업(주) AC SUMBERGED 1500A 1SET 납품/ 설치</td>
                  </tr>
                  <tr>
                    <td align="center" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <b>
                        <font color="#31B4C1">2011.08.</font>
                      </b></td>
                    <td>
                      <p align="left">&nbsp;&nbsp;사세보 조선소 (일본) 선상용접기 500A(TWIN -TANDEM CO2 WELDING M/C)
                        120SETS 수출 </p>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <b>
                        <font color="#31B4C1">2011.10.</font>
                      </b></td>
                    <td>
                      <p align="left">&nbsp;&nbsp;EK중공업(주) 고성공장 선상용접기 50SETS, GOUGING, 2POLE CARRIAGE AC-DC
                        1500A &nbsp;&nbsp;FULL SETS, 분전반(15면) 납품설치 </p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" valign="top" height="16">
                      <p align="center">&nbsp;</p>
                    </td>
                    <td width="508" height="16">
                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!----->
      <tr>
        <td width="750">
          <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td height="62" valign="top" width="125">
                <p><img src="/static/imgs/company_info/comp_history/2012.jpg" style="width:128px; height: 63px;">
                </p>
              </td>
              <td width="587" valign="top" height="62">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <p align="center"><b>
                          <font color="#31B4C1">2012.01.</font>
                        </b></p>
                    </td>
                    <td width="508">
                      <p align="left">&nbsp;&nbsp;성동조선해양(주) 용접장비 관련 납품개시</p>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <b>
                        <font color="#31B4C1">2012.11.</font>
                      </b></td>
                    <td width="508">
                      <p align="left">&nbsp;&nbsp;KS Q ISO9001:2009 / ISO9001:2008 인증 갱신등록</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" valign="top" height="16">
                      <p align="center">&nbsp;</p>
                    </td>
                    <td width="508" height="16">
                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!------>
      <!----->
      <tr>
        <td width="750">
          <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td height="62" valign="top" width="125">
                <p><img src="/static/imgs/company_info/comp_history/2013.jpg" style="width:128px; height: 63px;">
                </p>
              </td>
              <td width="587" valign="top" height="62">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <p align="center"><b>
                          <font color="#31B4C1">2013.07.</font>
                        </b></p>
                    </td>
                    <td width="508">
                      <p align="left">&nbsp;&nbsp;CE 유럽안전인증 획득 (CO2 용접기 500A, 600A - TUV NORD)
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <b>
                        <font color="#31B4C1">2013.09.</font>
                      </b></td>
                    <td width="508">
                      <p align="left">&nbsp;&nbsp;브라질 BIERGES 회사 CO2 용접기 제작과정 본사 연수</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" valign="top" height="16">
                      <p align="center">&nbsp;</p>
                    </td>
                    <td width="508" height="16">
                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!------>
      <!----->
      <tr>
        <td width="750">
          <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td height="62" valign="top" width="125">
                <p><img src="/static/imgs/company_info/comp_history/2014.jpg" style="width:128px; height: 63px;">
                </p>
              </td>
              <td width="587" valign="top" height="62">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <p align="center"><b>
                          <font color="#31B4C1">2014.07.</font>
                        </b></p>
                    </td>
                    <td width="508">
                      <p align="left">&nbsp;&nbsp;건조기 디자인특허 2건 출원 등록
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <b>
                        <font color="#31B4C1">2014.08.</font>
                      </b></td>
                    <td width="508">
                      <p align="left">&nbsp;&nbsp;삼성 중공업 영성유한공사(중국) 건조기 수출</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" valign="top" height="16">
                      <p align="center">&nbsp;</p>
                    </td>
                    <td width="508" height="16">
                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!------>
      <!----->
      <tr>
        <td width="750">
          <table id="Table_01" width="95%" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td height="62" valign="top" width="125">
                <p><img src="/static/imgs/company_info/comp_history/2015.jpg" style="width:128px; height: 63px;">
                </p>
              </td>
              <td width="587" valign="top" height="62">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td width="75" valign="top"
                      style="border-left-width:0.5px; border-left-color:rgb(204,204,204); border-left-style:solid;">
                      <p align="center"><b>
                          <font color="#31B4C1">2015.01.</font>
                        </b></p>
                    </td>
                    <td width="508">
                      <p align="left">&nbsp;&nbsp;성동조선해양(주) 생산지원부 업체등록</p>
                    </td>
                  </tr>
                  <tr>
                    <td width="75" valign="top" height="16">
                      <p align="center">&nbsp;</p>
                    </td>
                    <td width="508" height="16">
                      <p align="justify" style="margin-right:20; margin-left:10;">&nbsp;</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!------>
    </table>
  </div>
</div>
{% endblock %}