{% extends "../../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../../left-navbar.html" %}
  <!-- 용접기 제품 - CO2 용접기 -->
  <div class="welding-product">
{% include "./submerge.html" %}
  <tr>
    <td width="750">
      <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
        <tbody>

          <td rowspan="3" valign="top" height="304">
            <img style="margin-left: 1.5rem; margin-top: 1rem;" src="{% static 'imgs/product_info/welding_machine/submerged/SW41/sub2_sub2_6.gif' %}" width="284" height="305"
              alt=""></td>
          <td>
            <img src="{% static 'imgs/product_info/welding_machine/submerged/SW41/sub2_m_05.gif' %}" width="466" height="18"
              alt=""></td>
  </tr>
  <tr>
    <td>
      <img src="{% static 'imgs/product_info/welding_machine/submerged/SW41/sub2_m_06.gif' %}" width="466" height="45" alt="">
    </td>
  </tr>
  <tr>
    <td width="466" height="229" valign="top">

      <p align="justify" style="margin-right:30; margin-left:20;">대전류의 사용과 용융 슬래그의 단열성에 의해 용입이 깊으므로 용접홈을 좁게 할 수
        있어 용접 재료비가 적게 들며, 용접후 변형이 적게 일어나 대량생산에 적합 합니다.</p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <img src="{% static 'imgs/product_info/welding_machine/submerged/SW41/sub2_m_08.gif' %}" width="750" height="45" alt="">
    </td>
  </tr>
  <tr>
    <td colspan="2">

      <table cellpadding="0" cellspacing="0" width="93%" style="margin-left:23;">
        <tbody>
          <tr>
            <td width="347"
              style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;"
              bgcolor="#E6EDF1">
              <p align="center"><b>정격 입력</b></p>
            </td>
            <td width="347"
              style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">
              <p align="center">100KVA, 90KW</p>
            </td>
          </tr>
          <tr>
            <td width="347"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
              bgcolor="#E6EDF1">
              <p align="center"><b>용접 전류 범위</b></p>
            </td>
            <td width="347"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
              <p align="center">300A~1500A
              </p>
            </td>
          </tr>
          <tr>
            <td width="347" bgcolor="#E6EDF1"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
              <p align="center"><b>적용 Wire 경</b></p>
            </td>
            <td width="347"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
              <p align="center">(3.2mm), (4.0mm), (6.4mm)
              </p>
            </td>
          </tr>
          <tr>
            <td width="347"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
              bgcolor="#E6EDF1">
              <p align="center"><b>WIRE 송급속도-Single Gear</b></p>
            </td>
            <td width="347"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
              <p align="center">2.1 m/min----STANDARD
              </p>
            </td>
          </tr>
          <tr>
            <td width="347"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
              bgcolor="#E6EDF1">
              <p align="center"><b>WIRE 송급속도-Double Gear</b></p>
            </td>
            <td width="347"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
              <p align="center">4.2 m/min----OPTION
              </p>
            </td>
          </tr>
          <tr>
            <td width="347" bgcolor="#E6EDF1"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
              <p align="center"><b>WIRE 송급 MOTOR</b></p>
            </td>
            <td width="347"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
              <p align="center">80W, DC MOTOR
              </p>
            </td>
          </tr>
          <tr>
            <td width="347" bgcolor="#E6EDF1"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
              <p align="center"><b>송급 모터 조정</b></p>
            </td>
            <td width="347"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
              <p align="center">Arc Voltage Control By Thyristor
              </p>
            </td>
          </tr>
          <tr>
            <td width="347" bgcolor="#E6EDF1"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
              <p align="center"><b>NOZZLE 조정 범위</b></p>
            </td>
            <td width="347"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
              <p align="center">Vertical 50mm, Horizental 50mm
              </p>
            </td>
          </tr>
          <tr>
            <td width="347" bgcolor="#E6EDF1"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
              <p align="center"><b>주행 속도 범위</b></p>
            </td>
            <td width="347"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
              <p align="center">0cm ~ 1300cm/min
              </p>
            </td>
          </tr>
          <tr>
            <td width="347"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
              bgcolor="#E6EDF1">
              <p align="center"><b>HOPPER 용량</b></p>
            </td>
            <td width="347"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
              <p align="center">6 Liter
              </p>
            </td>
          </tr>
          <tr>
            <td width="347"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;"
              bgcolor="#E6EDF1">
              <p align="center"><b>무게</b></p>
            </td>
            <td width="347"
              style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
              <p align="center">48kg</p>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <p><img src="{% static 'imgs/product_info/welding_machine/submerged/SW41/sub2_m_09.gif' %}" width="750" height="45"
          alt=""></p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <ul>
        <li style="list-style-image:url('images/icon.gif' %}'); margin-right:30; margin-left:30;">
          <div align="justify">
            <font color="#2688A8"><b>IC + THYRISTOR 제어방식</b></font>을 채택하여 안정된 용접을 수행 합니다.
          </div>
        </li>
        <li style="list-style-image:url('images/icon.gif' %}'); margin-right:30; margin-left:30;">
          <div align="justify"><b>
              <font color="#2688A8">CARRIAGE</font>
            </b>는 용접 POWER SOURCE에 따라 교류 또는 직류 TYPE
            로 제작 합니다.</div>
        </li>
        <li style="list-style-image:url('images/icon.gif' %}'); margin-right:30; margin-left:30;">
          <div align="justify">
            <font color="#2688A8"><b>강력한 WIRE FEEDING MOTOR</b></font>를 채용하여 WIRE 송급이 원할 합니다.
          </div>
        </li>
        <li style="list-style-image:url('images/icon.gif' %}'); margin-right:30; margin-left:30;">
          <div align="justify"><b>4륜 대차 주행 방식 채택</b> - 경사면, 곡면의 용접에도 사용할 수 있습니다.</div>
        </li>
      </ul>
    </td>
  </tr>
  </tbody>
  </table>
  </td>
  </tr>
</div>

{% endblock %}