{% extends '../base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/catalogue_contact.css' %}">
<div class="body_content">
  <div class="menu">
    <div class="menu_title">
      <img class="menu_title_img" src="/static/imgs/contact/contact_kr.gif" />
    </div>
    <div class="menu_list">
      <div class="menu_list_button menu_select"><a href="/company">연락처</a></div>
    </div>
  </div>
  <div class="contact-content" >
    <img src="{% static 'imgs/page_intro/ko/inquery.gif' %}" width="790px" height="35" alt="">
    <div class="contact_top" style="margin-top: 10px;">S / N / S</div>
    <div class="contact_sns">
      <a class="contact_a" href="#"><img class="contact_sns_img" src="/static/imgs/sns/insta.png"></a>
      <a class="contact_a" href="#"><img class="contact_sns_img" src="/static/imgs/sns/facebook.png"></a>
      <a class="contact_a" href="#"><img class="contact_sns_img" src="/static/imgs/sns/linkedin.png"></a>
      <a class="contact_a" href="#"><img class="contact_sns_img" src="/static/imgs/sns/youtube.png"></a>
    </div>

    <div class="contact_top" style="margin-top: 60px;">연 / 락 / 처</div>
    <div style="margin-top:10px; margin-bottom: 100px;">
      <p class="contact_p"><i class="fas fa-phone-square-alt"></i> T . 82-10-6646-0706</p>
      <p class="contact_p"><i class="fas fa-fax"></i> FAX . 82-55-646-0706</p>
      <br />
      <p class="contact_p"><i class="fas fa-user-friends"></i> 고객센터 : 82-55-647-0703</p>
      <p class="contact_p"><i class="fas fa-user-clock"></i> 근무시간 : 월 - 금 (09:00 ~ 18:00) 공휴일 휴무</p>
      <br />
      <p class="contact_p"><i class="fas fa-envelope"></i> Email : lightwel@lightwel.co.kr</p>
    </div>
  </div>
</div>
</div>
{% endblock %}