

    <ul class="nav flex-column">
          <!-- left-navbar (대분류/중분류/소분류) 시작 -->
    <div class="btn-group dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        용접기 제품
      </button>
      <div class="dropdown-menu">
        <!-- Dropdown menu links -->
        <a class="dropdown-item" href="/product/weldig/co2-weldig/miracle-600a">CO2용접기</a>
        <a class="dropdown-item" href="/product/weldig/gouging">가우징 용접기</a>
        <a class="dropdown-item" href="/product/weldig/autocarriage/no-magnet">오토캐리지</a>
        <a class="dropdown-item" href="/product/weldig/submerged-weldig/lw-sub-ac-1500a">서브머지드용접기</a>
        <a class="dropdown-item" href="/product/weldig/dc-tig-weldig/tig-300ep">DC티그용접기</a>
        <a class="dropdown-item" href="/product/weldig/arch-weldig/apollo-180">아크용접기</a>
        <a class="dropdown-item" href="/product/weldig/shipboard_panel">선상판넬</a>
      </div>
    </div>
    <div class="btn-group dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        용접기 소모품
      </button>
      <div class="dropdown-menu">
        <!-- Dropdown menu links -->
        <a class="dropdown-item" href="/product/welding-expendable/expendable_co2">CO2</a>
        <a class="dropdown-item" href="/product/welding-expendable/expendable_auto">AUTO CARRIAGE</a>
        <a class="dropdown-item" href="/product/welding-expendable/expendable_tig">TIG</a>
        <a class="dropdown-item" href="/product/welding-expendable/expendable_regulator">REGULATOR</a>
      </div>
    </div>

    <div class="btn-group dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        절단기 제품
      </button>
      <div class="dropdown-menu">
        <!-- Dropdown menu links -->
        <a class="dropdown-item" href="#">2D PLASMA</a>
        <a class="dropdown-item" href="#">3D LINK PLASMA</a>
        <a class="dropdown-item" href="#">CNC GAS <br> CUTTING MACHINE</a>
        <a class="dropdown-item" href="#">COLD ROLLING <br> BENDING MACHINE</a>
        <a class="dropdown-item" href="#">ELBOW <br> CUTTING MACHINE</a>
        <a class="dropdown-item" href="#">FLAME PLANER</a>
        <a class="dropdown-item" href="#">HIGH FREQUENCY <br> BENDING MACHINE</a>
        <a class="dropdown-item" href="#">PIPE COASTER</a>
        <a class="dropdown-item" href="#">PIPE GAS <br> CUTTING MACHINE</a>
        <a class="dropdown-item" href="#">PIPE ROTATOR</a>
        <a class="dropdown-item" href="#">POSITIONER</a>
      </div>
    </div>
    <div class="btn-group dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        절단기 소모품
      </button>
      <div class="dropdown-menu">
        <!-- Dropdown menu links -->
        <a class="dropdown-item" href="/product/expendable_cutting">절단기 소모품</a>

      </div>
    </div>
    </ul>
    <!-- left-navbar (대분류/중분류/소분류) 끝 -->
