

    <ul class="nav flex-column">
          <!-- left-navbar (대분류/중분류/소분류) 시작 -->
    <div class="btn-group dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        용접기 제품
      </button>
      <div class="dropdown-menu">
        <!-- Dropdown menu links -->
        <a class="dropdown-item" href="/product/weldig/co2-weldig/miracle-600a">CO2용접기</a>
        <a class="dropdown-item" href="#">가우징 용접기</a>
        <a class="dropdown-item" href="/product/weldig/autocarriage/no-magnet">오토캐리지</a>
        <a class="dropdown-item" href="#">서브머지드용접기</a>
        <a class="dropdown-item" href="#">DC티그용접기</a>
        <a class="dropdown-item" href="#">아트용접기</a>
        <a class="dropdown-item" href="#">선상판넬</a>
      </div>
    </div>
    <div class="btn-group dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        용접기 소모품
      </button>
      <div class="dropdown-menu">
        <!-- Dropdown menu links -->
        <a class="dropdown-item" href="#">CO2</a>
        <a class="dropdown-item" href="#">AUTO CARRIAGE</a>
        <a class="dropdown-item" href="#">TIG</a>
        <a class="dropdown-item" href="#">REGULATOR</a>
      </div>
    </div>

    <div class="btn-group dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        절단기 제품
      </button>
      <div class="dropdown-menu">
        <!-- Dropdown menu links -->
        <a class="dropdown-item" href="#">2D PLASMA</a>
        <a class="dropdown-item" href="#">3D LINK PLASMA</a>
        <a class="dropdown-item" href="#">CNC GAS <br> CUTTING MACHINE</a>
        <a class="dropdown-item" href="#">COLD ROLLING <br> BENDING MACHINE</a>
        <a class="dropdown-item" href="#">ELBOW <br> CUTTING MACHINE</a>
        <a class="dropdown-item" href="#">FLAME PLANER</a>
        <a class="dropdown-item" href="#">HIGH FREQUENCY <br> BENDING MACHINE</a>
        <a class="dropdown-item" href="#">PIPE COASTER</a>
        <a class="dropdown-item" href="#">PIPE GAS <br> CUTTING MACHINE</a>
        <a class="dropdown-item" href="#">PIPE ROTATOR</a>
        <a class="dropdown-item" href="#">POSITIONER</a>
      </div>
    </div>
    <div class="btn-group dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <a href="#"> 절단기 소모품</a>
      </button>
    </div>
    </ul>
    <!-- left-navbar (대분류/중분류/소분류) 끝 -->
