

    <ul class="nav flex-column">
          <!-- left-navbar (대분류/중분류/소분류) 시작 -->
    <div class="btn-group dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        용접기 제품
      </button>
      <div class="dropdown-menu">
        <!-- Dropdown menu links -->
        <a class="dropdown-item" href="#">CO2용접기</a>
        <a class="dropdown-item" href="#">가우징 용접기</a>
        <a class="dropdown-item" href="#">오토캐리지</a>
        <a class="dropdown-item" href="#">서브머지드용접기</a>
        <a class="dropdown-item" href="#">DC티그용접기</a>
        <a class="dropdown-item" href="#">아트용접기</a>
        <a class="dropdown-item" href="#">선상판넬</a>
      </div>
    </div>
    <div class="btn-group dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        용접기 소모품
      </button>
      <div class="dropdown-menu">
        <!-- Dropdown menu links -->
        <a class="dropdown-item" href="#">CO2</a>
        <a class="dropdown-item" href="#">AUTO CARRIAGE</a>
        <a class="dropdown-item" href="#">TIG</a>
        <a class="dropdown-item" href="#">REGULATOR</a>
      </div>
    </div>

    <div class="btn-group dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        절단기 제품
      </button>
      <div class="dropdown-menu">
        <!-- Dropdown menu links -->
        <a class="dropdown-item" href="#">2D PLASMA</a>
        <a class="dropdown-item" href="#">3D LINK PLASMA</a>
        <a class="dropdown-item" href="#">CNC GAS <br> CUTTING MACHINE</a>
        <a class="dropdown-item" href="#">COLD ROLLING <br> BENDING MACHINE</a>
        <a class="dropdown-item" href="#">ELBOW <br> CUTTING MACHINE</a>
        <a class="dropdown-item" href="#">FLAME PLANER</a>
        <a class="dropdown-item" href="#">HIGH FREQUENCY <br> BENDING MACHINE</a>
        <a class="dropdown-item" href="#">PIPE COASTER</a>
        <a class="dropdown-item" href="#">PIPE GAS <br> CUTTING MACHINE</a>
        <a class="dropdown-item" href="#">PIPE ROTATOR</a>
        <a class="dropdown-item" href="#">POSITIONER</a>
      </div>
    </div>
    <div class="btn-group dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        절단기 소모품
      </button>
      <div class="dropdown-menu">
        <!-- Dropdown menu links -->
        <a class="dropdown-item" href="#">절단기 소모품</a>
      </div>
    </div>

    <div class="btn-group dropright">
      <button style="font-size: 0.8rem;" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Blasting Machine
      </button>
      <div class="dropdown-menu">
        <!-- Dropdown menu links -->
        <a class="dropdown-item" href="#">Sponge-Jet 소개</a>
        <a class="dropdown-item" href="#">Feed(Shooting) Unit</a>
        <a class="dropdown-item" href="#">Recycler</a>
        <a class="dropdown-item" href="#">B-VAC Pro3(조선용)</a>
        <a class="dropdown-item" href="#">Silver Sponge Media</a>
        <a class="dropdown-item" href="#">Red Sponge Media</a>
        <a class="dropdown-item" href="#">White Sponge Media</a>
        <a class="dropdown-item" href="#">Green Sponge Media</a>
      </div>
    </div>
    </ul>
    <!-- left-navbar (대분류/중분류/소분류) 끝 -->
