{% extends "../../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../../left-navbar.html" %}
  <!-- 용접기 제품 - CO2 용접기 -->
  <div class="welding-product">
    {% include "./imgs.html" %}
{% include "./autocarriage.html" %}
  <tr>
    <td width="750">
      <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td rowspan="3" valign="top" height="271">
              <img style="margin-top: 1rem;" src="/static/imgs/product_info/welding_machine/autocarriage/twin_carry/sub2_sub3_2.gif" width="284"
                height="350" alt=""></td>
            <td>
              <img src="/static/imgs/product_info/welding_machine/autocarriage/twin_carry/sub2_m_05.gif" width="466"
                height="18" alt=""></td>
          </tr>
          <tr>
            <td>
              &nbsp;</td>
          </tr>
          <tr>
            <td width="466" height="201" valign="top">

              <p align="justify" style="margin-right:30; margin-left:20;">&nbsp;</p>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <img src="{% static  '/imgs/en/product/welding/co2/sub2_m_08.gif' %}" width="750"
                height="45" alt=""></td>
          </tr>
          <tr>
            <td colspan="2">

              <table cellpadding="0" cellspacing="0" width="93%" style="margin-left: 22px; margin-right: 40px;">
                <tbody><tr>
                  <td width="347" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2">
                      <p align="center"><b>Rated Input Voltage<br>
</b></p>
</td>
                  <td width="347" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">
                      <p align="center">Single-Phase 380V ± 10%</p>
</td>
</tr>
              <tr>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2">
                      <p align="center"><b>Rated Frequency<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
<p align="center">50Hz</p>
</td>
</tr>
              <tr>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2">
                      <p align="center"><b>Traveling Speed<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">Max.1,300mm/Min (Variable)<br>
</p>
</td>
</tr>
              <tr>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2">
                      <p align="center"><b>Guide Roller Adjustment Range<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">Up To 80mm From Parent Body<br>
</p>
</td>
</tr>
              <tr>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2">
                      <p align="center"><b>Welding Method<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">Serial Welding 1 Pole<br>
</p>
</td>
</tr>
              <tr>
                  <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2">                                                            <p align="center"><b>Welding Line Tracing Method<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                            <p align="center">2-Guide Roller Inclined Traveling<br>
</p>
</td>
</tr>
              <tr>
                  <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2">                                                                                                                        <p align="center"><b>Traveling Method<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                            <p align="center">4-Wheel-Dirve Rubber Tire By Motor  
</p>
</td>
</tr>
              <tr>
                  <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2">                                                            <p align="center"><b>Pulling Capacity<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                            <p align="center">16kgf</p>
</td>
</tr>
              <tr>
                  <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2">
                      <p align="center"><b>Diameter Of Applied Wire
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">1.2Ф, 1.4Ф, 1.6Ф</p>
</td>
</tr>
              <tr>
                  <td width="173" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" rowspan="5">
                      <p align="center"><b>Torch Adjustment</b></p>
</td>
                  <td width="173" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>Up &amp; Down<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">Horizontal : 40mm(±33mm)</p>
</td>
</tr>
              <tr>
                  <td width="173" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>Left &amp; Right<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                            <p align="center">Vertical : 40mm(±33mm)</p>
</td>
</tr>
              <tr>
                  <td width="173" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>Welding Degree<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">45 ° &nbsp;± 15 ° </p>
</td>
</tr>
              <tr>
                  <td width="173" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>Direction<br>
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">

                      <p align="center">360 ° </p>
</td>
</tr>
              <tr>
                  <td width="173" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                      <p align="center"><b>Traveling Degree</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">곡선 2,000R 이상 경사 25도 이하</p>
</td>
</tr>
              <tr>
                  <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2">
                      <p align="center"><b>Size</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">220(W) x 240(L) x 265(H)</p>
</td>
</tr>
              <tr>
                  <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2">
                      <p align="center"><b>Weight
</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">7.5kg</p>
</td>
</tr>
              <tr>
                  <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2" rowspan="8">
                      <p align="center"><b>Adjustment Function</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">Selection Function For Left, Right<br>
</p>
</td>
</tr>
              <tr>
                  <td width="347" height="3" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">Combined Use For Single And Consecutive Welding  </p>
</td>
</tr>
              <tr>
                  <td width="347" height="3" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">Auto Stop Function </p>
</td>
</tr>
              <tr>
                  <td width="347" height="3" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">ONE TORCH START/STOP Function<br>
</p>
</td>
</tr>
              <tr>
                  <td width="347" height="3" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">Magnetic Carriage<br>
</p>
</td>
</tr>
              <tr>
                  <td width="347" height="3" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">Two-Way Welding Function <br>By Installing Sensor Stop At Two-Way<br>
</p>
</td>
</tr>
              <tr>
                  <td width="347" height="3" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">Left Type Method <br>
</p>
</td>
</tr>
              <tr>
                  <td width="347" height="3" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                            <p align="center">Right Type Method</p>
</td>
</tr>
              <tr>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2">
                      <p align="center"><b>



Power Cable</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">1.25SQ x 3C(Including Connecting) - 30m</p>
</td>
</tr>
              <tr>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2">
                      <p align="center"><b>Auto Torch</b></p>
</td>
                  <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                      <p align="center">400A Cooling Type Straight Line - 5M</p>
</td>
</tr>
</tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">
              <p><img src="{% static  '/imgs/en/product/welding/co2/sub2_m_09.gif' %}" width="750"
                  height="45" alt=""></p>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="padding-right: 27px;">
              <ul>
                <li style="list-style-image:url('images/icon.gif'); margin-left:30;">Accurate speed can be checked at the speed display window.<br>
</li>
                <li style="list-style-image:url('images/icon.gif'); margin-left:30;">MyCom Control with precision speed traveling. Excellent effect in welding quality could be done because precision traveling is operated at all traveling including an inclined plane.<br>
</li>
                <li style="list-style-image:url('images/icon.gif'); margin-left:30;">It is easy to adjust angle slide. It is outstanding to set working location by handling simple torch adjustment device.<br>
</li>
                <li style="list-style-image:url('images/icon.gif'); margin-left:30;">Welding on inclined plane, and triple welding can be operated.</li>
            </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</div>

{% endblock %}