{% extends "../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../left-navbar.html" %}
  <!-- 용접기 제품 - CO2 용접기 -->
  <div class="welding-product">
    <div class="title"> 3D LINK PLASMA</div>
    <tr>
        <td width="750">
            <table id="Table_01" width="755" border="0" cellpadding="0" cellspacing="0">
                <tbody><tr>
                    <td colspan="3" width="755">

                        <p><img src="{% static 'imgs/product_info/cutter/3d/sub2_03_sub2_1.gif' %}" width="750" height="320" border="0"></p>
</td>
</tr>
                <tr>
                    <td colspan="3" width="755">                                                <p><img src="{% static '/imgs/en/product/welding/co2/sub2_m_09.gif' %}" width="750" height="45" border="0"></p>
</td>
</tr>
                <tr>
                    <td colspan="3" width="755">
                        <ul>
                            <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:20;">Installation of 3D-LINK TYPE PLASMA BEVEL CUTTING SYSTEM<br></li>
                            <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:20;">Installation of High-Quality and High-Speed PLASMA [SUPER-400] / [SUPER-400 PLUS]<br></li>
                            <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:20;">Use of High-Performance and Long-Lifecycle Plasma Electrodes / Installation of New PC-NC Control Device [HYBRID-D80]<br></li>
                            <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:20;">Concurrent 6-Axis Control Function / High speed cutting of 12mm thickness material with 4,000mm/min of speed in maximum<br></li>
                            <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:20;">Available cutting width: 3.1m, 3.6m or thicker cutting is optional / Electronic Damage Detection </li>
                        </ul>
</td>
</tr>
                <tr>
                    <td colspan="3" width="755">&nbsp;</td>
</tr>
                <tr>
                    <td colspan="3" width="755">                                                <p><img src="{% static '/imgs/en/product/welding/co2/sub2_m_08.gif' %}" width="750" height="45" alt=""></p>
</td>
</tr>
                <tr>
                    <td colspan="3" width="755">
                        <table cellpadding="0" cellspacing="0" width="93%" style="margin-left:23;">
                            <tbody><tr>
                                <td width="337" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2" height="29">
                                    <p align="center"><b>USE</b></p>
</td>
                                <td width="357" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;" height="29">

                                    <p align="center">PLASMA Cutting Machine</p>
</td>
</tr>
                            <tr>
                                <td width="168" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" height="58" rowspan="2">

                                    <p align="center"><b>Driving Method</b></p>
</td>
                                <td width="168" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" height="29">                                                            <p align="center"><b>X Axis
</b></p>
</td>
                                <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">

                                    <p align="center">Rack &amp; Pinion
</p>
</td>
</tr>
                            <tr>
                                <td width="168" height="29" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                    <p align="center"><b>Y Axis</b></p>
</td>
                                <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">Rack &amp; Pinion Double Axis
<br></p>
</td>
</tr>
                            <tr>
                                <td width="337" height="26" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2">
                                    <p align="center"><b>Rail Width(mm)</b></p>
</td>
                                <td width="357" height="26" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">3,100 ~ 10,500</p>
</td>
</tr>
                            <tr>
                                <td width="168" height="57" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" rowspan="2">
<p align="center"><b>Effective Cutting Width(mm)</b></p>
</td>
                                <td width="168" height="29" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                    <p align="center"><b>GAS</b></p>
</td>
                                <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">Rail Width - 600</p>
</td>
</tr>
                            <tr>
                                <td width="168" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" height="28">
                                    <p align="center"><b>PLASMA</b></p>
</td>
                                <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="28">
                                    <p align="center">Rail Width - 1,500</p>
</td>
</tr>
                            <tr>
                                <td width="337" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2" height="29">

                                    <p align="center"><b>Cutting Speed(mm/min)</b></p>
</td>
                                <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">
                                    <p align="center">100 ~ 6,000</p>
</td>
</tr>
                            <tr>
                                <td width="337" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2" height="29">                                                            

                                    <p align="center"><b>Moving Speed(mm/min)</b></p>
</td>
                                <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">
                                    <p align="center">18,000 ~ 27,000</p>
</td>
</tr>
                            <tr>
                                <td width="337" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2" height="29" rowspan="2">                                                            
                                    <p align="center"><b>Cutting Shape</b></p>
</td>
                                <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="14">
                                    <p align="center">Vertical Cutting (I-CUTTING)</p>
</td>
</tr>
                            <tr>
                                <td width="357" height="14" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">BEVEL-CUTTING</p>
</td>
</tr>
                            <tr>
                                <td width="337" height="29" colspan="2" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                    <p align="center"><b>CNC</b></p>
</td>
                                <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">HYBRID - D80</p>
</td>
</tr>
                            <tr>
                                <td width="337" height="29" colspan="2" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" rowspan="2">
                                    <p align="center"><b>Rail</b></p>
</td>
                                <td width="357" height="14" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">37Kg/m (3m Unit)</p>
</td>
</tr>
                            <tr>
                                <td width="357" height="14" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">Basic 9m</p>
</td>
</tr>
                            <tr>
                                <td width="337" height="29" colspan="2" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                    <p align="center"><b>Effective Cutting Width(mm)</b></p>
</td>
                                <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">Rail - 2,500</p>
</td>
</tr>
                            <tr>
                                <td width="337" height="29" colspan="2" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                    <p align="center"><b>Gas Torch</b></p>
</td>
                                <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">Basic 4EA/ Max. 10EA</p>
</td>
</tr>
                            <tr>
                                <td width="337" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2" height="29">
                                    <p align="center"><b>PLASMA</b></p>
</td>
                                <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">
                                    <p align="center">SUPER-400 / SUPER-400 PLUS</p>
</td>
</tr>
                            <tr>
                                <td width="337" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2" height="58" rowspan="4">
                                    <p align="center"><b>Option</b></p>
</td>
                                <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="9">
                                    <p align="center">Automatic Ignition</p>
</td>
</tr>
                            <tr>
                                <td width="357" height="9" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">
Water Spraying Device
</p>
</td>
</tr>
                            <tr>
                                <td width="357" height="9" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">Marking Torch</p>
</td>
</tr>
                            <tr>
                                <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">AUTO NESTING PROGRAM</p>
</td>
</tr>
</tbody></table></td>
</tr>
                <tr>
                    <td colspan="3" width="755">&nbsp;</td>
</tr>
                <tr>
                    <td colspan="3" width="755">                                                <p><img src="{% static 'imgs/en/product/cutter/sub2_03_sub2_2.gif' %}" width="750" height="45" border="0"></p>
</td>
</tr>
                <tr>
                    <td valign="top" width="364">
                        <table cellpadding="0" cellspacing="0" width="90%" style="margin-left:23;">
                            <tbody><tr>
                                <td width="357" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;" height="29">
                                    <p align="center">10.4、VCA COLOR DSTN LCD DISPLAY<br>
</p>
</td>
</tr>
                            <tr>
                                <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">60GB HDD / 1.4MB FDD<br>
</p>
</td>
</tr>
                            <tr>
                                <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">
                                    <p align="center">433MHz CELERON CPU<br>
</p>
</td>
</tr>
                            <tr>
                                <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="9">
                                    <p align="center">256MB RAM<br>
</p>
</td>
</tr>
                            <tr>
                                <td width="357" height="9" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">2ⅹR232C (RS-244) Communication Port<br>
</p>
</td>
</tr>
                            <tr>
                                <td width="357" height="9" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">WINDOW98 Or XP<br>
</p>
</td>
</tr>
                            <tr>
                                <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">USB Port</p>
</td>
</tr>
</tbody></table></td>
                    <td width="197" valign="top"> <ul>
                        <li style="list-style-image:url('images/icon.gif');">5 diagrams' pattern<br></li>
                        <li style="list-style-image:url('images/icon.gif');">Repeat cutting/ deposition of straight line<br></li>
                        <li style="list-style-image:url('images/icon.gif');">Moving by setting piercing point<br></li>
                        <li style="list-style-image:url('images/icon.gif');">Measuring function for using time of supplies<br>Manual nesting<br></li>
                        <li style="list-style-image:url('images/icon.gif');">Tool changing function<br></li>
                        <li style="list-style-image:url('images/icon.gif');">Inch/metric programming<br></li>
                        <li style="list-style-image:url('images/icon.gif');">Absence rotating/ enlarging/reducing 
</li>
                        <li style="list-style-image:url('images/icon.gif');">Zigzag deposition/nesting deposition<br>
</li>
                    </ul>
</td>
                    <td width="194" valign="top"><ul>
                        <li style="list-style-image:url('images/icon.gif');">Cutting function for remained material<br>
Manual data input(MDI)<br>
</li>
                        <li style="list-style-image:url('images/icon.gif');">Simulation function<br>
</li>
                        <li style="list-style-image:url('images/icon.gif');">Using ESSI/EAI program<br>
</li>
                        <li style="list-style-image:url('images/icon.gif');">Absolute value/sufficient value programming<br>
</li>
                        <li style="list-style-image:url('images/icon.gif');">Absence rotating<br></li>
                        <li style="list-style-image:url('images/icon.gif');">Self-diagnosis<br></li>
                        <li style="list-style-image:url('images/icon.gif');">Compulsory cutting function<br></li>
                        <li style="list-style-image:url('images/icon.gif');">Back Driving<br></li>
                        <li style="list-style-image:url('images/icon.gif');">Adjusting preheating time<br></li>
                        <li style="list-style-image:url('images/icon.gif');">Symmetrical cutting</li>
                    </ul>
</td>
</tr>
</tbody></table></td>
</tr>
</div>
{% endblock %}