{% extends "../../base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../left-navbar.html" %}
<!-- 용접기 제품 - CO2 용접기 -->
<div class="welding-product">
    <tr>
        <td width="750">
            <img src="{% static 'imgs/page_intro/en/cnc_gas_en.gif' %}" width="745" height="35"
                alt="" style="padding-left: 20px;">
        </td>
    </tr>
    <div class="title"> CNC GAS CUTTING MACHINE</div>
    <td width="750" valign="top" height="571">

        <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="750">
                        <table id="Table_01" width="755" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="755">

                                        <p><img src="{% static 'imgs/product_info/cutter/cnc/sub2_03_sub3_1.gif' %}"
                                                width="750" height="320" border="0"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="755">
                                        <p><img src="{% static '/imgs/en/product/welding/co2/sub2_m_09.gif' %}"
                                                width="750" height="45" border="0"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="755" style="padding-right: 34px;">
                                        <ul>
                                            <li
                                                style="list-style-image:url('images/icon.gif'); margin-right:25; margin-left:20;">
                                                <div align="justify">High-class pressure regulator is used for
                                                    high-pressure gas, preheating gas, fuel gas, and those are adjusted
                                                    in gas manipulating device, and also keep certain pressure.
                                                </div>
                                            </li>
                                            <li
                                                style="list-style-image:url('images/icon.gif'); margin-right:25; margin-left:20;">
                                                <div align="justify">Torch transfer GUIDE-RAIL is a monolithic type with
                                                    FRAME, and thus there is no bending phenomenon or twisting, on the
                                                    other hand, large bearing is fitted with TORCH CARRIAGE, so that
                                                    there is no trembling or vibration as it is transferred.
                                                </div>
                                            </li>
                                            <li
                                                style="list-style-image:url('images/icon.gif'); margin-right:25; margin-left:20;">
                                                <div align="justify">It is able to make Up/down adjustment on separate
                                                    TORCH and whole TORCH.</div>
                                            </li>

                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="755">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="755">
                                        <p><img src="{% static '/imgs/en/product/welding/co2/sub2_m_08.gif' %}"
                                                width="750" height="45" alt=""></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="755">
                                        <table cellpadding="0" cellspacing="0" width="93%" style="margin-left: 22px; margin-right: 40px;">
                                            <tbody>
                                                <tr>
                                                    <td width="337"
                                                        style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1" colspan="2" height="29">
                                                        <p align="center"><b>USE</b></p>
                                                    </td>
                                                    <td width="357"
                                                        style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;"
                                                        height="29">

                                                        <p align="center">GAS Cutting Machine</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="168"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1" height="58" rowspan="2">

                                                        <p align="center"><b>Driving Method</b></p>
                                                    </td>
                                                    <td width="168" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        height="29">
                                                        <p align="center"><b>X Axis
                                                            </b></p>
                                                    </td>
                                                    <td width="357"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                                        height="29">

                                                        <p align="center">Rack &amp; Pinion
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="168" height="29" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>Y Axis</b></p>
                                                    </td>
                                                    <td width="357" height="29"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">

                                                        <p align="center">Rack &amp; Pinion Double Axis</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337" height="26" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        colspan="2">
                                                        <p align="center"><b>Rail Width(mm)</b></p>
                                                    </td>
                                                    <td width="357" height="26"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">3,100 ~ 10,500</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="168" height="57" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        rowspan="2">
                                                        <p align="center"><b>Effective Cutting Width(mm)</b></p>
                                                    </td>
                                                    <td width="168" height="29" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>GAS</b></p>
                                                    </td>
                                                    <td width="357" height="29"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">Rail Width - 600</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="168" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        height="28">
                                                        <p align="center"><b>PLASMA</b></p>
                                                    </td>
                                                    <td width="357"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                                        height="28">
                                                        <p align="center">Rail Width - 1,500</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1" colspan="2" height="29">

                                                        <p align="center"><b>Cutting Speed(mm/min)</b></p>
                                                    </td>
                                                    <td width="357"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                                        height="29">
                                                        <p align="center">100 ~ 6,000</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        colspan="2" height="29">

                                                        <p align="center"><b>Moving Speed(mm/min)</b></p>
                                                    </td>
                                                    <td width="357"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                                        height="29">
                                                        <p align="center">18,000</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337" height="29" colspan="2" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>Marking Speed(mm/min)</b></p>
                                                    </td>
                                                    <td width="357" height="14"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">18,000</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        colspan="2" height="29">
                                                        <p align="center"><b>Cutting Shape</b></p>
                                                    </td>
                                                    <td width="357"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                                        height="14">
                                                        <p align="center">Vertical Cutting(I-CUTTING)</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337" height="29" colspan="2" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>CNC</b></p>
                                                    </td>
                                                    <td width="357" height="29"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">D-500, HYBRID - D80</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337" height="29" colspan="2" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        rowspan="2">
                                                        <p align="center"><b>Rail</b></p>
                                                    </td>
                                                    <td width="357" height="14"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">37Kg/m (3m Unit)</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="357" height="14"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">Basic 9m</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337" height="29" colspan="2" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>Effective Cutting Width(mm)</b></p>
                                                    </td>
                                                    <td width="357" height="29"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">Rail - 2,500</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337" height="29" colspan="2" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>Gas Torch</b></p>
                                                    </td>
                                                    <td width="357" height="29"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">Basic 4EA/ Max. 10EA</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337" height="29" colspan="2" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        rowspan="2">
                                                        <p align="center"><b>PLASMA</b></p>
                                                    </td>
                                                    <td width="357" height="14"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">SUPER-400 / SUPER-400 PLUS</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="357" height="14"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">Automatic Ignition<br>
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1" colspan="2" height="29" rowspan="3">
                                                        <p align="center"><b>Option</b></p>
                                                    </td>
                                                    <td width="357"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;"
                                                        height="9">

                                                        <p align="center">Water Spraying Device<br>
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="357" height="9"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">Marking Torch<br>
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="357" height="9"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">AUTO NESTING PROGRAM
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="337"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1" colspan="2" height="22">
                                                        <p align="center"><b>Power</b></p>
                                                    </td>
                                                    <td width="357" height="22"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">220~440V</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="755">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="755">
                                        <p><img src="{% static 'imgs/en/product/cutter/sub2_03_sub3_3.gif' %}"
                                                width="750" height="45" border="0"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" width="755">
                                        <ul>
                                            <li style="list-style-image:url('images/icon.gif'); margin-left:20;" "="">Adopting 15-inch TFT color fluid display<br>
</li>
                                <li style=" list-style-image:url('images/icon.gif'); margin-left:20;" "="">Simple program writing though the input of figures in screen<br>
</li>
                                <li style=" list-style-image:url('images/icon.gif'); margin-left:20;" "="">Possible to cut complicated shape into simple and single material by using rotating function of parts<br>
</li>
                                <li style=" list-style-image:url('images/icon.gif'); margin-left:20;" "="">Possible to do multiple cutting by using “epeating function” of parts<br>
</li>
                                <li style=" list-style-image:url('images/icon.gif'); margin-left:20;" "="">Meeting RS-232C interface or floppy diskette for NC data transmission<br>
</li>
                                <li style=" list-style-image:url('images/icon.gif'); margin-left:20;" "="">Possible to do network connection with upper-leveled CAD/CAM system </li>
                            </ul>
</td>
</tr>
</tbody></table></td>
</tr>
          <tr>
              <td width=" 750" height="10">&nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
</div>
{% endblock %}