{% extends "../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../left-navbar.html" %}
  <!-- 용접기 제품 - CO2 용접기 -->
  <div class="welding-product">
    <tr>
        <td width="750">
            <img src="{% static 'imgs/page_intro/en/cold_rolling_en.gif' %}" width="745" height="35"
                alt="" style="padding-left: 20px;">
        </td>
    </tr>
    <div class="title"> COLD ROLLING BENDING MACHINE</div>
    <tr>
      <td width="750">
          <table id="Table_01" width="755" border="0" cellpadding="0" cellspacing="0">
              <tbody><tr>
                  <td width="755">

                      <p><img src="{% static 'imgs/en/product/cutter/sub2_03_sub4_1.gif' %}" width="750" height="320" border="0"></p>
</td>
</tr>
              <tr>
                  <td width="755">                                                <p><img src="{% static 'imgs/en/product/welding/co2/sub2_m_09.gif' %}" width="750" height="45" border="0"></p>
</td>
</tr>
              <tr>
                  <td width="755" style="padding-right: 34px;">
                      <ul>
                          <li style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:20;"><div align="justify">  Cold rolling bending is easy to do smooth radious bending of pipes, while those pipes are used as a steel fabric materials in wide-ranging area from large-scaled construction such as various kinds of museums, playground in school, convention center, bridge etc to rebuilding and extension construction on school and auditoriums. <br>And cold rolling bending is cheap compared with high frequency materials as well as it is possible to deliver in short time, and additionally it has the advantage of that high-quality products can be guaranteed without any change in the original quality of steel materiality.</div></li>
                         
                      </ul>
</td>
</tr>
              <tr>
                  <td width="755">&nbsp;</td>
</tr>
              <tr>
                  <td width="755">                                                <p><img src="{% static 'imgs/en/product/cutter/sub2_03_sub4_2.gif' %}" width="750" height="45" alt=""></p>
</td>
</tr>
              <tr>
                  <td width="755">                                                                                                <p><img src="{% static 'imgs/product_info/cutter/cold/sub2_03_sub4_3.gif' %}" width="750" height="200" alt=""></p>
</td>
</tr>
</tbody></table></td>
</tr>
</div>
{% endblock %}