{% extends "../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../left-navbar.html" %}
  <!-- 용접기 제품 - CO2 용접기 -->
  <div class="welding-product">
    <div class="title"> FLAME PLANER</div>
    <td width="750">

      <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
              <td rowspan="3" valign="top" height="223">
<img src="{% static 'imgs/product_info/cutter/flame/sub2_03_sub6_1.gif' %}" width="284" height="225" alt=""></td>
              <td>
<img src="{% static 'imgs/product_info/cutter/flame/sub2_m_05.gif' %}" width="466" height="18" alt=""></td>
</tr>
          <tr>
              <td>
<img src="{% static 'imgs/en/product/cutter/sub2_03_sub5_2.gif' %}" width="466" height="45" alt=""></td>
</tr>
          <tr>
              <td width="466" height="153" valign="top">
    <p align="justify" style="margin-right:30; margin-left:1rem;">  This machine is fitted with multitude torch flames that burn oxygen and LPG, it is exclusive cutting machine used for the production of F/P typed sheet steel regardless of its width, which is necessary for mass production.</p>
</td>
</tr>
          <tr>
              <td colspan="2">
<img src="{% static 'imgs/en/product/cutter/sub2_m_08.gif' %}" width="750" height="45" alt=""></td>
</tr>
          <tr>
              <td colspan="2">




                  <table cellpadding="0" cellspacing="0" width="100%" style="margin-left:23;">
                    <tbody><tr>
                        <td width="337" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2" height="29">

                            <p align="center"><b>MODEL</b></p>
</td>
                        <td width="357" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;" height="29">
                            <p align="center">FLAME PLANER</p>
</td>
</tr>
                    <tr>
                        <td width="168" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" height="58" rowspan="2">
                            <p align="center"><b>Driving Method</b></p>
</td>
                        <td width="168" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" height="29">                                                            
                            <p align="center"><b>X Axis</b></p>
</td>
                        <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">
                            <p align="center">Rack &amp; Pinion (Traveling)</p>
</td>
</tr>
                    <tr>
                        <td width="168" height="29" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">

                            <p align="center"><b>Y Axis</b></p>
</td>
                        <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">

                            <p align="center">UP/DOWN (BLOCK Concept)</p>
</td>
</tr>
                    <tr>
                        <td width="337" height="29" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2">
                            <p align="center"><b>Rail Width<br>
</b></p>
</td>
                        <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">

                            <p align="center">5,000 ~ 8,000mm</p>
</td>
</tr>
                    <tr>
                        <td width="337" height="29" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2">
                            <p align="center"><b>Effective Cutting Width<br>
</b></p>
</td>
                        <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">

                            <p align="center">Rail Width - 600mm</p>
</td>
</tr>
                    <tr>
                        <td width="337" height="29" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2">                                                                                                                        <p align="center"><b>Effective Cutting Length<br>
</b></p>
</td>
                        <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">

                            <p align="center">Rail - 2,000mm</p>
</td>
</tr>
                    <tr>
                        <td width="337" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2" height="29">
                            <p align="center"><b>Cutting Speed(mm/min)</b><b><br>
</b></p>
</td>
                        <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">

                            <p align="center">100 ~ 6,000</p>
</td>
</tr>
                    <tr>
                        <td width="337" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2" height="29">
                            <p align="center"><b>TORCH Moving Speed<br>
</b></p>
</td>
                        <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">

                            <p align="center">MANUAL</p>
</td>
</tr>
                    <tr>
                        <td width="337" height="29" colspan="2" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                                                                                                                                                    <p align="center"><b>TORCH Moving Method<br>
</b></p>
</td>
                        <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                                                                                        <p align="center">MANUAL</p>
</td>
</tr>
                    <tr>
                        <td width="337" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2" height="29">                                                            
                            <p align="center"><b>Cutting Shape<br>
</b></p>
</td>
                        <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">

                            <p align="center">FLAT BAR</p>
</td>
</tr>
                    <tr>
                        <td width="337" height="29" colspan="2" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                            <p align="center"><b>CNC
</b></p>
</td>
                        <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">

                            <p align="center">Win Plus Control</p>
</td>
</tr>
                    <tr>
                        <td width="337" height="58" colspan="2" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" rowspan="2">

                            <p align="center"><b>Rail</b></p>
</td>
                        <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">

                            <p align="center">37Kg/m (3m Unit)</p>
</td>
</tr>
                    <tr>
                        <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">

                            <p align="center">Basic 20m</p>
</td>
</tr>
                    <tr>
                        <td width="337" height="29" colspan="2" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">

                            <p align="center"><b>Gas Torch
</b></p>
</td>
                        <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">

                            <p align="center">12~30EA(Option)</p>
</td>
</tr>
                    <tr>
                        <td width="337" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2" height="87" rowspan="3">

                            <p align="center"><b>Option</b></p>
</td>
                        <td width="357" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">

                            <p align="center">Automatic Ignition</p>
</td>
</tr>
                    <tr>
                        <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                            
                            <p align="center">Water Spraying Device</p>
</td>
</tr>
                    <tr>
                        <td width="357" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">

                            <p align="center">Auto Nesting Program</p>
</td>
</tr>
</tbody></table></td>
</tr>
</tbody></table></td>
</div>
{% endblock %}