{% extends "../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../left-navbar.html" %}
  <!-- 용접기 제품 - CO2 용접기 -->
  <div class="welding-product">
    <div class="title"> HIGH FREQUENCY BENDING MACHINE</div>
    <tr>
      <td width="750">

          <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
              <tbody><tr>
                  <td>                                                <p><img src="{% static 'imgs/product_info/cutter/high/sub2_03_sub7_1.gif' %}" width="750" height="320" alt=""></p>
</td>
</tr>
              <tr>
                  <td>                                                <p><img src="{% static 'imgs/en/product/welding/co2/sub2_m_09.gif' %}" width="750" height="45" alt=""></p>
</td>
</tr>
              <tr>
                  <td>                                                <p style="margin-right:30; margin-left:1rem;" align="justify">High frequency bending is a hot rolling processing technology which section steels of various shapes such as pipe, H section steel, channel, I-Beam Are bent by using high frequency inductive heating.
                    Particularly it guarantees the quality of products in various fields such as pipelines in nuclear power plant that is required for high-quality and inboard pipelines that cost and time limit for product delivery is primarily important.
                    In addition, reduction in terms of works and quality improvement can be achieved by reducing outstanding welding works replacing elbows.</p>
</td>
</tr>
              <tr>
                  <td>&nbsp;</td>
</tr>
              <tr>
                  <td>
<img src="{% static 'imgs/product_info/cutter/high/sub2_03_sub7_2.gif' %}" width="750" height="45" alt=""></td>
</tr>
              <tr>
                  <td>




                      <table cellpadding="0" cellspacing="0" width="100%" style="margin-left:23;">
                          <tbody><tr>
                              <td width="231" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" height="29">

                                  <p align="center"><b>SIZE</b></p>
</td>
                              <td width="231" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;" height="29" bgcolor="#E6EDF1">
                                  <p align="center"><b>INCH</b></p>
</td>
                              <td width="231" height="29" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;" bgcolor="#E6EDF1">                                                            <p align="center"><b>RANGE</b></p>
</td>
</tr>
                          <tr>
                              <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" height="29">                                                            

                                  <p align="center">100A</p>
</td>
                              <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">

                                  <p align="center">4˝
</p>
</td>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">Min2D~max non limit
</p>
</td>
</tr>
                          <tr>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">

                                  <p align="center">125A</p>
</td>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">5˝
</p>
</td>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">Min2D~max non limit
</p>
</td>
</tr>
                          <tr>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">

                                  <p align="center">150A</p>
</td>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">6˝
</p>
</td>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">Min2D~max non limit
</p>
</td>
</tr>
                          <tr>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                  <p align="center">
200A
</p>
</td>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">8˝
</p>
</td>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">Min2D~max non limit
</p>
</td>
</tr>
                          <tr>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                            
                                  <p align="center">250A
</p>
</td>
                              <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">
                                  <p align="center">10˝
</p>
</td>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">Min2D~max non limit
</p>
</td>
</tr>
                          <tr>
                              <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" height="29">
                                  <p align="center">300A
</p>
</td>
                              <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">
                                  <p align="center">12˝
</p>
</td>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">Min2D~max non limit
</p>
</td>
</tr>
                          <tr>
                              <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" height="29">
                                  <p align="center">350A
</p>
</td>
                              <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">
                                  <p align="center">14˝
</p>
</td>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">Min2D~max non limit
</p>
</td>
</tr>
                          <tr>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                                                                                        
                                  <p align="center">400A
</p>
</td>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                                                                                        
                                  <p align="center">16˝
</p>
</td>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">Min2D~max non limit
</p>
</td>
</tr>
                          <tr>
                              <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" height="29">
                                  <p align="center">450A</p>
</td>
                              <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="29">
                                  <p align="center">18˝
</p>
</td>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">Min2D~max non limit
</p>
</td>
</tr>
                          <tr>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                  <p align="center">
500A</p>
</td>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">20˝
</p>
</td>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">Min2D~max non limit
</p>
</td>
</tr>
                          <tr>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                  <p align="center">
550A</p>
</td>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">22˝
</p>
</td>
                              <td width="231" height="29" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">Min2D~max non limit
</p>
</td>
</tr>
                          <tr>
                              <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" height="11">
                                  <p align="center">
600A</p>
</td>
                              <td width="231" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" height="11">
                                  <p align="center">24˝</p>
</td>
                              <td width="231" height="11" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">Min2D~max non limit</p>
</td>
</tr>
</tbody></table></td>
</tr>
              <tr>
                  <td>&nbsp;</td>
</tr>
              <tr>
                  <td>                                                <p><img src="{% static 'imgs/en/product/cutter/sub2_03_sub7_3.gif' %}" width="750" height="45" alt=""></p>
</td>
</tr>
              <tr>
                  <td>                                                <p><img src="{% static 'imgs/product_info/cutter/high/sub2_03_sub7_4.gif' %}" width="750" height="575" alt=""></p>
</td>
</tr>
</tbody></table></td>
</tr>
</div>
{% endblock %}