{% extends "../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../left-navbar.html" %}
  <!-- 용접기 제품 - CO2 용접기 -->
  <div class="welding-product">
    <div class="title"> PIPE GAS CUTTING MACHINE</div>
    <tr>
      <td width="750">
          <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
              <tbody><tr>
                  <td rowspan="3" valign="top" height="272">
<img src="{% static 'imgs/product_info/cutter/pipe_gas/sub2_03_sub9_1.gif' %}" width="284" height="302" alt=""></td>
                  <td>
<img src="{% static 'imgs/product_info/cutter/pipe_gas/sub2_m_05.gif' %}" width="466" height="18" alt=""></td>
</tr>
              <tr>
                  <td>
                            <p><img src="{% static 'imgs/en/product/cutter/sub2_03_sub5_2.gif' %}" width="466" height="45" alt=""></p>
</td>
</tr>
              <tr>
                  <td width="466" height="202" valign="top">


                      <p align="justify" style="margin-right:30; margin-left:1rem;">Manual work is possible for direct or improved 50° angle cutting of pipes regardless of the length.</p>
</td>
</tr>
              <tr>
                  <td colspan="2">
<img src="{% static 'imgs/en/product/welding/co2/sub2_m_08.gif' %}" width="750" height="45" alt=""></td>
</tr>
              <tr>
                  <td colspan="2">




                      <table cellpadding="0" cellspacing="0" width="100%" style="margin-left:23;">
                          <tbody><tr>
                              <td width="347" bgcolor="#E6EDF1" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;" colspan="2">

                                  <p align="center"><b>MODEL</b></p>
</td>
                              <td width="347" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;" bgcolor="#E6EDF1">

                                  <p align="center"><b>LW-ST-600A</b></p>
</td>
</tr>
                          <tr>
                              <td width="347" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2">

                                  <p align="center"><b>SUITABLE PIPE DIAMETER
</b></p>
</td>
                              <td width="347" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">100 - 600A
</p>
</td>
</tr>
                          <tr>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2">
                                  <p align="center"><b>SUITABLE PIPE LENGTH
</b></p>
</td>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">600 - 6,000mm
</p>
</td>
</tr>
                          <tr>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2">
                                  <p align="center"><b>SUITABLE PIPE WEIGHT
</b></p>
</td>
                              <td width="347" height="13" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">MAX.  3,000Kg
</p>
</td>
</tr>
                          <tr>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" colspan="2">
                                  <p align="center"><b>CUTTING PROCESS
</b></p>

</td>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">OXYGEN
</p>
</td>
</tr>
                          <tr>
                              <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2">                                                            <p align="center"><b>TURNING SPEED (UTTING)</b></p>
</td>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">Max.  20mm/Sec
</p>
</td>
</tr>
                          <tr>
                              <td width="173" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" rowspan="2">
                                  <p align="center"><b>CARRIAGE</b></p>
</td>
                              <td width="173" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                  <p align="center"><b>TRAVELING METHOD

</b></p>
</td>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">MANUAL
</p>
</td>
</tr>
                          <tr>
                              <td width="173" height="13" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                  <p align="center"><b>TRAVELING STROKE</b></p>
</td>
                              <td width="347" height="26" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">Max.  5,800mm
</p>
</td>
</tr>
                          <tr>
                              <td width="173" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" rowspan="2">
                                  <p align="center"><b>TORCH UP/DOWN</b></p>
</td>
                              <td width="173" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                  <p align="center"><b>METHOD
</b></p>
</td>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">MANUAL

</p>
</td>
</tr>
                          <tr>
                              <td width="173" height="13" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                  <p align="center"><b>STROKE
</b></p>
</td>
                              <td width="347" height="26" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">Max.  800mm</p>
</td>
</tr>
                          <tr>
                              <td width="173" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" rowspan="2">
                                  <p align="center"><b>TORCH</b></p>
</td>
                              <td width="173" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                  <p align="center"><b>METHOD
</b></p>
</td>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">MANUAL
</p>
</td>
</tr>
                          <tr>
                              <td width="173" height="13" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                  <p align="center"><b>ANGLE</b></p>
</td>
                              <td width="347" height="26" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">-50 &amp; +50
</p>
</td>
</tr>
                          <tr>
                              <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2">
                                  <p align="center"><b>IGNITION


</b></p>
</td>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">MANUAL


</p>
</td>
</tr>
                          <tr>
                              <td width="347" colspan="2" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                            <p align="center"><b>TABLE HEIGHT</b></p>
</td>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">(FL +800)</p>
</td>
</tr>
                          <tr>
                              <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2">
                                  <p align="center"><b>POWER SUPPLY</b></p>

</td>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">AC 220V X 3Ф X 60Hz</p>
</td>
</tr>
                          <tr>
                              <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" colspan="2">
                                  <p align="center"><b>TOTAL ELECTRIC POWER</b></p>
</td>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">3Kw</p>
</td>
</tr>
</tbody></table></td>
</tr>
</tbody></table></td>
</tr>
</div>
{% endblock %}