{% extends "../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../left-navbar.html" %}
  <!-- 용접기 제품 - CO2 용접기 -->
  <div class="welding-product">
    <div class="title"> PIPE ROASTER</div>
    <tr>
      <td width="750">
          <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
              <tbody><tr>
                  <td rowspan="3" valign="top" height="272">
<img src="{% static 'imgs/product_info/cutter/coaster/sub2_03_sub8_1.gif' %}" width="284" height="242" alt=""></td>
                  <td>
<img src="{% static 'imgs/product_info/cutter/coaster/sub2_m_05.gif' %}" width="466" height="18" alt=""></td>
</tr>
              <tr>
                  <td>
                            <p><img src="{% static 'imgs/product_info/cutter/coaster/sub2_03_sub5_2.gif' %}" width="466" height="45" alt=""></p>
</td>
</tr>
              <tr>
                  <td width="466" height="202" valign="top">


                      <ul>
                          <li align="justify" style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:0;"><div align="justify">LW-CO-600A는 주축대 및 주행레일을 조합하고, 에어 플라즈마 또는 가스 절단기를 장착하여, 출상/의장용의 각종 파이프를 절단할 수 있어 복잡하고 다양한 형태의 파이프 구조물(지관/직관/모관/다경홀)과 배관부품 제작에 폭넓게 이용 할 수 있습니다.
</div></li>
                          <li align="justify" style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:0;"><div align="justify">성능이 검증된 다축(3축+부가 1축, 4축+1축)의 SERVO CONTROL 시스템을 적용하여, 매우 다양한 응용이 가능합니다.
</div></li>
                          <li align="justify" style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:0;"><div align="justify">SERVO CONTROL 축수에 따라 해상/육상용 파이프 절단이 가능합니다.
(※ 고객님의 주문에 따라 YAG레이저 절단기/GAS 절단기/PLASMA 절단기 장착해 드립니다.)</div></li>
                      </ul>
</td>
</tr>
              <tr>
                  <td colspan="2">
<img src="{% static 'imgs/product_info/cutter/coaster/sub2_m_08.gif' %}" width="750" height="45" alt=""></td>
</tr>
              <tr>
                  <td colspan="2">




                      <table cellpadding="0" cellspacing="0" width="100%" style="margin-left:23;">
                          <tbody><tr>
                              <td width="347" bgcolor="#E6EDF1" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;">

                                  <p align="center"><b>MODEL</b></p>
</td>
                              <td width="347" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;" bgcolor="#E6EDF1">

                                  <p align="center"><b>CNC PIPE COASTER-600A (LW-CO-600A)</b></p>
</td>
</tr>
                          <tr>
                              <td width="347" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">

                                  <p align="center"><b>ROBOT</b></p>
</td>
                              <td width="347" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">Win plust control
</p>
</td>
</tr>
                          <tr>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">

                                  <p align="center"><b> CONTROLLED AXES</b></p>
</td>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">3축+부가1축 / 4축+부가1축
</p>
</td>
</tr>
                          <tr>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1" rowspan="2">

                                  <p align="center"><b>CUTTING CAPACITY</b></p>
</td>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">stpg 50A~600A     L=6,000mm Max</p>
</td>
</tr>
                          <tr>
                              <td width="347" height="13" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">D-8,000:Max 20T     D-12,000:Max 35T
</p>
</td>
</tr>
                          <tr>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">
                                  <p align="center"><b>PLASMA CUTTING EQUIPMENT</b></p>

</td>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">공냉식 또는 수냉식 절단 토치 (Option)
</p>
</td>
</tr>
                          <tr>
                              <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                  <p align="center"><b>PROGRAMMING</b></p>

</td>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">pipe Cutting Program
</p>
</td>
</tr>
                          <tr>
                              <td width="347" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" rowspan="2">
<p align="center"><b>UTILITY</b></p>
</td>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">Power : AC 220V 3Ф 50/60Hz 25KVA
</p>
</td>
</tr>
                          <tr>
                              <td width="347" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                                  <p align="center">Compressed Air : 6~8 Kg/㎠ 50L/Min</p>
</td>
</tr>
</tbody></table></td>
</tr>
              <tr>
                  <td colspan="2">&nbsp;</td>
</tr>
              <tr>
                  <td colspan="2">                                                
                      <p><img src="{% static 'imgs/product_info/cutter/coaster/sub2_03_sub8_2.gif' %}" width="750" height="45" alt=""></p>
</td>
</tr>
              <tr>
                  <td colspan="2">                                                <p><img src="{% static 'imgs/product_info/cutter/coaster/sub2_03_sub8_3.gif' %}" width="750" height="200" alt=""></p>
</td>
</tr>
</tbody></table></td>
</tr>
</div>
{% endblock %}