{% extends "../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../left-navbar.html" %}
  <!-- 용접기 제품 - CO2 용접기 -->
  <div class="welding-product">
    <tr>
        <td width="750">
            <img src="{% static 'imgs/page_intro/en/pipe_rotator_en.gif' %}" width="745" height="35"
                alt="" style="padding-left: 20px;">
        </td>
    </tr>
    <div class="title"> PIPE ROTATER</div>
    <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
      <tbody>
      <tr>
          <td width="750">
              <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
                  <tbody><tr>
                      <td rowspan="3" valign="top" height="272">
<img src="{% static 'imgs/product_info/cutter/rotator/sub2_03_sub10_1.gif' %}" width="284" height="357" alt=""></td>
                      <td>
<img src="{% static 'imgs/product_info/cutter/rotator/sub2_m_05.gif' %}" width="466" height="18" alt=""></td>
</tr>
                  <tr>
                      <td>
                                <p><img src="{% static 'imgs/en/product/cutter/sub2_03_sub5_2.gif' %}" width="466" height="45" alt=""></p>
</td>
</tr>
                  <tr>
                      <td width="466" height="202" valign="top">


                        <p align="justify" style="margin-right:30px; margin-left:1rem;">
                            LW 600A is an automatic welder to be used to connect tubes including pipes and elbows and a large-diameter metallic pipe rotated for welding.</p>
</td>
</tr>
                  <tr>
                      <td colspan="2">
<img src="{% static 'imgs/en/product/welding/co2/sub2_m_08.gif' %}" width="750" height="45" alt=""></td>
</tr>
                  <tr>
                      <td colspan="2">




                        <table cellpadding="0" cellspacing="0" width="93%" style="margin-left: 22px; margin-right: 40px;">
                            <tbody><tr>
                                <td width="268" bgcolor="#E6EDF1" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;">

                                    <p align="center"><b>MODEL</b></p>
</td>
                                <td width="213" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;" bgcolor="#E6EDF1">

                                    <p align="center"><b>LW-RO-600A</b></p>
</td>
                                <td width="213" bgcolor="#E6EDF1" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">                                                            <p align="center"><b>LW-RO-1000A</b></p>
</td>
</tr>
                            <tr>
                                <td width="268" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;" bgcolor="#E6EDF1">

                                    <p align="center"><b>LOAD PIPE</b></p>
</td>
                                <td width="213" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">50~60A (FLANGE Base)</p>
</td>
                                <td width="213" style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">200~1,000A (FLANGE Base)</p>
</td>
</tr>
                            <tr>
                                <td width="268" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                    <p align="center"><b>C/P</b></p>
</td>
                                <td width="213" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">
1,500Kg</p>
</td>
                                <td width="213" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">3,000Kg</p>
</td>
</tr>
                            <tr>
                                <td width="268" height="13" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                    <p align="center"><b>ROLL SIZE</b></p>
</td>
                                <td width="213" height="26" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">Ф150</p>
</td>
                                <td width="213" height="26" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                    <p align="center">Ф220</p>
</td>
</tr>
                            <tr>
                                <td width="268" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                    <p align="center"><b>TURNING SPEED
</b></p>
</td>
                                <td width="427" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" colspan="2">
                                    <p align="center">0~600mm/Min
</p>
</td>
</tr>
                            <tr>
                                <td width="268" height="13" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                    <p align="center"><b>TILTING ANGLE


</b></p>
</td>
                                <td width="427" height="26" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" colspan="2">
                                    <p align="center">±45 °</p>
</td>
</tr>
                            <tr>
                                <td width="268" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;" rowspan="2">

                                    <p align="center"><b>CONTROL SYSTEM</b></p>
</td>
                                <td width="427" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" colspan="2">
                                    <p align="center">MAIN P/L &amp; Emergency S/W</p>
</td>
</tr>
                            <tr>
                                <td width="427" height="13" colspan="2" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">                                                            <p align="center">POOT S/W
</p>
</td>
</tr>
                            <tr>
                                <td width="268" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">                                                            
                                    <p align="center"><b>SAFETY DEVICE</b></p>
</td>
                                <td width="427" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" colspan="2">
                                    <p align="center">TILTING SAFETY SENSOR
<br>
</p>
</td>
</tr>
                            <tr>
                                <td width="268" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                    <p align="center"><b>TILTING Speed Reducer Protection</b></p>

</td>
                                <td width="427" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;" colspan="2">
                                    <p align="center">FRAME Internal Speed Reducer </p>
</td>
</tr>
                            <tr>
                                <td width="268" bgcolor="#E6EDF1" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                    <p align="center"><b>TURNING ROLL B.R.G</b></p>
</td>
                                <td width="427" style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;" colspan="2">
                                    <p align="center">CHAIN  Protection COVER
</p>
</td>
</tr>
</tbody></table></td>
</tr>
</tbody></table></td>
</tr>
      <tr>
          <td width="750" height="10">&nbsp;</td>
</tr>
</tbody></table>
</div>
{% endblock %}