{% extends "../../base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../left-navbar.html" %}
<!-- 용접기 제품 - CO2 용접기 -->
<div class="welding-product">
    <tr>
        <td width="750">
            <img src="{% static 'imgs/page_intro/en/pipe_coaster_en.gif' %}" width="745" height="35"
                alt="" style="padding-left: 20px;">
        </td>
    </tr>
    <div class="title"> PIPE COASTER</div>
    <tr>
        <td width="750">
            <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td rowspan="3" valign="top" height="272">
                            <img src="{% static 'imgs/product_info/cutter/coaster/sub2_03_sub8_1.gif' %}" width="284"
                                height="242" alt=""></td>
                        <td>
                            <img src="{% static 'imgs/product_info/cutter/coaster/sub2_m_05.gif' %}" width="466"
                                height="18" alt=""></td>
                    </tr>
                    <tr>
                        <td>
                            <p><img src="{% static 'imgs/en/product/cutter/sub2_03_sub5_2.gif' %}" width="466"
                                    height="45" alt=""></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="466" height="202" valign="top" style="padding-right: 33px;">
                            <ul>
                                <li align="justify"
                                    style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:0;">
                                    <div align="justify">LW-CO-600A has head stock and running rails and is equipped
                                        with air plasma or gas cutter to cut various pipes for 출상/의장용; this product may
                                        be widely used in manufacturing complicated and various types of pipe structures
                                        (manifold, straight, header, and multi-diameter hole pipes) and piping parts.
                                    </div>
                                </li>
                                <li align="justify"
                                    style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:0;">
                                    <div align="justify">Multi axial (3 axes + 1 axis, 4 axes + 1 axis) servo control
                                        system is applied with verification and various kinds of application is
                                        possible.
                                    </div>
                                </li>
                                <li align="justify"
                                    style="list-style-image:url('images/icon.gif'); margin-right:30; margin-left:0;">
                                    <div align="justify">Marine/Land pipe cutting possible depending upon the number of
                                        servo control axes. (※ Tag Laser Cutter, Gas Cutter, or Plasma Cutter is
                                        installed by the customer's order.)
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="{% static 'imgs/en/product/welding/co2/sub2_m_08.gif' %}" width="750" height="45"
                                alt=""></td>
                    </tr>
                    <tr>
                        <td colspan="2">




                            <table cellpadding="0" cellspacing="0" width="93%"
                                style="margin-left: 22px; margin-right: 40px;">

                                <tbody>
                                    <tr>
                                        <td width="347" bgcolor="#E6EDF1"
                                            style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;">

                                            <p align="center"><b>MODEL</b></p>
                                        </td>
                                        <td width="347"
                                            style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;"
                                            bgcolor="#E6EDF1">

                                            <p align="center"><b>CNC PIPE COASTER-600A (LW-CO-600A)</b></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="347"
                                            style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;"
                                            bgcolor="#E6EDF1">

                                            <p align="center"><b>ROBOT</b></p>
                                        </td>
                                        <td width="347"
                                            style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">Win plust control
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="347"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                            bgcolor="#E6EDF1">

                                            <p align="center"><b> CONTROLLED AXES</b></p>
                                        </td>
                                        <td width="347"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">3 Axis+ Additional 1 Axis / 4 Axis + Additional 1 Axis</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="347"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                            bgcolor="#E6EDF1" rowspan="2">

                                            <p align="center"><b>CUTTING CAPACITY</b></p>
                                        </td>
                                        <td width="347"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">stpg 50A~600A L=6,000mm Max</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="347" height="13"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">D-8,000:Max 20T D-12,000:Max 35T
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="347"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                            bgcolor="#E6EDF1">
                                            <p align="center"><b>PLASMA CUTTING EQUIPMENT</b></p>

                                        </td>
                                        <td width="347"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">Air-Cooled Or Water-Cooled Cutting Torch (Option)</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="347" bgcolor="#E6EDF1"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                            <p align="center"><b>PROGRAMMING</b></p>

                                        </td>
                                        <td width="347"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">pipe Cutting Program
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="347" bgcolor="#E6EDF1"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                            rowspan="2">
                                            <p align="center"><b>UTILITY</b></p>
                                        </td>
                                        <td width="347"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">Power : AC 220V 3Ф 50/60Hz 25KVA
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="347"
                                            style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                                            <p align="center">Compressed Air : 6~8 Kg/㎠ 50L/Min</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p><img src="{% static 'imgs/en/product/cutter/sub2_03_sub8_2.gif' %}" width="750"
                                    height="45" alt=""></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p><img src="{% static 'imgs/product_info/cutter/coaster/sub2_03_sub8_3.gif' %}" width="750"
                                    height="200" alt=""></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</div>
{% endblock %}