{% extends './base.html' %}
{% block content %}
    <div class="banner">
        <div class="banner_info">
            <div class="main_title">국내외 협력사</div>
            <div class="main_content">이미지</div>
        </div>
        <div class="banner_img">
        </div>
    </div>
    <div class="main_bar">
        <div class="main_bar_info">
            <div class="nav1_1">
                <div class="main_title">인증서</div>
                <div class="main_content">이미지</div>
            </div>
            <div class="nav1_2">
                <div class="main_title title_last">수출 국가</div>
                <div class="main_content">이미지</div>
            </div>
        </div>
        <div class="main_bar_product">
            <div class="main_title">용접기</div>
            <div class="main_content">이미지</div>
        </div>
        <div class="main_bar_product">
            <div class="main_title">용접기 소모품</div>
            <div class="main_content">이미지</div>
        </div>
        <div class="main_bar_product">
            <div class="main_title title_last">절단기</div>
            <div class="main_content">이미지</div>
        </div>
    </div>
{% endblock %}