{% extends "../../../base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../../left-navbar.html" %}
<!-- 용접기 제품 - CO2 용접기 -->
<div class="welding-product">
  <div class="title"> CO2 용 / 접 / 기</div>
  <nav class="co2-welding">
        <a class="nav-link" href="/product/weldig/co2-weldig/miracle-600a">MIRACLE 600A</a>
        <a class="nav-link" href="/product/weldig/co2-weldig/miracle-500a">MIRACLE 500A</a>
        <a class="nav-link active" href="/product/weldig/co2-weldig/miracle-350a">MIRACLE 350A</a>
        <a class="nav-link" href="/product/weldig/co2-weldig/ship-weldig">선상용접기</a>
    </ul>
  </nav>
  <tr>
    <td width="750">
      <table id="Table_01" width="750">
        <tbody>
          <tr>
            <td>
              <img src="/static/imgs/product_info/welding_machine/CO2/sunsang/sub2_3.gif" width="750" height="443"
                alt=""></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</div>
{% endblock %}