{% extends "../../../base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% include "../../left-navbar.html" %}
<!-- 용접기 제품 - CO2 용접기 -->
<div class="welding-product">
    <tr>
        <td width="750">
            <img src="/static/imgs/product_info/welding_machine/CO2/miracle500A/sub2_navi.gif" width="745" height="35"
                alt="" style="padding-left: 20px;">
        </td>
    </tr>
    {% include "./gouging.html" %}
    <td width="750" valign="top" height="656">

        <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="750">
                        <table id="Table_01" width="750" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td rowspan="3">
                                        <img src="{% static 'imgs/product_info/gouging/sub2_sub2_1.gif' %}" width="284"
                                            height="388" alt=""></td>
                                    <td>
                                        <img src="{% static 'imgs/product_info/gouging/sub2_m_05.gif' %}" width="466"
                                            height="18" alt=""></td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="{% static 'imgs/en/product/welding/gouging/sub2_m_06.gif' %}"
                                            width="466" height="45" alt=""></td>
                                </tr>
                                <tr>
                                    <td width="466" height="325" valign="top">
                                        <p align="justify" style="margin-right:30px; margin-left:1rem;">LWG-1000A air arc
                                            gouging uses carbon gouging rods made of carbon and graphite as the
                                            electrode; the parent material is instantaneously melted by the
                                            high-temperature heat of arc generated between this electrode and cuts,
                                            grooves, and peels the melted metal using the strong wind of compressed air;
                                            this method is widely used in the steel industry</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <img src="{% static 'imgs/en/product/welding/gouging/sub2_m_08.gif' %}"
                                            width="750" height="45" alt=""></td>
                                </tr>
                                <tr>
                                    <td colspan="2">

                                        <table cellpadding="0" cellspacing="0" width="93%" style="margin-left: 22px; margin-right: 40px;">
                                            <tbody>
                                                <tr>
                                                    <td width="347"
                                                        style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:white; border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1">
                                                        <p align="center"><b>Rated Output Current<br>
                                                            </b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-top-width:2; border-right-width:1; border-bottom-width:1; border-top-color:rgb(120,136,145); border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-top-style:solid; border-right-style:none; border-bottom-style:solid;">

                                                        <p align="center">1000A</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1">
                                                        <p align="center"><b>Rated Primary Voltage</b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">

                                                        <p align="center">220V/ 380V/ 440V
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1">
                                                        <p align="center"><b>Rated Primary Input</b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">75KVA</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1">
                                                        <p align="center"><b>Control Range of Output Current</b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">100&nbsp;~&nbsp;1000A
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1">
                                                        <p align="center"><b>No-Load Voltage</b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">89V</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="347" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>Load Voltage</b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">43V</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="347" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>Rate of Use<br>
                                                            </b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">60%
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="347" bgcolor="#E6EDF1"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;">
                                                        <p align="center"><b>Frequency<br>
                                                            </b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">60Hz</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1">
                                                        <p align="center"><b>External Dimensions<br>
                                                            </b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(204,204,204); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">600X900X1,080</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:solid; border-bottom-style:solid;"
                                                        bgcolor="#E6EDF1">
                                                        <p align="center"><b>Weight
                                                            </b></p>
                                                    </td>
                                                    <td width="347"
                                                        style="border-right-width:1; border-bottom-width:1; border-right-color:rgb(204,204,204); border-bottom-color:rgb(120,136,145); border-right-style:none; border-bottom-style:solid;">
                                                        <p align="center">280kg</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p><img src="{% static 'imgs/en/product/welding/gouging/sub2_m_09.gif' %}"
                                                width="750" height="45" alt=""></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding-right: 27px;">
                                        <ul>
                                            <li style="list-style-image:url('images/icon.gif'); margin-left:30;">As the
                                                output of Saturable Reactor Power is freely adjusted, accurate and
                                                minute cutting has become possible.<br>
                                            </li>
                                            <li style="list-style-image:url('images/icon.gif'); margin-left:30;">
                                                Securely designed internal devices do not generate internal loss,
                                                vibration, or noise and the lifecycle is almost permanent.<br>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="750">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </td>
</div>

{% endblock %}