{% extends '../base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/catalogue_contact.css' %}">
<div class="catalogue_cat_title">
  <div class="catalogue_title_comp">회사 소개</div>
  <div class="catalogue_title_prod">제품 카탈로그 1</div>
  <div class="catalogue_title_prod">제품 카탈로그 2</div>
</div>
<div class="catalogue_catalogue">
  <div class="catalogue_comp">
    <a href="#">
      <img class="catalogue_comp_img" src="/static/imgs/catalogue/comp.png">
    </a>
    <a class="catalogue_a" href="#">다운로드</a>
  </div>
  <div class="catalogue_prod">
    <a href="#">
      <img class="catalogue_prod_img" src="/static/imgs/catalogue/cata1.png">
    </a>
    <a class="catalogue_a" href="#">다운로드</a>
  </div>
  <div class="catalogue_prod">
    <a href="#">
      <img class="catalogue_prod_img" src="/static/imgs/catalogue/cata2.png">
    </a>
    <a class="catalogue_a" href="#">다운로드</a>
  </div>
</div>

<!--인증서-->
<div class="cat_top">인 / 증 / 서</div>
<table id="Table_01" class="catalogue_table">
  <tr>
    <td width="750">
      <img src="/static/imgs/tech_sit/sub3_m_01.gif">
    </td>
  </tr>
  <tr>
    <td width="750">
      <p><img src="/static/imgs/tech_sit/sub3_m_02.gif"></p>
    </td>
  </tr>
  <tr>
    <td width="750">
      <p><img src="/static/imgs/tech_sit/sub3_m_03.gif"></p>
    </td>
  </tr>
  <tr>
    <td width="750">
      <p>
        <img src="/static/imgs/tech_sit/sub3_m_04.gif">
        <img src="/static/imgs/tech_sit/sub3_m_05.gif">
        <img src="/static/imgs/tech_sit/sub3_m_06.gif">
      </p>
    </td>
  </tr>
</table>
{% endblock %}